force-app/main/default/flows/Acquisition_Deal_Update_Comps_fields.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Error_Message</name>
        <label>Error Message</label>
        <locationX>973</locationX>
        <locationY>21</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>runningUser</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>errorMessage</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Not_recognised_name</name>
        <label>Not recognised name</label>
        <locationX>459</locationX>
        <locationY>27</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>runningUser</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>Could not recognise the name: {!inputObjectName}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Success_Message</name>
        <label>Success Message</label>
        <locationX>189</locationX>
        <locationY>570</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>acquisitionDealId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>Data from {!inputObjectName} updated successfully</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>assign_Acquisition_Deal_Id</name>
        <label>assign Acquisition Deal Id</label>
        <locationX>111</locationX>
        <locationY>355</locationY>
        <assignmentItems>
            <assignToReference>acquisitionDealId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>comps.Acquisition_Deal__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Success_Message</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Acquisition_Deal_Id_0</name>
        <label>assign Acquisition Deal Id</label>
        <locationX>276</locationX>
        <locationY>360</locationY>
        <assignmentItems>
            <assignToReference>acquisitionDealId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>primaryTerm.Acquisition_Deal__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Success_Message</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Acquisition_Deal_Id_0_0</name>
        <label>assign Acquisition Deal Id</label>
        <locationX>436</locationX>
        <locationY>363</locationY>
        <assignmentItems>
            <assignToReference>acquisitionDealId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>title.LAQ_Acquisition_Deal__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Success_Message</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Acquisition_Deal_Id_Financials</name>
        <label>Assign Acquisition Deal Id</label>
        <locationX>607</locationX>
        <locationY>343</locationY>
        <assignmentItems>
            <assignToReference>acquisitionDealId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>financials.Acquisition_Deal__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Success_Message</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Which_Object_triggers_the_update</name>
        <label>Which Object triggers the update?</label>
        <locationX>202</locationX>
        <locationY>25</locationY>
        <defaultConnector>
            <targetReference>Not_recognised_name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Comps_option</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inputObjectName</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>Comps</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fetch_Comps_Record</targetReference>
            </connector>
            <label>Comps</label>
        </rules>
        <rules>
            <name>Primary_Term_option</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inputObjectName</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>Primary Term</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fetch_Primary_Term_Record</targetReference>
            </connector>
            <label>Primary Term</label>
        </rules>
        <rules>
            <name>Title_option</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inputObjectName</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>Title</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fetch_Title_Record</targetReference>
            </connector>
            <label>Title</label>
        </rules>
        <rules>
            <name>Financials_option</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inputObjectName</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>Financials</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fetch_Financials_Record</targetReference>
            </connector>
            <label>Financials</label>
        </rules>
    </decisions>
    <description>Update the following fields on Acqusisition Deal:
- Pimary Terms
- Comps
- Title


20170404 - Added support for Financials object
20170404 - Added Primary Terms copying of Rights the Distribution Fee Applies to
20170405 - added Reason if not confirmed by TV</description>
    <formulas>
        <name>errorMessage</name>
        <dataType>String</dataType>
        <expression>{!$Label.FlowErrorMessage}</expression>
    </formulas>
    <formulas>
        <name>runningUser</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>Acquisition Deal Update Comps fields {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Acquisition Deal Update Long Text Fields and Multipicklists.v1</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Fetch_Comps_Record</name>
        <label>Fetch Comps Record</label>
        <locationX>117</locationX>
        <locationY>143</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Comps_fields</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Message</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputRecId</elementReference>
            </value>
        </filters>
        <object>Comps__c</object>
        <outputReference>comps</outputReference>
        <queriedFields>Digital_Comps__c</queriedFields>
        <queriedFields>Physical_Comps_Summary__c</queriedFields>
        <queriedFields>Comps_Detail_for_Alternate_Revenue__c</queriedFields>
        <queriedFields>Acquisition_Deal__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Fetch_Financials_Record</name>
        <label>Fetch Financials Record</label>
        <locationX>635</locationX>
        <locationY>156</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Financials</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Message</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputRecId</elementReference>
            </value>
        </filters>
        <object>Financials__c</object>
        <outputReference>financials</outputReference>
        <queriedFields>Key_P_L_Assumptions__c</queriedFields>
        <queriedFields>Strategic_Justification__c</queriedFields>
        <queriedFields>Financial_Summary__c</queriedFields>
        <queriedFields>Acquisition_Deal__c</queriedFields>
        <queriedFields>Reason_if_not_confirmed_by_TV__c</queriedFields>
        <queriedFields>Marketing_Forecast_Rationale__c</queriedFields>
        <queriedFields>Origination_Forecast_Rationale__c</queriedFields>
        <queriedFields>Theatrical_Forecast_Rationale__c</queriedFields>
        <queriedFields>Physical_HE_Forecast_Rationale__c</queriedFields>
        <queriedFields>Int_l_TV_SVOD_Trans_F_cast_Rationale__c</queriedFields>
        <queriedFields>Domestic_Transactional_F_cast_Rationale__c</queriedFields>
        <queriedFields>Domestic_TV_SVOD_Forecast_Rationale__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Fetch_Primary_Term_Record</name>
        <label>Fetch Primary Term Record</label>
        <locationX>277</locationX>
        <locationY>148</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Primary_Terms_fields</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Message</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputRecId</elementReference>
            </value>
        </filters>
        <object>Primary_Terms__c</object>
        <outputReference>primaryTerm</outputReference>
        <queriedFields>Acquisition_Deal__c</queriedFields>
        <queriedFields>Other_Deal_Structure__c</queriedFields>
        <queriedFields>Exclusion_within_Territories__c</queriedFields>
        <queriedFields>Acquisition_Territories__c</queriedFields>
        <queriedFields>Other_Territories__c</queriedFields>
        <queriedFields>Deal_Structure__c</queriedFields>
        <queriedFields>Further_Details__c</queriedFields>
        <queriedFields>Universal_s_Share_of_Receipts__c</queriedFields>
        <queriedFields>Other_Options_details__c</queriedFields>
        <queriedFields>PR_Obligation__c</queriedFields>
        <queriedFields>Clearances_Details_of_the_Exclusions__c</queriedFields>
        <queriedFields>Music_Payments_Details_of_the_Exclusions__c</queriedFields>
        <queriedFields>Other_Conditions__c</queriedFields>
        <queriedFields>Excluded_Territories__c</queriedFields>
        <queriedFields>Future_production_details__c</queriedFields>
        <queriedFields>Other_Payment_Terms__c</queriedFields>
        <queriedFields>Other_Financial_Terms__c</queriedFields>
        <queriedFields>Costs_on_Universals_resp__c</queriedFields>
        <queriedFields>Commercial_Rationale__c</queriedFields>
        <queriedFields>Other_Costs_Comments__c</queriedFields>
        <queriedFields>Licensor_Holdbacks__c</queriedFields>
        <queriedFields>Universal_Holdbacks__c</queriedFields>
        <queriedFields>Rights_the_Distribution_Fee_Applies_to__c</queriedFields>
        <queriedFields>Licensors_Release_Condition_Details__c</queriedFields>
        <queriedFields>Universal_Release_Condition_Details__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Fetch_Title_Record</name>
        <label>Fetch Title Record</label>
        <locationX>437</locationX>
        <locationY>151</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Title_fields</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Message</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputRecId</elementReference>
            </value>
        </filters>
        <object>Title__c</object>
        <outputReference>title</outputReference>
        <queriedFields>LAQ_Ready_for_Release_Date__c</queriedFields>
        <queriedFields>LAQ_Release_Date_OK__c</queriedFields>
        <queriedFields>LAQ_Title_Synopsis__c</queriedFields>
        <queriedFields>LAQ_Acquisition_Deal__c</queriedFields>
        <queriedFields>LAQ_Release_Date_Strategy__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Comps_fields</name>
        <label>Update Comps fields</label>
        <locationX>113</locationX>
        <locationY>244</locationY>
        <connector>
            <targetReference>assign_Acquisition_Deal_Id</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Message</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>comps.Acquisition_Deal__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Comps_Detail_for_Alternate_Revenue__c</field>
            <value>
                <elementReference>comps.Comps_Detail_for_Alternate_Revenue__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Digital_Comps__c</field>
            <value>
                <elementReference>comps.Digital_Comps__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Physical_Comps_Summary__c</field>
            <value>
                <elementReference>comps.Physical_Comps_Summary__c</elementReference>
            </value>
        </inputAssignments>
        <object>Acquisition_Deal__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Financials</name>
        <label>Update Financials</label>
        <locationX>635</locationX>
        <locationY>244</locationY>
        <connector>
            <targetReference>Assign_Acquisition_Deal_Id_Financials</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Message</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>financials.Acquisition_Deal__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Domestic_TV_SVOD_Forecast_Rationale__c</field>
            <value>
                <elementReference>financials.Domestic_TV_SVOD_Forecast_Rationale__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Domestic_Transactional_F_cast_Rationale__c</field>
            <value>
                <elementReference>financials.Domestic_Transactional_F_cast_Rationale__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Financial_Summary__c</field>
            <value>
                <elementReference>financials.Financial_Summary__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Int_l_TV_SVOD_Trans_F_cast_Rationale__c</field>
            <value>
                <elementReference>financials.Int_l_TV_SVOD_Trans_F_cast_Rationale__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Key_P_L_Assumptions__c</field>
            <value>
                <elementReference>financials.Key_P_L_Assumptions__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Marketing_Forecast_Rationale__c</field>
            <value>
                <elementReference>financials.Marketing_Forecast_Rationale__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origination_Forecast_Rationale__c</field>
            <value>
                <elementReference>financials.Origination_Forecast_Rationale__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Physical_HE_Forecast_Rationale__c</field>
            <value>
                <elementReference>financials.Physical_HE_Forecast_Rationale__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_if_not_confirmed_by_TV__c</field>
            <value>
                <elementReference>financials.Reason_if_not_confirmed_by_TV__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Strategic_Justification__c</field>
            <value>
                <elementReference>financials.Strategic_Justification__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Theatrical_Forecast_Rationale__c</field>
            <value>
                <elementReference>financials.Theatrical_Forecast_Rationale__c</elementReference>
            </value>
        </inputAssignments>
        <object>Acquisition_Deal__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Primary_Terms_fields</name>
        <label>Other_Primary_Terms__c</label>
        <locationX>274</locationX>
        <locationY>247</locationY>
        <connector>
            <targetReference>assign_Acquisition_Deal_Id_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Message</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>primaryTerm.Acquisition_Deal__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Acquisition_Territories_txt__c</field>
            <value>
                <elementReference>primaryTerm.Acquisition_Territories__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Clearances_Details_of_the_Exclusions__c</field>
            <value>
                <elementReference>primaryTerm.Clearances_Details_of_the_Exclusions__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Commercial_Rationale_S__c</field>
            <value>
                <elementReference>primaryTerm.Commercial_Rationale__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Deal_Structure__c</field>
            <value>
                <elementReference>primaryTerm.Deal_Structure__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Excluded_Territories__c</field>
            <value>
                <elementReference>primaryTerm.Excluded_Territories__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Exclusion_within_Territories__c</field>
            <value>
                <elementReference>primaryTerm.Exclusion_within_Territories__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Further_Details__c</field>
            <value>
                <elementReference>primaryTerm.Further_Details__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Future_production_details__c</field>
            <value>
                <elementReference>primaryTerm.Future_production_details__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Licensor_Holdbacks__c</field>
            <value>
                <elementReference>primaryTerm.Licensor_Holdbacks__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Licensor_s_Release_Condition_Detail_G__c</field>
            <value>
                <elementReference>primaryTerm.Licensors_Release_Condition_Details__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Music_Pay_Details_of_the_Exclusions__c</field>
            <value>
                <elementReference>primaryTerm.Music_Payments_Details_of_the_Exclusions__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_Conditions__c</field>
            <value>
                <elementReference>primaryTerm.Other_Conditions__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_Costs_Comments__c</field>
            <value>
                <elementReference>primaryTerm.Other_Costs_Comments__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_Deal_Structure__c</field>
            <value>
                <elementReference>primaryTerm.Other_Deal_Structure__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_Financial_Terms_S__c</field>
            <value>
                <elementReference>primaryTerm.Other_Financial_Terms__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_Options_details__c</field>
            <value>
                <elementReference>primaryTerm.Other_Options_details__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_Payment_Terms__c</field>
            <value>
                <elementReference>primaryTerm.Other_Payment_Terms__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PR_Obligation__c</field>
            <value>
                <elementReference>primaryTerm.PR_Obligation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rights_the_Distribution_Fee_Applies_to__c</field>
            <value>
                <elementReference>primaryTerm.Rights_the_Distribution_Fee_Applies_to__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Universal_Holdbacks__c</field>
            <value>
                <elementReference>primaryTerm.Universal_Holdbacks__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Universal_Release_Condition_Details__c</field>
            <value>
                <elementReference>primaryTerm.Universal_Release_Condition_Details__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Universal_Responsibility__c</field>
            <value>
                <elementReference>primaryTerm.Costs_on_Universals_resp__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Universal_s_Share_of_Receipts__c</field>
            <value>
                <elementReference>primaryTerm.Universal_s_Share_of_Receipts__c</elementReference>
            </value>
        </inputAssignments>
        <object>Acquisition_Deal__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Title_fields</name>
        <label>Update Title fields</label>
        <locationX>434</locationX>
        <locationY>250</locationY>
        <connector>
            <targetReference>assign_Acquisition_Deal_Id_0_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Message</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>title.LAQ_Acquisition_Deal__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Ready_for_Release_Date__c</field>
            <value>
                <elementReference>title.LAQ_Ready_for_Release_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Release_Date_OK__c</field>
            <value>
                <elementReference>title.LAQ_Release_Date_OK__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Release_Date_Strategy__c</field>
            <value>
                <elementReference>title.LAQ_Release_Date_Strategy__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title_Synopsis__c</field>
            <value>
                <elementReference>title.LAQ_Title_Synopsis__c</elementReference>
            </value>
        </inputAssignments>
        <object>Acquisition_Deal__c</object>
    </recordUpdates>
    <startElementReference>Which_Object_triggers_the_update</startElementReference>
    <status>Active</status>
    <variables>
        <name>acquisitionDealId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>comps</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Comps__c</objectType>
    </variables>
    <variables>
        <name>financials</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Financials__c</objectType>
    </variables>
    <variables>
        <description>Object name of the record which we want to copy fields from.Can be:
- Comps
- Primary Term
- other?</description>
        <name>inputObjectName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Id of the record which we want to copy fields from</description>
        <name>inputRecId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>primaryTerm</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Primary_Terms__c</objectType>
    </variables>
    <variables>
        <name>title</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Title__c</objectType>
    </variables>
</Flow>
