force-app/main/default/flows/Acquisition_Deal_Send_Email_to_Followers_when_Deal_stage_and_Status_change.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_for_Deal_Sign</name>
        <label>Send Email for Deal Sign</label>
        <locationX>314</locationX>
        <locationY>552</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>DealSignedEmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>DealSignedEmailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>ListOfFollowerIds</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_to_all_followers</name>
        <label>Send Email to all followers</label>
        <locationX>117</locationX>
        <locationY>552</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>DealStatusChangeMailContent</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>DealStatusChangeMailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>ListOfFollowerIds</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Add_the_follower_id_to_collection</name>
        <label>Add the follower id to collection</label>
        <locationX>310</locationX>
        <locationY>338</locationY>
        <assignmentItems>
            <assignToReference>ListOfFollowerIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>EachUser.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_All_Entity_Subscriptions</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Are_there_any_followers</name>
        <label>Are there any followers</label>
        <locationX>295</locationX>
        <locationY>114</locationY>
        <defaultConnector>
            <targetReference>Loop_through_All_Entity_Subscriptions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AllEntitySubscriptionsForCurrentDeal</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Deal_Signed</name>
        <label>Is Deal Signed</label>
        <locationX>119</locationX>
        <locationY>385</locationY>
        <defaultConnector>
            <targetReference>Send_Email_to_all_followers</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InputAcquisitionDeal.Acquisition_Deal_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Signed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_for_Deal_Sign</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>Acquisition Deal Send Email to Followers when Deal stage and Status change {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Acquisition Deal Send Email to Followers when Deal stage and Status change</label>
    <loops>
        <name>Loop_through_All_Entity_Subscriptions</name>
        <label>Loop through All Entity Subscriptions</label>
        <locationX>114</locationX>
        <locationY>245</locationY>
        <assignNextValueToReference>ThisEntitySubscription</assignNextValueToReference>
        <collectionReference>AllEntitySubscriptionsForCurrentDeal</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Email_Address</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Is_Deal_Signed</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Fetch_Current_Acquisition_Deal</name>
        <label>Fetch Current Acquisition Deal</label>
        <locationX>111</locationX>
        <locationY>29</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Fetch_the_followers</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InputAcquisitionDealId</elementReference>
            </value>
        </filters>
        <object>Acquisition_Deal__c</object>
        <outputReference>InputAcquisitionDeal</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Acquisition_Deal_Stage__c</queriedFields>
        <queriedFields>Acquisition_Deal_Status__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Acq_Deal_Level__c</queriedFields>
        <queriedFields>Approval_or_Re_approval__c</queriedFields>
        <queriedFields>Acq_Deal_Level_Internal_Name__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Fetch_the_followers</name>
        <label>Fetch the followers</label>
        <locationX>113</locationX>
        <locationY>118</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Are_there_any_followers</targetReference>
        </connector>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InputAcquisitionDealId</elementReference>
            </value>
        </filters>
        <object>EntitySubscription</object>
        <outputReference>AllEntitySubscriptionsForCurrentDeal</outputReference>
        <queriedFields>SubscriberId</queriedFields>
        <queriedFields>Id</queriedFields>
        <queriedFields>ParentId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Email_Address</name>
        <label>Get Email Address</label>
        <locationX>303</locationX>
        <locationY>246</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_the_follower_id_to_collection</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ThisEntitySubscription.SubscriberId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>EachUser</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email</queriedFields>
    </recordLookups>
    <startElementReference>Fetch_Current_Acquisition_Deal</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>DealSignedEmailBody</name>
        <text>Hello, 

The Deal: {!InputAcquisitionDeal.Name} has been signed. 

Deal Level: {!InputAcquisitionDeal.Acq_Deal_Level__r.Name}

Thanks 

-- 
You can review the Deal here: https://uphe.my.salesforce.com/{!InputAcquisitionDeal.Id}</text>
    </textTemplates>
    <textTemplates>
        <name>DealSignedEmailSubject</name>
        <text>Deal: {!InputAcquisitionDeal.Name} has been signed</text>
    </textTemplates>
    <textTemplates>
        <name>DealStatusChangeMailContent</name>
        <text>Hello, 

The Deal: {!InputAcquisitionDeal.Name} has progressed in the approval process. 

Approval Stage: {!InputAcquisitionDeal.Acquisition_Deal_Status__c} 
Deal Level: {!InputAcquisitionDeal.Acq_Deal_Level__r.Name} 


Thanks 

-- 
P.S. You can review the Deal here: https://uphe.my.salesforce.com/{!InputAcquisitionDeal.Id}</text>
    </textTemplates>
    <textTemplates>
        <name>DealStatusChangeMailSubject</name>
        <text>Deal {!InputAcquisitionDeal.Name} progressed to the stage: {!InputAcquisitionDeal.Acquisition_Deal_Status__c}</text>
    </textTemplates>
    <variables>
        <name>AllEntitySubscriptionsForCurrentDeal</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>EntitySubscription</objectType>
    </variables>
    <variables>
        <name>EachUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>InputAcquisitionDeal</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Acquisition_Deal__c</objectType>
    </variables>
    <variables>
        <name>InputAcquisitionDealId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ListOfFollowerIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ThisEntitySubscription</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>EntitySubscription</objectType>
    </variables>
</Flow>
