force-app/main/default/flows/Acquisition_Deal_Create_New_Boardpack.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Error_Message</name>
        <label>Error Message</label>
        <locationX>6</locationX>
        <locationY>675</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Screen_Error_Message</targetReference>
        </connector>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>inputAcquisitionDeal.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>chatterErrorMessage</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Success_Message</name>
        <label>Success Message</label>
        <locationX>302</locationX>
        <locationY>1298</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>inputAcquisitionDeal.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>chatterSuccessMessage</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Assign_Acquisistion_Deal_Id_to_related_records</name>
        <label>Assign Acquisistion Deal Id to related records</label>
        <locationX>79</locationX>
        <locationY>334</locationY>
        <assignmentItems>
            <assignToReference>primaryTerm.Acquisition_Deal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputAcquisitionDeal.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>title.LAQ_Acquisition_Deal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputAcquisitionDeal.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>financials.Acquisition_Deal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputAcquisitionDeal.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>comps.Acquisition_Deal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputAcquisitionDeal.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>riskAndComplaince.Acquisition_Deal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputAcquisitionDeal.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>title.LAQ_Board_Pack_Version__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newBoardPackVersion</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>primaryTerm.Board_Pack_Version__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newBoardPackVersion</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>financials.Board_Pack_Version__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newBoardPackVersion</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>comps.Board_Pack_Version__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newBoardPackVersion</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>riskAndComplaince.Board_Pack_Version__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newBoardPackVersion</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>title.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TitleInput</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fetch_Deal_s_present_Title_Context</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Supporting_Objects_to_Acquisition_Deal</name>
        <label>Assign Supporting Objects to Acquisition Deal</label>
        <locationX>303</locationX>
        <locationY>742</locationY>
        <assignmentItems>
            <assignToReference>inputAcquisitionDeal.Primary_Term__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>primaryTerm.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inputAcquisitionDeal.Title_Context__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>title.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inputAcquisitionDeal.Financials__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>financials.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inputAcquisitionDeal.Comps__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>comps.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inputAcquisitionDeal.Risk_Compliance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>riskAndComplaince.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inputAcquisitionDeal.Board_Pack_Version__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newBoardPackVersion</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inputAcquisitionDeal.Re_Approval_Verified_for_Primary_Terms__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inputAcquisitionDeal.Re_Approval_Req_for_Primary_Terms__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>What_Is_Current_Stage</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Progress_Status_to_Board_Pack_Preparation</name>
        <label>Progress Status to Board Pack Preparation</label>
        <locationX>509</locationX>
        <locationY>959</locationY>
        <assignmentItems>
            <assignToReference>inputAcquisitionDeal.Acquisition_Deal_Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Board Pack Preparation</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inputAcquisitionDeal.Acquisition_Deal_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Current_Acquisition_Deal</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>as_a_copy_of_existing_approved_Board_Pack</name>
        <choiceText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!choiceClone}&lt;/FONT&gt;&lt;/DIV&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Clone</stringValue>
        </value>
    </choices>
    <choices>
        <name>as_a_new_fresh_Board_Pack</name>
        <choiceText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!choiceNew}&lt;/FONT&gt;&lt;/DIV&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Are_Board_Pack_Lookup_Fields_Empty</name>
        <label>Are Board Pack Lookup Fields Empty?</label>
        <locationX>460</locationX>
        <locationY>13</locationY>
        <defaultConnector>
            <targetReference>Abort_Screen_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Some Lookups have values</defaultConnectorLabel>
        <rules>
            <name>All_Fields_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inputAcquisitionDeal.Title_Context__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>inputAcquisitionDeal.Primary_Term__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>inputAcquisitionDeal.Financials__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>inputAcquisitionDeal.Comps__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>inputAcquisitionDeal.Risk_Compliance__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_it_New_Board_Pack_or_Copy</targetReference>
            </connector>
            <label>All Fields Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Clone_or_New</name>
        <label>Clone or New?</label>
        <locationX>644</locationX>
        <locationY>248</locationY>
        <defaultConnector>
            <targetReference>New_Board_Pack_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Create New</defaultConnectorLabel>
        <rules>
            <name>Clone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_New_Board_Pack</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Clone</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fetch_Current_Deal_s_Title_Context</targetReference>
            </connector>
            <label>Clone</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Deal_Dead</name>
        <label>Is Deal Dead</label>
        <locationX>156</locationX>
        <locationY>9</locationY>
        <defaultConnector>
            <targetReference>Is_Deal_On_Hold</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes_DealDead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inputAcquisitionDeal.Dead__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Deal_Dead_Error</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Deal_On_Hold</name>
        <label>Is Deal On-Hold</label>
        <locationX>300</locationX>
        <locationY>15</locationY>
        <defaultConnector>
            <targetReference>Are_Board_Pack_Lookup_Fields_Empty</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inputAcquisitionDeal.On_Hold__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Deal_On_Hold_Error</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_it_New_Board_Pack_or_Copy</name>
        <label>Is it New Board Pack or Copy?</label>
        <locationX>463</locationX>
        <locationY>121</locationY>
        <defaultConnector>
            <targetReference>New_Board_Pack_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Clone_of_Approved_One</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inputAcquisitionDeal.Title_Approved__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>inputAcquisitionDeal.Primary_Term_Approved__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>inputAcquisitionDeal.Financials_Approved__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>inputAcquisitionDeal.Comps_Approved__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>inputAcquisitionDeal.Risk_Compliance_Approved__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clone_Board_Pack_Message</targetReference>
            </connector>
            <label>Clone of Approved One</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Title_Context_Present</name>
        <label>Is Title Context Present?</label>
        <locationX>381</locationX>
        <locationY>401</locationY>
        <defaultConnector>
            <targetReference>Screen_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inputAcquisitionDeal.Title_Context__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Title</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Title_Context_Present_on_current_deal</name>
        <label>Is Title Context Present on current deal?</label>
        <locationX>837</locationX>
        <locationY>390</locationY>
        <defaultConnector>
            <targetReference>Clone_Approved_Section_to_Current_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesTitleContextPresent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inputAcquisitionDeal.Title_Context__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Error</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_Is_Current_Stage</name>
        <label>What Is Current Stage?</label>
        <locationX>300</locationX>
        <locationY>852</locationY>
        <defaultConnector>
            <targetReference>Update_Current_Acquisition_Deal</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Any Other Stage</defaultConnectorLabel>
        <rules>
            <name>Speculative</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>inputAcquisitionDeal.Acquisition_Deal_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Speculative</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>inputAcquisitionDeal.Acquisition_Deal_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Committed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Progress_Status_to_Board_Pack_Preparation</targetReference>
            </connector>
            <label>Speculative Or Committed</label>
        </rules>
    </decisions>
    <description>When user clicks a button, create new set of related records (Title Context, Financials, Comps etc) and assign them to the corresponding lookups on the Acquisition Deal. Version with the  checkbox &quot;Re-Approval requred for long text fields&quot;. NEW version calling Subflows for clone records and for assigning record types on related objects; ALL messages in Custom Labels</description>
    <formulas>
        <name>chatterErrorMessage</name>
        <dataType>String</dataType>
        <expression>{!$Label.FlowErrorMessage}</expression>
    </formulas>
    <formulas>
        <name>chatterSuccessMessage</name>
        <dataType>String</dataType>
        <expression>{!$Label.FlowAcquisitionDealNewBoardPackSuccess}</expression>
    </formulas>
    <formulas>
        <name>choiceClone</name>
        <dataType>String</dataType>
        <expression>{!$Label.Flow_Acquisition_Deal_Create_Now_Board_Pack_Choice_Clone}</expression>
    </formulas>
    <formulas>
        <name>choiceNew</name>
        <dataType>String</dataType>
        <expression>{!$Label.Flow_Acquisition_Deal_Create_Now_Board_Pack_Choice_New}</expression>
    </formulas>
    <formulas>
        <name>compsCloneParams</name>
        <dataType>String</dataType>
        <expression>{!inputAcquisitionDeal.Comps_Approved__c} &amp; &quot;, Comps__r&quot;</expression>
    </formulas>
    <formulas>
        <name>financialsCloneParams</name>
        <dataType>String</dataType>
        <expression>{!inputAcquisitionDeal.Financials_Approved__c} &amp; &quot;, Financials__r&quot;</expression>
    </formulas>
    <formulas>
        <name>financialsRecordTypeId</name>
        <dataType>String</dataType>
        <expression>{!$Label.RecordTypeId_Master_Financials}</expression>
    </formulas>
    <formulas>
        <description>FALSE it the cloned PrimaryTerm record is Approved (no need for re-approval)
TRUE otherwise</description>
        <name>isPrimaryTermNotApproved</name>
        <dataType>Boolean</dataType>
        <expression>ISPICKVAL ({!primaryTerm.Primary_Term_Approval_Status__c}, &quot;Approved&quot;)</expression>
    </formulas>
    <formulas>
        <name>labelCreateNewBoardPack</name>
        <dataType>String</dataType>
        <expression>{!$Label.Flow_Acquisition_Deal_Label_Create_New_Board_Pack}</expression>
    </formulas>
    <formulas>
        <name>labelTitle</name>
        <dataType>String</dataType>
        <expression>{!$Label.Flow_Acquisition_Deal_Label_Title}</expression>
    </formulas>
    <formulas>
        <name>newBoardPackVersion</name>
        <dataType>Number</dataType>
        <expression>{!inputAcquisitionDeal.Board_Pack_Version__c} + 1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>primaryTermRecordTypeId</name>
        <dataType>String</dataType>
        <expression>{!$Label.RecordTypeId_Master_Primary_Terms}</expression>
    </formulas>
    <formulas>
        <name>primaryTermsCloneParams</name>
        <dataType>String</dataType>
        <expression>{!inputAcquisitionDeal.Primary_Term_Approved__c} &amp; &quot;, Primary_Term__r&quot;</expression>
    </formulas>
    <formulas>
        <name>riskComplianceCloneParams</name>
        <dataType>String</dataType>
        <expression>{!inputAcquisitionDeal.Risk_Compliance_Approved__c} &amp; &quot;, Risk_Compliance__r&quot;</expression>
    </formulas>
    <formulas>
        <name>riskComplianceRecordTypeId</name>
        <dataType>String</dataType>
        <expression>{!$Label.RecordTypeId_Master_Risk_Compliance}</expression>
    </formulas>
    <formulas>
        <name>screenMessageCouldNotCreateNewBoardPack</name>
        <dataType>String</dataType>
        <expression>{!$Label.Flow_Acquisition_Deal_Could_Not_Create_New_Board_Pack}</expression>
    </formulas>
    <formulas>
        <name>screenMessageCreateNewBoardPackTop</name>
        <dataType>String</dataType>
        <expression>{!$Label.Flow_Acquisition_Deal_Create_Now_Board_Pack_Choose_Method_Top}</expression>
    </formulas>
    <formulas>
        <name>screenMessageEnterTitle</name>
        <dataType>String</dataType>
        <expression>{!$Label.Flow_Acquisition_Deal_Create_Now_Board_Pack_Enter_Title_Info}</expression>
    </formulas>
    <formulas>
        <name>screenMessageSuccess</name>
        <dataType>String</dataType>
        <expression>{!$Label.Flow_Acquisition_Deal_Create_Now_Board_Pack_Screen_Success_Message}</expression>
    </formulas>
    <formulas>
        <name>titleCloneParams</name>
        <dataType>String</dataType>
        <expression>{!inputAcquisitionDeal.Title_Approved__c} &amp; &quot;, Title__r&quot;</expression>
    </formulas>
    <formulas>
        <name>titleRecordTypeId</name>
        <dataType>String</dataType>
        <expression>{!$Label.RecordTypeId_Master_Title}</expression>
    </formulas>
    <interviewLabel>Acquisition Deal Create New Boardpack {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Acquisition Deal Create New Boardpack</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_New_Comps</name>
        <label>Create New Comps</label>
        <locationX>464</locationX>
        <locationY>493</locationY>
        <connector>
            <targetReference>Create_New_Risk_and_Compliance</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Message</targetReference>
        </faultConnector>
        <inputReference>comps</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Financials</name>
        <label>Create New Financials</label>
        <locationX>340</locationX>
        <locationY>492</locationY>
        <connector>
            <targetReference>Create_New_Comps</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Message</targetReference>
        </faultConnector>
        <inputReference>financials</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Primary_Terms</name>
        <label>Create New Primary Terms</label>
        <locationX>209</locationX>
        <locationY>493</locationY>
        <connector>
            <targetReference>Create_New_Financials</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Message</targetReference>
        </faultConnector>
        <inputReference>primaryTerm</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Risk_and_Compliance</name>
        <label>Create New Risk and Compliance</label>
        <locationX>589</locationX>
        <locationY>495</locationY>
        <connector>
            <targetReference>Assign_Supporting_Objects_to_Acquisition_Deal</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Message</targetReference>
        </faultConnector>
        <inputReference>riskAndComplaince</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Title</name>
        <label>Create New Title</label>
        <locationX>73</locationX>
        <locationY>492</locationY>
        <connector>
            <targetReference>Create_New_Primary_Terms</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Message</targetReference>
        </faultConnector>
        <inputReference>title</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Fetch_Current_Acquisition_Deal_record</name>
        <label>Fetch Current Acquisition Deal record</label>
        <locationX>8</locationX>
        <locationY>10</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Deal_Dead</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Message</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputAcquisitionDeal.Id</elementReference>
            </value>
        </filters>
        <object>Acquisition_Deal__c</object>
        <outputReference>inputAcquisitionDeal</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Title_Context__c</queriedFields>
        <queriedFields>Primary_Term__c</queriedFields>
        <queriedFields>Financials__c</queriedFields>
        <queriedFields>Comps__c</queriedFields>
        <queriedFields>Risk_Compliance__c</queriedFields>
        <queriedFields>Board_Pack_Version__c</queriedFields>
        <queriedFields>Title_Approved__c</queriedFields>
        <queriedFields>Primary_Term_Approved__c</queriedFields>
        <queriedFields>Financials_Approved__c</queriedFields>
        <queriedFields>Comps_Approved__c</queriedFields>
        <queriedFields>Risk_Compliance_Approved__c</queriedFields>
        <queriedFields>Acquisition_Deal_Stage__c</queriedFields>
        <queriedFields>Re_Approval_Verified_for_Primary_Terms__c</queriedFields>
        <queriedFields>Re_Approval_Req_for_Primary_Terms__c</queriedFields>
        <queriedFields>Acq_Deal_Level__c</queriedFields>
        <queriedFields>Acquisition_Deal_Status__c</queriedFields>
        <queriedFields>On_Hold__c</queriedFields>
        <queriedFields>Dead__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Fetch_Current_Deal_s_Title_Context</name>
        <label>Fetch Current Deal&#39;s Title Context</label>
        <locationX>834</locationX>
        <locationY>258</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Title_Context_Present_on_current_deal</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputAcquisitionDeal.Id</elementReference>
            </value>
        </filters>
        <object>Acquisition_Deal__c</object>
        <outputReference>inputAcquisitionDeal</outputReference>
        <queriedFields>Title_Context__c</queriedFields>
        <queriedFields>Id</queriedFields>
        <queriedFields>Primary_Term__c</queriedFields>
        <queriedFields>Financials__c</queriedFields>
        <queriedFields>Risk_Compliance__c</queriedFields>
        <queriedFields>Comps__c</queriedFields>
        <queriedFields>Acq_Deal_Level__c</queriedFields>
        <queriedFields>Acquisition_Deal_Stage__c</queriedFields>
        <queriedFields>Acquisition_Deal_Status__c</queriedFields>
        <queriedFields>Board_Pack_Version__c</queriedFields>
        <queriedFields>Title_Approved__c</queriedFields>
        <queriedFields>Primary_Term_Approved__c</queriedFields>
        <queriedFields>Financials_Approved__c</queriedFields>
        <queriedFields>Risk_Compliance_Approved__c</queriedFields>
        <queriedFields>Comps_Approved__c</queriedFields>
        <queriedFields>Re_Approval_Verified_for_Primary_Terms__c</queriedFields>
        <queriedFields>Re_Approval_Req_for_Primary_Terms__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Fetch_Deal_s_present_Title_Context</name>
        <label>Fetch Deal&#39;s present Title Context</label>
        <locationX>282</locationX>
        <locationY>332</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Title_Context_Present</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputAcquisitionDeal.Id</elementReference>
            </value>
        </filters>
        <object>Acquisition_Deal__c</object>
        <outputReference>inputAcquisitionDeal</outputReference>
        <queriedFields>Title_Context__c</queriedFields>
        <queriedFields>Primary_Term__c</queriedFields>
        <queriedFields>Financials__c</queriedFields>
        <queriedFields>Risk_Compliance__c</queriedFields>
        <queriedFields>Comps__c</queriedFields>
        <queriedFields>Title_Approved__c</queriedFields>
        <queriedFields>Primary_Term_Approved__c</queriedFields>
        <queriedFields>Financials_Approved__c</queriedFields>
        <queriedFields>Risk_Compliance_Approved__c</queriedFields>
        <queriedFields>Comps_Approved__c</queriedFields>
        <queriedFields>Acquisition_Deal_Stage__c</queriedFields>
        <queriedFields>Board_Pack_Version__c</queriedFields>
        <queriedFields>Id</queriedFields>
        <queriedFields>Acq_Deal_Level__c</queriedFields>
        <queriedFields>Acquisition_Deal_Status__c</queriedFields>
        <queriedFields>Re_Approval_Verified_for_Primary_Terms__c</queriedFields>
        <queriedFields>Re_Approval_Req_for_Primary_Terms__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Current_Acquisition_Deal</name>
        <label>Update Current Acquisition Deal</label>
        <locationX>300</locationX>
        <locationY>1038</locationY>
        <connector>
            <targetReference>Assign_Record_Types_to_New_Records</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Message</targetReference>
        </faultConnector>
        <inputReference>inputAcquisitionDeal</inputReference>
    </recordUpdates>
    <screens>
        <name>Abort_Screen_Message</name>
        <label>Abort Screen Message</label>
        <locationX>1079</locationX>
        <locationY>8</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>AbortScreenMessage</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!screenMessageCouldNotCreateNewBoardPack}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Clone_Board_Pack_Message</name>
        <label>Clone Board Pack Message</label>
        <locationX>647</locationX>
        <locationY>127</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Clone_or_New</targetReference>
        </connector>
        <fields>
            <name>CloneBoardPackMessage</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!screenMessageCreateNewBoardPackTop}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Please do not click &amp;quot;Next&amp;quot; twice to avoid any system errors.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Create_New_Board_Pack</name>
            <choiceReferences>as_a_copy_of_existing_approved_Board_Pack</choiceReferences>
            <choiceReferences>as_a_new_fresh_Board_Pack</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>as_a_copy_of_existing_approved_Board_Pack</defaultSelectedChoiceReference>
            <fieldText>{!labelCreateNewBoardPack}</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Deal_On_Hold_Error</name>
        <label>Deal On-Hold Error</label>
        <locationX>308</locationX>
        <locationY>112</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DealOnHoldError</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Error, you cannot create the board pack!&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt; Deal is locked for edits as it has been put on hold, please uncheck &amp;quot;Put Deal On Hold&amp;quot; to create board pack.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>New_Board_Pack_Message</name>
        <label>New Board Pack Message</label>
        <locationX>79</locationX>
        <locationY>248</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Acquisistion_Deal_Id_to_related_records</targetReference>
        </connector>
        <fields>
            <name>NewBoardPackMessage</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!screenMessageEnterTitle}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Please do not click &amp;quot;Next&amp;quot; twice to avoid any system errors.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TitleInput</name>
            <dataType>String</dataType>
            <fieldText>{!labelTitle}</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Deal_Dead_Error</name>
        <label>Screen Deal Dead Error</label>
        <locationX>155</locationX>
        <locationY>115</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DealsDeadError</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#CC3300&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Error, you cannot create the board pack!&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#CC3300&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Deal is locked for edits as it has been cancelled, please uncheck &amp;quot;Dead Cancelled&amp;quot; to create a board pack.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Error</name>
        <label>Screen Error</label>
        <locationX>560</locationX>
        <locationY>386</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;System error has occured due to the &amp;quot;Next&amp;quot; button being clicked multiple times, but the board pack has been created and you can return to the deal by clicking the &amp;quot;Finish&amp;quot; button!&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Error_Message</name>
        <label>Screen Error Message</label>
        <locationX>6</locationX>
        <locationY>787</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessMessage_0</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!chatterErrorMessage}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Success_Message</name>
        <label>Screen Success Message</label>
        <locationX>303</locationX>
        <locationY>1212</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Success_Message</targetReference>
        </connector>
        <fields>
            <name>SuccessMessage</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!screenMessageSuccess}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Fetch_Current_Acquisition_Deal_record</startElementReference>
    <status>Active</status>
    <subflows>
        <name>Assign_Record_Types_to_New_Records</name>
        <label>Assign Record Types to New Records</label>
        <locationX>304</locationX>
        <locationY>1127</locationY>
        <connector>
            <targetReference>Screen_Success_Message</targetReference>
        </connector>
        <flowName>Subflow_Acquisition_Deal_Assign_Record_Ids_to_Related_Objects</flowName>
        <inputAssignments>
            <name>inputAcquisitionDeal</name>
            <value>
                <elementReference>inputAcquisitionDeal</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Clone_Approved_Section_to_Current_Record</name>
        <label>Clone Approved Section to Current Record</label>
        <locationX>836</locationX>
        <locationY>493</locationY>
        <connector>
            <targetReference>What_Is_Current_Stage</targetReference>
        </connector>
        <flowName>Subflow_Acquisition_Deal_Clone_Related_Objects_Records</flowName>
        <inputAssignments>
            <name>inputCopyFromAcquisitionDeal</name>
            <value>
                <elementReference>inputAcquisitionDeal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputCopyToAcquisitionDeal</name>
            <value>
                <elementReference>inputAcquisitionDeal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputVersionToCopyFrom</name>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>inputAcquisitionDeal</assignToReference>
            <name>inputCopyToAcquisitionDeal</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>comps</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Comps__c</objectType>
    </variables>
    <variables>
        <name>financials</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Financials__c</objectType>
    </variables>
    <variables>
        <name>inputAcquisitionDeal</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Acquisition_Deal__c</objectType>
    </variables>
    <variables>
        <name>primaryTerm</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Primary_Terms__c</objectType>
    </variables>
    <variables>
        <name>riskAndComplaince</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Risk_Compliance__c</objectType>
    </variables>
    <variables>
        <name>title</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Title__c</objectType>
    </variables>
    <variables>
        <name>titleId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
