force-app/main/default/flows/Acquisition_Deal_Create_New_Flow_Alike.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Error_Message</name>
        <label>Error Message</label>
        <locationX>34</locationX>
        <locationY>446</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Screen_Error_Message</targetReference>
        </connector>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>inputAcquisitionDeal.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>chatterErrorMessage</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Error_Message_0</name>
        <label>Error Message</label>
        <locationX>1298</locationX>
        <locationY>154</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>inputAcquisitionDeal.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>chatterErrorMessage</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Success_Message</name>
        <label>Success Message</label>
        <locationX>1038</locationX>
        <locationY>699</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>inputAcquisitionDeal.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>chatterSuccessMessage</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Assign_Acquisistion_Deal_Id_to_related_records</name>
        <label>Assign Acquisistion Deal Id to related records</label>
        <locationX>1148</locationX>
        <locationY>416</locationY>
        <assignmentItems>
            <assignToReference>primaryTerm.Acquisition_Deal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputAcquisitionDeal.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>title.LAQ_Acquisition_Deal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputAcquisitionDeal.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>financials.Acquisition_Deal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputAcquisitionDeal.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>comps.Acquisition_Deal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputAcquisitionDeal.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>riskAndComplaince.Acquisition_Deal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputAcquisitionDeal.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>title.LAQ_Board_Pack_Version__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newBoardPackVersion</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>primaryTerm.Board_Pack_Version__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newBoardPackVersion</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>financials.Board_Pack_Version__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newBoardPackVersion</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>comps.Board_Pack_Version__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newBoardPackVersion</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>riskAndComplaince.Board_Pack_Version__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newBoardPackVersion</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>title.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TitleInput</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_Title</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Supporting_Objects_to_Acquisition_Deal</name>
        <label>Assign Supporting Objects to Acquisition Deal</label>
        <locationX>1293</locationX>
        <locationY>816</locationY>
        <assignmentItems>
            <assignToReference>inputAcquisitionDeal.Primary_Term__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>primaryTerm.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inputAcquisitionDeal.Title_Context__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>title.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inputAcquisitionDeal.Financials__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>financials.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inputAcquisitionDeal.Comps__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>comps.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inputAcquisitionDeal.Risk_Compliance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>riskAndComplaince.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inputAcquisitionDeal.Board_Pack_Version__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newBoardPackVersion</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inputAcquisitionDeal.Re_Approval_Verified_for_Primary_Terms__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inputAcquisitionDeal.Re_Approval_Req_for_Primary_Terms__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>What_Is_Current_Stage</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assigning_the_variable</name>
        <label>Assigning the variable</label>
        <locationX>187</locationX>
        <locationY>32</locationY>
        <assignmentItems>
            <assignToReference>inputid</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputAcquisitionDeal.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Approved_And_Working_Versionn_Condition</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Initialise_Board_Pack_Version_to_0</name>
        <label>Initialise Board Pack Version (to 0)</label>
        <locationX>662</locationX>
        <locationY>506</locationY>
        <assignmentItems>
            <assignToReference>newAcquisitionDeal.Board_Pack_Version__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Clone_Boardpack_From_Old_to_New</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Progress_Status_to_Board_Pack_Preparation</name>
        <label>Progress Status to Board Pack Preparation</label>
        <locationX>661</locationX>
        <locationY>602</locationY>
        <assignmentItems>
            <assignToReference>newAcquisitionDeal.Acquisition_Deal_Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Board Pack Preparation</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Remember_Screen_Choice</name>
        <label>Remember Screen Choice</label>
        <locationX>402</locationX>
        <locationY>440</locationY>
        <assignmentItems>
            <assignToReference>boardPackVersionToCopy</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_New_Board_Pack</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_Deal</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remember_Screen_Choice_1</name>
        <label>Remember Screen Choice</label>
        <locationX>913</locationX>
        <locationY>408</locationY>
        <assignmentItems>
            <assignToReference>boardPackVersionToCopy</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_New_Board_Pack_Working</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_Deal</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remember_Screen_Choice_1_1</name>
        <label>Remember Screen Choice</label>
        <locationX>707</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>boardPackVersionToCopy</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_New_Board_Pack_Approved</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_Deal</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>as_a_copy_of_existing_approved_Board_Pack</name>
        <choiceText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;As a copy of the latest  Boardpack&lt;/FONT&gt;&lt;/DIV&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Approved</stringValue>
        </value>
    </choices>
    <choices>
        <name>as_a_copy_of_existing_Working_Board_pack</name>
        <choiceText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;As a copy of the Working Version (if applicable)&lt;/FONT&gt;&lt;/DIV&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Working</stringValue>
        </value>
    </choices>
    <choices>
        <name>as_a_new_fresh_Board_Pack</name>
        <choiceText>as a new fresh Board Pack</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Clone_or_New</name>
        <label>Clone or New?</label>
        <locationX>1151</locationX>
        <locationY>228</locationY>
        <defaultConnector>
            <targetReference>New_Board_Pack_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Create New</defaultConnectorLabel>
        <rules>
            <name>Clone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_New_Board_Pack</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Clone</stringValue>
                </rightValue>
            </conditions>
            <label>Clone</label>
        </rules>
    </decisions>
    <decisions>
        <name>cloning_stages</name>
        <label>cloning stages</label>
        <locationX>1286</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Clone_Board_Pack_Message_Both_0_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>cloning_stages1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inputAcquisitionDeal.Acquisition_Deal_Stage__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Pending Board Approval</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Deal</targetReference>
            </connector>
            <label>cloning stages1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Approved_And_Working_Versionn_Condition</name>
        <label>Has Approved And Working Version?</label>
        <locationX>386</locationX>
        <locationY>21</locationY>
        <defaultConnector>
            <targetReference>Has_Approved_Version_Condition_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Has_Both_Versions</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inputAcquisitionDeal.Title_Context__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>inputAcquisitionDeal.Primary_Term__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>inputAcquisitionDeal.Financials__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>inputAcquisitionDeal.Comps__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>inputAcquisitionDeal.Risk_Compliance__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>inputAcquisitionDeal.Title_Approved__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>inputAcquisitionDeal.Primary_Term_Approved__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>inputAcquisitionDeal.Financials_Approved__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>inputAcquisitionDeal.Comps_Approved__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>inputAcquisitionDeal.Risk_Compliance_Approved__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>inputAcquisitionDeal.Acquisition_Deal_Stage__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Pending Board Approval</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clone_Board_Pack_Message_Both</targetReference>
            </connector>
            <label>Has Both Versions</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Approved_Version_Condition_0</name>
        <label>Has Approved Version?</label>
        <locationX>644</locationX>
        <locationY>13</locationY>
        <defaultConnector>
            <targetReference>Has_Working_Version_Condition</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Approved Version</defaultConnectorLabel>
        <rules>
            <name>Only_Approved_Version</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inputAcquisitionDeal.Title_Approved__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>inputAcquisitionDeal.Primary_Term_Approved__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>inputAcquisitionDeal.Financials_Approved__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>inputAcquisitionDeal.Comps_Approved__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>inputAcquisitionDeal.Risk_Compliance_Approved__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>inputAcquisitionDeal.Acquisition_Deal_Stage__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Pending Board Approval</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clone_Board_Pack_Message_Approved</targetReference>
            </connector>
            <label>Only Approved Version</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Working_Version_Condition</name>
        <label>Has Working Version?</label>
        <locationX>875</locationX>
        <locationY>15</locationY>
        <defaultConnector>
            <targetReference>cloning_stages</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Working Version</defaultConnectorLabel>
        <rules>
            <name>Only_Working_Version</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inputAcquisitionDeal.Title_Context__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>inputAcquisitionDeal.Primary_Term__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>inputAcquisitionDeal.Financials__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>inputAcquisitionDeal.Comps__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>inputAcquisitionDeal.Risk_Compliance__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>inputAcquisitionDeal.Acquisition_Deal_Stage__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Pending Board Approval</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clone_Board_Pack_Message_Working</targetReference>
            </connector>
            <label>Only Working Version</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_Is_Current_Stage</name>
        <label>What Is Current Stage?</label>
        <locationX>1296</locationX>
        <locationY>939</locationY>
        <defaultConnectorLabel>Any Other Stage</defaultConnectorLabel>
        <rules>
            <name>Speculative</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inputAcquisitionDeal.Acquisition_Deal_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Speculative</stringValue>
                </rightValue>
            </conditions>
            <label>Speculative</label>
        </rules>
    </decisions>
    <description>Create new Acquisition Deal and create new set of related records (Title Context, Financials, Comps etc) as a clone of either Working or Approved version. Then assign them to the corresponding lookups on the newly created Acquisition Deal. Version setting Record Types on related objects</description>
    <formulas>
        <name>chatterErrorMessage</name>
        <dataType>String</dataType>
        <expression>{!$Label.FlowErrorMessage}</expression>
    </formulas>
    <formulas>
        <name>chatterSuccessMessage</name>
        <dataType>String</dataType>
        <expression>{!$Label.FlowAcquisitionDealNewBoardPackSuccess}</expression>
    </formulas>
    <formulas>
        <name>compsCloneParams</name>
        <dataType>String</dataType>
        <expression>{!inputAcquisitionDeal.Comps_Approved__c} &amp; &quot;, Comps__r&quot;</expression>
    </formulas>
    <formulas>
        <name>financialsCloneParams</name>
        <dataType>String</dataType>
        <expression>{!inputAcquisitionDeal.Financials_Approved__c} &amp; &quot;, Financials__r&quot;</expression>
    </formulas>
    <formulas>
        <name>financialsRecordTypeId</name>
        <dataType>String</dataType>
        <expression>{!$Label.RecordTypeId_Master_Financials}</expression>
    </formulas>
    <formulas>
        <description>FALSE it the cloned PrimaryTerm record is Approved (no need for re-approval)
TRUE otherwise</description>
        <name>isPrimaryTermNotApproved</name>
        <dataType>Boolean</dataType>
        <expression>ISPICKVAL ({!primaryTerm.Primary_Term_Approval_Status__c}, &quot;Approved&quot;)</expression>
    </formulas>
    <formulas>
        <name>newBoardPackVersion</name>
        <dataType>Number</dataType>
        <expression>{!newAcquisitionDeal.Board_Pack_Version__c} + 1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>primaryTermRecordTypeId</name>
        <dataType>String</dataType>
        <expression>{!$Label.RecordTypeId_Master_Primary_Terms}</expression>
    </formulas>
    <formulas>
        <name>primaryTermsCloneParams</name>
        <dataType>String</dataType>
        <expression>{!inputAcquisitionDeal.Primary_Term_Approved__c} &amp; &quot;, Primary_Term__r&quot;</expression>
    </formulas>
    <formulas>
        <name>riskComplianceCloneParams</name>
        <dataType>String</dataType>
        <expression>{!inputAcquisitionDeal.Risk_Compliance_Approved__c} &amp; &quot;, Risk_Compliance__r&quot;</expression>
    </formulas>
    <formulas>
        <name>riskComplianceRecordTypeId</name>
        <dataType>String</dataType>
        <expression>{!$Label.RecordTypeId_Master_Risk_Compliance}</expression>
    </formulas>
    <formulas>
        <name>titleCloneParams</name>
        <dataType>String</dataType>
        <expression>{!inputAcquisitionDeal.Title_Approved__c} &amp; &quot;, Title__r&quot;</expression>
    </formulas>
    <formulas>
        <name>titleRecordTypeId</name>
        <dataType>String</dataType>
        <expression>{!$Label.RecordTypeId_Master_Title}</expression>
    </formulas>
    <interviewLabel>Acquisition Deal Create New Flow Alike {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Acquisition Deal Create New Flow Alike</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_New_Comps</name>
        <label>Create New Comps</label>
        <locationX>1291</locationX>
        <locationY>597</locationY>
        <connector>
            <targetReference>Create_New_Risk_and_Compliance</targetReference>
        </connector>
        <inputReference>comps</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Deal</name>
        <label>Create New Deal</label>
        <locationX>556</locationX>
        <locationY>418</locationY>
        <assignRecordIdToReference>newAcquisitionDealId</assignRecordIdToReference>
        <connector>
            <targetReference>Fetch_New_Acquisition_Deal</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Message</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Acq_Deal_Level__c</field>
            <value>
                <elementReference>inputAcquisitionDeal.Acq_Deal_Level__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Acquirer__c</field>
            <value>
                <elementReference>inputAcquisitionDeal.Acquirer__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Acquisition_Deal_Stage__c</field>
            <value>
                <elementReference>inputAcquisitionDeal.Acquisition_Deal_Stage__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Acquisition_Deal_Status__c</field>
            <value>
                <elementReference>inputAcquisitionDeal.Acquisition_Deal_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amendment_To__c</field>
            <value>
                <elementReference>inputAcquisitionDeal.Amendment_To__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Approval_Notes_txt__c</field>
            <value>
                <elementReference>inputAcquisitionDeal.Approval_Notes_txt__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Attached_Comps__c</field>
            <value>
                <elementReference>inputAcquisitionDeal.Attached_Comps__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Attached_Financial_Checks__c</field>
            <value>
                <elementReference>inputAcquisitionDeal.Attached_Financial_Checks__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Attached_Focus_Note__c</field>
            <value>
                <elementReference>inputAcquisitionDeal.Attached_Focus_Note__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Attached_Offer_Letter__c</field>
            <value>
                <elementReference>inputAcquisitionDeal.Attached_Offer_Letter__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Attached_P_L_Estimates__c</field>
            <value>
                <elementReference>inputAcquisitionDeal.Attached_P_L_Estimates__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Attached_P_L__c</field>
            <value>
                <elementReference>inputAcquisitionDeal.Attached_P_L__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Attached_Risk_Assesment__c</field>
            <value>
                <elementReference>inputAcquisitionDeal.Attached_Risk_Assesment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Attached_Title_Info_Pack__c</field>
            <value>
                <elementReference>inputAcquisitionDeal.Attached_Title_Info_Pack__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Board_Pack_Version__c</field>
            <value>
                <elementReference>inputAcquisitionDeal.Board_Pack_Version__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Central_Film_Group__c</field>
            <value>
                <elementReference>inputAcquisitionDeal.Central_Film_Group__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comps_Detail_for_Alternate_Revenue__c</field>
            <value>
                <elementReference>inputAcquisitionDeal.Comps_Detail_for_Alternate_Revenue__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dead__c</field>
            <value>
                <elementReference>inputAcquisitionDeal.Dead__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Digital_Comps__c</field>
            <value>
                <elementReference>inputAcquisitionDeal.Digital_Comps__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Legal_Contact__c</field>
            <value>
                <elementReference>inputAcquisitionDeal.Legal_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Licensor__c</field>
            <value>
                <elementReference>inputAcquisitionDeal.Licensor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lock_related_object_records__c</field>
            <value>
                <elementReference>inputAcquisitionDeal.Lock_related_object_records__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Marketing_Contact__c</field>
            <value>
                <elementReference>inputAcquisitionDeal.Marketing_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>{!inputAcquisitionDeal.Name} (Copy)</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Office__c</field>
            <value>
                <elementReference>inputAcquisitionDeal.Office__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>On_Hold__c</field>
            <value>
                <elementReference>inputAcquisitionDeal.On_Hold__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ops_Contact__c</field>
            <value>
                <elementReference>inputAcquisitionDeal.Ops_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Physical_Comps_Summary__c</field>
            <value>
                <elementReference>inputAcquisitionDeal.Physical_Comps_Summary__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Release_Date_Strategy__c</field>
            <value>
                <elementReference>inputAcquisitionDeal.Release_Date_Strategy__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Secondary_Licensor_if_applicable__c</field>
            <value>
                <elementReference>inputAcquisitionDeal.Secondary_Licensor_if_applicable__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Signed_approved_version__c</field>
            <value>
                <elementReference>inputAcquisitionDeal.Signed_approved_version__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Signed_working_version__c</field>
            <value>
                <elementReference>inputAcquisitionDeal.Signed_working_version__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Summary__c</field>
            <value>
                <elementReference>inputAcquisitionDeal.Summary__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tier__c</field>
            <value>
                <elementReference>inputAcquisitionDeal.Tier__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_of_Licensor__c</field>
            <value>
                <elementReference>inputAcquisitionDeal.Type_of_Licensor__c</elementReference>
            </value>
        </inputAssignments>
        <object>Acquisition_Deal__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Financials</name>
        <label>Create New Financials</label>
        <locationX>1167</locationX>
        <locationY>595</locationY>
        <connector>
            <targetReference>Create_New_Comps</targetReference>
        </connector>
        <inputReference>financials</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Primary_Terms</name>
        <label>Create New Primary Terms</label>
        <locationX>1036</locationX>
        <locationY>597</locationY>
        <connector>
            <targetReference>Create_New_Financials</targetReference>
        </connector>
        <inputReference>primaryTerm</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Risk_and_Compliance</name>
        <label>Create New Risk and Compliance</label>
        <locationX>1299</locationX>
        <locationY>696</locationY>
        <connector>
            <targetReference>Assign_Supporting_Objects_to_Acquisition_Deal</targetReference>
        </connector>
        <inputReference>riskAndComplaince</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Title</name>
        <label>Create New Title</label>
        <locationX>1146</locationX>
        <locationY>501</locationY>
        <connector>
            <targetReference>Create_New_Primary_Terms</targetReference>
        </connector>
        <inputReference>title</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Fetch_Current_Acquisition_Deal_record</name>
        <label>Fetch Current Acquisition Deal record</label>
        <locationX>32</locationX>
        <locationY>19</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assigning_the_variable</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Message</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputAcquisitionDeal.Id</elementReference>
            </value>
        </filters>
        <object>Acquisition_Deal__c</object>
        <outputReference>inputAcquisitionDeal</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Title_Context__c</queriedFields>
        <queriedFields>Primary_Term__c</queriedFields>
        <queriedFields>Financials__c</queriedFields>
        <queriedFields>Comps__c</queriedFields>
        <queriedFields>Risk_Compliance__c</queriedFields>
        <queriedFields>Board_Pack_Version__c</queriedFields>
        <queriedFields>Title_Approved__c</queriedFields>
        <queriedFields>Primary_Term_Approved__c</queriedFields>
        <queriedFields>Financials_Approved__c</queriedFields>
        <queriedFields>Comps_Approved__c</queriedFields>
        <queriedFields>Risk_Compliance_Approved__c</queriedFields>
        <queriedFields>Acquisition_Deal_Stage__c</queriedFields>
        <queriedFields>Re_Approval_Verified_for_Primary_Terms__c</queriedFields>
        <queriedFields>Re_Approval_Req_for_Primary_Terms__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Acq_Deal_Level__c</queriedFields>
        <queriedFields>Acquisition_Deal_Status__c</queriedFields>
        <queriedFields>Office__c</queriedFields>
        <queriedFields>Summary__c</queriedFields>
        <queriedFields>Sysgen_Number__c</queriedFields>
        <queriedFields>Contracting_Party__c</queriedFields>
        <queriedFields>DWBS__c</queriedFields>
        <queriedFields>Acquirer__c</queriedFields>
        <queriedFields>Type_of_Licensor__c</queriedFields>
        <queriedFields>Central_Film_Group__c</queriedFields>
        <queriedFields>On_Hold__c</queriedFields>
        <queriedFields>Dead__c</queriedFields>
        <queriedFields>Secondary_Licensor_if_applicable__c</queriedFields>
        <queriedFields>Amendment_To__c</queriedFields>
        <queriedFields>Tier__c</queriedFields>
        <queriedFields>Attached_Focus_Note__c</queriedFields>
        <queriedFields>Approval_Notes__c</queriedFields>
        <queriedFields>Approval_Notes_txt__c</queriedFields>
        <queriedFields>Attached_Offer_Letter__c</queriedFields>
        <queriedFields>Attached_Comps__c</queriedFields>
        <queriedFields>Attached_Title_Info_Pack__c</queriedFields>
        <queriedFields>Attached_Financial_Checks__c</queriedFields>
        <queriedFields>Attached_P_L__c</queriedFields>
        <queriedFields>Attached_P_L_Estimates__c</queriedFields>
        <queriedFields>Attached_Risk_Assesment__c</queriedFields>
        <queriedFields>Legal_Contact__c</queriedFields>
        <queriedFields>Ops_Contact__c</queriedFields>
        <queriedFields>Marketing_Contact__c</queriedFields>
        <queriedFields>Lock_related_object_records__c</queriedFields>
        <queriedFields>Acq_Deal_Level_Formula__c</queriedFields>
        <queriedFields>Acq_Deal_Level_Internal_Name__c</queriedFields>
        <queriedFields>Signed_working_version__c</queriedFields>
        <queriedFields>Signed_approved_version__c</queriedFields>
        <queriedFields>Release_Date_Strategy__c</queriedFields>
        <queriedFields>Physical_Comps_Summary__c</queriedFields>
        <queriedFields>Digital_Comps__c</queriedFields>
        <queriedFields>Comps_Detail_for_Alternate_Revenue__c</queriedFields>
        <queriedFields>Approval_Date__c</queriedFields>
        <queriedFields>Approval_Threshold_Passed__c</queriedFields>
        <queriedFields>Licensor__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>and make it available for edits</description>
        <name>Fetch_New_Acquisition_Deal</name>
        <label>Fetch New Acquisition Deal</label>
        <locationX>433</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Initialise_Board_Pack_Version_to_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Message</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>newAcquisitionDealId</elementReference>
            </value>
        </filters>
        <object>Acquisition_Deal__c</object>
        <outputReference>newAcquisitionDeal</outputReference>
        <queriedFields>Board_Pack_Version__c</queriedFields>
        <queriedFields>Acquisition_Deal_Stage__c</queriedFields>
        <queriedFields>Title_Context__c</queriedFields>
        <queriedFields>Primary_Term__c</queriedFields>
        <queriedFields>Financials__c</queriedFields>
        <queriedFields>Comps__c</queriedFields>
        <queriedFields>Risk_Compliance__c</queriedFields>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Acq_Deal_Level__c</queriedFields>
        <queriedFields>Office__c</queriedFields>
        <queriedFields>Summary__c</queriedFields>
        <queriedFields>Sysgen_Number__c</queriedFields>
        <queriedFields>DWBS__c</queriedFields>
        <queriedFields>Contracting_Party__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Current_Acquisition_Deal</name>
        <label>Update Current Acquisition Deal</label>
        <locationX>463</locationX>
        <locationY>796</locationY>
        <connector>
            <targetReference>Assign_Record_Type_Ids</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Message</targetReference>
        </faultConnector>
        <inputReference>inputAcquisitionDeal</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_New_Deal</name>
        <label>Update New Deal</label>
        <locationX>461</locationX>
        <locationY>685</locationY>
        <connector>
            <targetReference>Update_Current_Acquisition_Deal</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Message</targetReference>
        </faultConnector>
        <inputReference>newAcquisitionDeal</inputReference>
    </recordUpdates>
    <screens>
        <name>Clone_Board_Pack_Message_Approved</name>
        <label>Clone Board Pack Message approved</label>
        <locationX>653</locationX>
        <locationY>249</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Remember_Screen_Choice_1_1</targetReference>
        </connector>
        <fields>
            <name>CloneBoardPackMessage_0</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;This Acquisition Deal will be cloned.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Please make your selection for creation of associated board pack :&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Create_New_Board_Pack_Approved</name>
            <choiceReferences>as_a_copy_of_existing_approved_Board_Pack</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>as_a_copy_of_existing_approved_Board_Pack</defaultSelectedChoiceReference>
            <fieldText>Create New Board Pack</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Clone_Board_Pack_Message_Both</name>
        <label>Clone Board Pack Message Both</label>
        <locationX>392</locationX>
        <locationY>249</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Remember_Screen_Choice</targetReference>
        </connector>
        <fields>
            <name>CloneBoardPackMessage</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;This Acquisition Deal will be cloned.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Please make your selection for creation of associated board pack :&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Create_New_Board_Pack</name>
            <choiceReferences>as_a_copy_of_existing_approved_Board_Pack</choiceReferences>
            <choiceReferences>as_a_copy_of_existing_Working_Board_pack</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>as_a_copy_of_existing_approved_Board_Pack</defaultSelectedChoiceReference>
            <fieldText>Create New Board Pack</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Clone_Board_Pack_Message_Both_0_1</name>
        <label>Clone Board Pack Message Both</label>
        <locationX>1845</locationX>
        <locationY>24</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NoCopyMessage</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;The Deal does not have neither working nor approved version. There is nothing to copy.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Clone_Board_Pack_Message_Working</name>
        <label>Clone Board Pack Message Working</label>
        <locationX>915</locationX>
        <locationY>220</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Remember_Screen_Choice_1</targetReference>
        </connector>
        <fields>
            <name>CloneBoardPackMessage_1</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;This Acquisition Deal will be cloned.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Please make your selection for creation of associated board pack :&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Create_New_Board_Pack_Working</name>
            <choiceReferences>as_a_copy_of_existing_Working_Board_pack</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Create New Board Pack</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>New_Board_Pack_Message</name>
        <label>New Board Pack Message</label>
        <locationX>1151</locationX>
        <locationY>329</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Acquisistion_Deal_Id_to_related_records</targetReference>
        </connector>
        <fields>
            <name>NewBoardPackMessage</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;A new Board Pack will be created. To create the Board Pack, Title has to be defined. Other information can be entered later. Please enter below the Title name.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TitleInput</name>
            <dataType>String</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Title&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Error_Message</name>
        <label>Screen Error Message</label>
        <locationX>36</locationX>
        <locationY>602</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessMessage_0</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!chatterErrorMessage}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Error_Message_2</name>
        <label>Screen Error Message</label>
        <locationX>1159</locationX>
        <locationY>153</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessMessage_0_0</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!chatterErrorMessage}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Success_Message</name>
        <label>Screen Success Message</label>
        <locationX>470</locationX>
        <locationY>966</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessMessage</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Success!&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;A new Acquisition Deal was created succesfully.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Deal Name: {!newAcquisitionDeal.Name}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Board Pack version: {!newAcquisitionDeal.Board_Pack_Version__c}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Click Finish to proceed to your new Deal.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Fetch_Current_Acquisition_Deal_record</startElementReference>
    <status>Active</status>
    <subflows>
        <name>Assign_Record_Type_Ids</name>
        <label>Assign Record Type Ids</label>
        <locationX>468</locationX>
        <locationY>882</locationY>
        <connector>
            <targetReference>Screen_Success_Message</targetReference>
        </connector>
        <flowName>Subflow_Acquisition_Deal_Assign_Record_Ids_to_Related_Objects</flowName>
        <inputAssignments>
            <name>inputAcquisitionDeal</name>
            <value>
                <elementReference>newAcquisitionDeal</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Clone_Boardpack_From_Old_to_New</name>
        <label>Clone Boardpack From Old to New</label>
        <locationX>450</locationX>
        <locationY>600</locationY>
        <connector>
            <targetReference>Update_New_Deal</targetReference>
        </connector>
        <flowName>Subflow_Acquisition_Deal_Clone_Related_Objects_Records</flowName>
        <inputAssignments>
            <name>inputCopyFromAcquisitionDeal</name>
            <value>
                <elementReference>inputAcquisitionDeal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputCopyToAcquisitionDeal</name>
            <value>
                <elementReference>newAcquisitionDeal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputVersionToCopyFrom</name>
            <value>
                <elementReference>boardPackVersionToCopy</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>newAcquisitionDeal</assignToReference>
            <name>inputCopyToAcquisitionDeal</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>boardPackVersionToCopy</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>comps</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Comps__c</objectType>
    </variables>
    <variables>
        <name>financials</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Financials__c</objectType>
    </variables>
    <variables>
        <name>inputAcquisitionDeal</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Acquisition_Deal__c</objectType>
    </variables>
    <variables>
        <name>inputid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>newAcquisitionDeal</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Acquisition_Deal__c</objectType>
    </variables>
    <variables>
        <name>newAcquisitionDealId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>primaryTerm</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Primary_Terms__c</objectType>
    </variables>
    <variables>
        <name>riskAndComplaince</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Risk_Compliance__c</objectType>
    </variables>
    <variables>
        <name>title</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Title__c</objectType>
    </variables>
    <variables>
        <name>titleId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
