force-app/main/default/flows/Acqusition_Deal_Update_Re_Aproval_for_Primary_Terms.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Error_Message</name>
        <label>Error Message to Chatter</label>
        <locationX>1038</locationX>
        <locationY>354</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>inputAcquisitionDeal.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>chatterErrorMessage</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Check_Re_Approval_for_Primary_Terms</name>
        <label>Check Re-Approval for Primary Terms</label>
        <locationX>63</locationX>
        <locationY>258</locationY>
        <assignmentItems>
            <assignToReference>inputAcquisitionDeal.Re_Approval_Req_for_Primary_Terms__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inputAcquisitionDeal.Re_Approval_Verified_for_Primary_Terms__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Acquisition_Deal</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Un_Check_Re_Approval_for_Primary_Terms</name>
        <label>Un- Check Re-Approval for Primary Terms</label>
        <locationX>429</locationX>
        <locationY>255</locationY>
        <assignmentItems>
            <assignToReference>inputAcquisitionDeal.Re_Approval_Req_for_Primary_Terms__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inputAcquisitionDeal.Re_Approval_Verified_for_Primary_Terms__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Acquisition_Deal</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>?Any Reaproval for Primary Terms checekd</description>
        <name>Is_Any_Re_Approval_Required</name>
        <label>Is Any Re-Approval Required?</label>
        <locationX>249</locationX>
        <locationY>138</locationY>
        <defaultConnector>
            <targetReference>Check_Re_Approval_for_Primary_Terms</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Required</defaultConnectorLabel>
        <rules>
            <name>Not_required</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inputAcquisitionDeal.Re_Approval_Req_for_PT_Other__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>inputAcquisitionDeal.Re_Approval_Req_for_PT_Paid_On1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>inputAcquisitionDeal.Re_Approval_Req_for_PT_Paid_On2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>inputAcquisitionDeal.Re_Approval_Req_for_PT_Paid_On3__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>inputAcquisitionDeal.Re_Approval_Req_for_PT_Paid_On4__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>inputAcquisitionDeal.Re_Approval_Req_for_PT_Paid_On5__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>inputAcquisitionDeal.Re_Approval_Req_for_PT_Paid_On6__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>inputAcquisitionDeal.Re_Approval_Req_for_PT_Rights_2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>inputAcquisitionDeal.Re_Approval_Req_for_PT_Rigts1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Un_Check_Re_Approval_for_Primary_Terms</targetReference>
            </connector>
            <label>Not required</label>
        </rules>
    </decisions>
    <description>Version running as from Acquisition Deal level</description>
    <formulas>
        <name>chatterErrorMessage</name>
        <dataType>String</dataType>
        <expression>{!$Label.FlowErrorMessage}</expression>
    </formulas>
    <interviewLabel>Acqusition Deal Update Re-Aproval for Primary Terms {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Acqusition Deal Update Re-Aproval for Primary Terms</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Fetch_Current_Acquisition_Deal</name>
        <label>Fetch Current Acquisition Deal</label>
        <locationX>251</locationX>
        <locationY>12</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Any_Re_Approval_Required</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Message</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputAcquisitionDeal.Id</elementReference>
            </value>
        </filters>
        <object>Acquisition_Deal__c</object>
        <outputReference>inputAcquisitionDeal</outputReference>
        <queriedFields>Re_Approval_Req_for_Primary_Terms__c</queriedFields>
        <queriedFields>Re_Approval_Req_for_PT_Other__c</queriedFields>
        <queriedFields>Re_Approval_Req_for_PT_Paid_On1__c</queriedFields>
        <queriedFields>Re_Approval_Req_for_PT_Paid_On2__c</queriedFields>
        <queriedFields>Re_Approval_Req_for_PT_Paid_On3__c</queriedFields>
        <queriedFields>Re_Approval_Req_for_PT_Paid_On4__c</queriedFields>
        <queriedFields>Re_Approval_Req_for_PT_Paid_On5__c</queriedFields>
        <queriedFields>Re_Approval_Req_for_PT_Paid_On6__c</queriedFields>
        <queriedFields>Re_Approval_Req_for_PT_Rights_2__c</queriedFields>
        <queriedFields>Re_Approval_Req_for_PT_Rigts1__c</queriedFields>
        <queriedFields>Primary_Term__c</queriedFields>
        <queriedFields>Re_Approval_Required_checkbox__c</queriedFields>
        <queriedFields>Re_Approval_Verified_for_Primary_Terms__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Acquisition_Deal</name>
        <label>Update Acquisition Deal</label>
        <locationX>247</locationX>
        <locationY>361</locationY>
        <faultConnector>
            <targetReference>Error_Message</targetReference>
        </faultConnector>
        <inputReference>inputAcquisitionDeal</inputReference>
    </recordUpdates>
    <startElementReference>Fetch_Current_Acquisition_Deal</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>Hellpmessage</name>
        <text>Flow Started

paid on 1: {!inputAcquisitionDeal.Re_Approval_Req_for_PT_Paid_On1__c}
paid on 2: {!inputAcquisitionDeal.Re_Approval_Req_for_PT_Paid_On2__c}{!other: acquisitionDeal.Re_Approval_Req_for_PT_Other__c}</text>
    </textTemplates>
    <variables>
        <name>inputAcquisitionDeal</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Acquisition_Deal__c</objectType>
    </variables>
    <variables>
        <name>inputAcquisitionDealId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
