force-app/main/default/flows/Add_Title_Group_to_CAR_Team.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_To_CAR_Team</name>
        <label>Add To CAR Team</label>
        <locationX>255</locationX>
        <locationY>63</locationY>
        <assignmentItems>
            <assignToReference>CARTeamToCreateList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CARTeamToCreate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_CAR_Team</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Placeholder_Record</name>
        <label>Create Placeholder Record</label>
        <locationX>450</locationX>
        <locationY>88</locationY>
        <assignmentItems>
            <assignToReference>CARTeamToCreate.CAR__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CARIDFromPB</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CARTeamToCreate.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentTitleTeamMember.User__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CARTeamToCreate.Team_Member__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentTitleTeamMember.User__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_To_CAR_Team</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CAR_Team_Member_Exists</name>
        <label>CAR Team Member Exists?</label>
        <locationX>295</locationX>
        <locationY>341</locationY>
        <defaultConnector>
            <targetReference>CheckExistingCARTeam</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentCARTeamMember.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CurrentTitleTeamMember.User__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_CAR_Team</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <interviewLabel>Add Title Group to CAR Team {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add Title Group to CAR Team</label>
    <loops>
        <name>CheckExistingCARTeam</name>
        <label>CheckExistingCARTeam</label>
        <locationX>351</locationX>
        <locationY>197</locationY>
        <assignNextValueToReference>CurrentCARTeamMember</assignNextValueToReference>
        <collectionReference>CurrentCarTeam</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CAR_Team_Member_Exists</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Placeholder_Record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Create_CAR_Team</name>
        <label>Create CAR Team</label>
        <locationX>46</locationX>
        <locationY>245</locationY>
        <assignNextValueToReference>CurrentTitleTeamMember</assignNextValueToReference>
        <collectionReference>TitleGroup</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CheckExistingCARTeam</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_New_CAR_Team_Members</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_New_CAR_Team_Members</name>
        <label>Create New CAR Team Members</label>
        <locationX>44</locationX>
        <locationY>357</locationY>
        <inputReference>CARTeamToCreateList</inputReference>
    </recordCreates>
    <recordLookups>
        <name>FindExistingCARTeam</name>
        <label>FindExistingCARTeam</label>
        <locationX>43</locationX>
        <locationY>142</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_CAR_Team</targetReference>
        </connector>
        <filters>
            <field>CAR__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CARIDFromPB</elementReference>
            </value>
        </filters>
        <object>CAR_Team__c</object>
        <outputReference>CurrentCarTeam</outputReference>
        <queriedFields>OwnerId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>FindTitleGroupMembers</name>
        <label>FindTitleGroupMembers</label>
        <locationX>42</locationX>
        <locationY>30</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FindExistingCARTeam</targetReference>
        </connector>
        <filters>
            <field>Title__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TitleNameFromPB</elementReference>
            </value>
        </filters>
        <object>Title_Group__c</object>
        <outputReference>TitleGroup</outputReference>
        <queriedFields>Title__c</queriedFields>
        <queriedFields>User__c</queriedFields>
    </recordLookups>
    <startElementReference>FindTitleGroupMembers</startElementReference>
    <status>Active</status>
    <variables>
        <name>CARIDFromPB</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CARTeamToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CAR_Team__c</objectType>
    </variables>
    <variables>
        <name>CARTeamToCreateList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CAR_Team__c</objectType>
    </variables>
    <variables>
        <name>CurrentCarTeam</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CAR_Team__c</objectType>
    </variables>
    <variables>
        <name>CurrentCARTeamMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CAR_Team__c</objectType>
    </variables>
    <variables>
        <name>CurrentTitleTeamMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Title_Group__c</objectType>
    </variables>
    <variables>
        <name>TitleGroup</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Title_Group__c</objectType>
    </variables>
    <variables>
        <name>TitleNameFromPB</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
