force-app/main/default/flows/CAR_Check_For_Duplicates.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_To_CAR_Team</name>
        <label>Add To CAR Team</label>
        <locationX>50</locationX>
        <locationY>307</locationY>
        <assignmentItems>
            <assignToReference>CARTeamToCreateList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CARTeamToCreate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_CAR_Team_Members</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Placeholder_Record</name>
        <label>Create Placeholder Record</label>
        <locationX>44</locationX>
        <locationY>209</locationY>
        <assignmentItems>
            <assignToReference>CARTeamToCreate.CAR__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CARIDFromPB</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CARTeamToCreate.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UserIDFromPB</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CARTeamToCreate.Team_Member__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UserIDFromPB</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_To_CAR_Team</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CAR_Team_Member_Exists</name>
        <label>CAR Team Member Exists?</label>
        <locationX>326</locationX>
        <locationY>225</locationY>
        <defaultConnector>
            <targetReference>CheckExistingCARTeam</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentCARTeamMember.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>UserIDFromPB</elementReference>
                </rightValue>
            </conditions>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Values_Returned</name>
        <label>Check if Values Returned</label>
        <locationX>42</locationX>
        <locationY>108</locationY>
        <defaultConnector>
            <targetReference>CheckExistingCARTeam</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>No_Current_CAR_Team</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentCarTeam</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Placeholder_Record</targetReference>
            </connector>
            <label>No Current CAR Team</label>
        </rules>
    </decisions>
    <description>This is to check a single user ID</description>
    <interviewLabel>CAR - Check For Duplicates {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CAR - Check For Duplicates</label>
    <loops>
        <name>CheckExistingCARTeam</name>
        <label>CheckExistingCARTeam</label>
        <locationX>349</locationX>
        <locationY>109</locationY>
        <assignNextValueToReference>CurrentCARTeamMember</assignNextValueToReference>
        <collectionReference>CurrentCarTeam</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CAR_Team_Member_Exists</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Placeholder_Record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_New_CAR_Team_Members</name>
        <label>Create New CAR Team Members</label>
        <locationX>44</locationX>
        <locationY>404</locationY>
        <inputReference>CARTeamToCreateList</inputReference>
    </recordCreates>
    <recordLookups>
        <name>FindExistingCARTeam</name>
        <label>FindExistingCARTeam</label>
        <locationX>43</locationX>
        <locationY>19</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Values_Returned</targetReference>
        </connector>
        <filters>
            <field>CAR__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CARIDFromPB</elementReference>
            </value>
        </filters>
        <object>CAR_Team__c</object>
        <outputReference>CurrentCarTeam</outputReference>
        <queriedFields>OwnerId</queriedFields>
    </recordLookups>
    <startElementReference>FindExistingCARTeam</startElementReference>
    <status>Active</status>
    <variables>
        <name>CARIDFromPB</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CARTeamToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CAR_Team__c</objectType>
    </variables>
    <variables>
        <name>CARTeamToCreateList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CAR_Team__c</objectType>
    </variables>
    <variables>
        <name>CurrentCarTeam</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CAR_Team__c</objectType>
    </variables>
    <variables>
        <name>CurrentCARTeamMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CAR_Team__c</objectType>
    </variables>
    <variables>
        <name>CurrentTitleTeamMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Title_Group__c</objectType>
    </variables>
    <variables>
        <name>UserIDFromPB</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
