force-app/main/default/flows/Chatter_Post.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <processMetadataValues>
            <name>textJson</name>
            <value>
                <stringValue>{&quot;mentions&quot;:[],&quot;message&quot;:&quot;Release Name: {![Release__c].Name}\n\nTerritory: {![Release__c].Territory__c}\nPrevious Street Date: {![Release__c].Previous_Street_Date__c}  \nNew Street Date: {![Release__c].Street_Date__c}\n\nPrevious Online Consumer Solicitation Date: {![Release__c].Prev_Online_Consumer_Solicitation_Date_c__c}  \nNew Online Consumer Solicitation Date: {![Release__c].Online_Consumer_Solicitation_Date__c}\n\nMarketing Contact: {![Release__c].Marketing_Contact__r.FirstName} {![Release__c].Marketing_Contact__r.LastName}&quot;}</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_13_A2</name>
        <label>Post to Record</label>
        <locationX>1300</locationX>
        <locationY>300</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>myRule_13_A3</targetReference>
        </connector>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>Release Name: {!myVariable_current.Name}

Territory: {!myVariable_current.Territory__c}
Previous Street Date: {!myVariable_current.Previous_Street_Date__c}  
New Street Date: {!myVariable_current.Street_Date__c}

Previous Online Consumer Solicitation Date: {!myVariable_current.Prev_Online_Consumer_Solicitation_Date_c__c}  
New Online Consumer Solicitation Date: {!myVariable_current.Online_Consumer_Solicitation_Date__c}

Marketing Contact: {!myVariable_current.Marketing_Contact__r.FirstName} {!myVariable_current.Marketing_Contact__r.LastName}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>textJson</name>
            <value>
                <stringValue>{&quot;mentions&quot;:[],&quot;message&quot;:&quot;Release Name: {![Release__c].Name}\n\nTerritory: {![Release__c].Territory__c}\nPrevious Street Date: {![Release__c].Previous_Street_Date__c}  \nNew Street Date: {![Release__c].Street_Date__c}\n\nPrevious Online Consumer Solicitation Date: {![Release__c].Prev_Online_Consumer_Solicitation_Date_c__c}  \nNew Online Consumer Solicitation Date: {![Release__c].Online_Consumer_Solicitation_Date__c}\n\nMarketing Contact: &quot;}</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_19_A2</name>
        <label>Post On Record</label>
        <locationX>1900</locationX>
        <locationY>300</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>myRule_19_A3</targetReference>
        </connector>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>Release Name: {!myVariable_current.Name}

Territory: {!myVariable_current.Territory__c}
Previous Street Date: {!myVariable_current.Previous_Street_Date__c}  
New Street Date: {!myVariable_current.Street_Date__c}

Previous Online Consumer Solicitation Date: {!myVariable_current.Prev_Online_Consumer_Solicitation_Date_c__c}  
New Online Consumer Solicitation Date: {!myVariable_current.Online_Consumer_Solicitation_Date__c}

Marketing Contact: </stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>textJson</name>
            <value>
                <stringValue>{&quot;mentions&quot;:[],&quot;message&quot;:&quot;\nRelease Name: {![Release__c].Name}\n\nTerritory: {![Release__c].Territory__c}\nPrevious Street Date: {![Release__c].Previous_Street_Date__c}  \nNew Street Date: {![Release__c].Street_Date__c}\n\nPrevious Online Consumer Solicitation Date: {![Release__c].Prev_Online_Consumer_Solicitation_Date_c__c}  \nNew Online Consumer Solicitation Date: {![Release__c].Online_Consumer_Solicitation_Date__c}\n\nMarketing Contact: {![Release__c].Marketing_Contact__r.FirstName} {![Release__c].Marketing_Contact__r.LastName}&quot;}</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A2</name>
        <label>Post On Record</label>
        <locationX>100</locationX>
        <locationY>300</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>myRule_1_A3</targetReference>
        </connector>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>
Release Name: {!myVariable_current.Name}

Territory: {!myVariable_current.Territory__c}
Previous Street Date: {!myVariable_current.Previous_Street_Date__c}  
New Street Date: {!myVariable_current.Street_Date__c}

Previous Online Consumer Solicitation Date: {!myVariable_current.Prev_Online_Consumer_Solicitation_Date_c__c}  
New Online Consumer Solicitation Date: {!myVariable_current.Online_Consumer_Solicitation_Date__c}

Marketing Contact: {!myVariable_current.Marketing_Contact__r.FirstName} {!myVariable_current.Marketing_Contact__r.LastName}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>textJson</name>
            <value>
                <stringValue>{&quot;mentions&quot;:[],&quot;message&quot;:&quot;Release Name: {![Release__c].Name}\n\nTerritory: {![Release__c].Territory__c}\nPrevious Street Date: {![Release__c].Previous_Street_Date__c}  \nNew Street Date: {![Release__c].Street_Date__c}\n\nMarketing Contact: {![Release__c].Marketing_Contact__r.FirstName} {![Release__c].Marketing_Contact__r.LastName}\nV-Project Number: {![Release__c].V_Project_Number__c}&quot;}</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_25_A2</name>
        <label>Post On Record</label>
        <locationX>2500</locationX>
        <locationY>300</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>myRule_25_A3</targetReference>
        </connector>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>Release Name: {!myVariable_current.Name}

Territory: {!myVariable_current.Territory__c}
Previous Street Date: {!myVariable_current.Previous_Street_Date__c}  
New Street Date: {!myVariable_current.Street_Date__c}

Marketing Contact: {!myVariable_current.Marketing_Contact__r.FirstName} {!myVariable_current.Marketing_Contact__r.LastName}
V-Project Number: {!myVariable_current.V_Project_Number__c}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>textJson</name>
            <value>
                <stringValue>{&quot;mentions&quot;:[],&quot;message&quot;:&quot;Release Name: {![Release__c].Name}\n\nTerritory: {![Release__c].Territory__c}\nPrevious Street Date: {![Release__c].Previous_Street_Date__c}  \nNew Street Date: {![Release__c].Street_Date__c}\n\nMarketing Contact:\nV-Project Number: {![Release__c].V_Project_Number__c}&quot;}</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_31_A2</name>
        <label>Post On Record</label>
        <locationX>3100</locationX>
        <locationY>300</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>myRule_31_A3</targetReference>
        </connector>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>Release Name: {!myVariable_current.Name}

Territory: {!myVariable_current.Territory__c}
Previous Street Date: {!myVariable_current.Previous_Street_Date__c}  
New Street Date: {!myVariable_current.Street_Date__c}

Marketing Contact:
V-Project Number: {!myVariable_current.V_Project_Number__c}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>textJson</name>
            <value>
                <stringValue>{&quot;mentions&quot;:[],&quot;message&quot;:&quot;Release Name: {![Release__c].Name}\n\nTerritory: {![Release__c].Territory__c}\nPrevious Street Date: {![Release__c].Previous_Street_Date__c}  \nNew Street Date: {![Release__c].Street_Date__c}\n\nMarketing Contact: {![Release__c].Marketing_Contact__r.FirstName} {![Release__c].Marketing_Contact__r.LastName}\nV-Project Number: {![Release__c].V_Project_Number__c}&quot;}</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_37_A2</name>
        <label>Post to Record</label>
        <locationX>3700</locationX>
        <locationY>300</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>myRule_37_A3</targetReference>
        </connector>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>Release Name: {!myVariable_current.Name}

Territory: {!myVariable_current.Territory__c}
Previous Street Date: {!myVariable_current.Previous_Street_Date__c}  
New Street Date: {!myVariable_current.Street_Date__c}

Marketing Contact: {!myVariable_current.Marketing_Contact__r.FirstName} {!myVariable_current.Marketing_Contact__r.LastName}
V-Project Number: {!myVariable_current.V_Project_Number__c}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>textJson</name>
            <value>
                <stringValue>{&quot;mentions&quot;:[],&quot;message&quot;:&quot;Release Name: {![Release__c].Name}\n\nTerritory: {![Release__c].Territory__c}\nPrevious Street Date: {![Release__c].Previous_Street_Date__c}  \nNew Street Date: {![Release__c].Street_Date__c}\n\nMarketing Contact:\nV-Project Number: {![Release__c].V_Project_Number__c}&quot;}</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_43_A2</name>
        <label>Post On Record</label>
        <locationX>4300</locationX>
        <locationY>300</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>myRule_43_A3</targetReference>
        </connector>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>Release Name: {!myVariable_current.Name}

Territory: {!myVariable_current.Territory__c}
Previous Street Date: {!myVariable_current.Previous_Street_Date__c}  
New Street Date: {!myVariable_current.Street_Date__c}

Marketing Contact:
V-Project Number: {!myVariable_current.V_Project_Number__c}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>textJson</name>
            <value>
                <stringValue>{&quot;mentions&quot;:[],&quot;message&quot;:&quot;Release Name: {![Release__c].Name}\n\nTerritory: {![Release__c].Territory__c}\nPrevious Street Date: {![Release__c].Previous_Street_Date__c}  \nNew Street Date: {![Release__c].Street_Date__c}\n\nPrevious Online Consumer Solicitation Date: {![Release__c].Prev_Online_Consumer_Solicitation_Date_c__c}  \nNew Online Consumer Solicitation Date: {![Release__c].Online_Consumer_Solicitation_Date__c}\n\nMarketing Contact:&quot;}</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_7_A2</name>
        <label>Post On Record</label>
        <locationX>700</locationX>
        <locationY>300</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>myRule_7_A3</targetReference>
        </connector>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>Release Name: {!myVariable_current.Name}

Territory: {!myVariable_current.Territory__c}
Previous Street Date: {!myVariable_current.Previous_Street_Date__c}  
New Street Date: {!myVariable_current.Street_Date__c}

Previous Online Consumer Solicitation Date: {!myVariable_current.Prev_Online_Consumer_Solicitation_Date_c__c}  
New Online Consumer Solicitation Date: {!myVariable_current.Online_Consumer_Solicitation_Date__c}

Marketing Contact:</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>myVariable_waitStartTimeAssignment</name>
        <label>myVariable_waitStartTimeAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>myVariable_waitStartTimeVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myDecision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision6</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Street and Online Date change and contact is not null</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision12</name>
        <label>myDecision12</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision18</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_13</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_13</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_13_A1</targetReference>
            </connector>
            <label>Street Date change and contact is not null</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision18</name>
        <label>myDecision18</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision24</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_19</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_19</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_19_A1</targetReference>
            </connector>
            <label>Street Date change and contact is null</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision24</name>
        <label>myDecision24</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision30</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_25</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_25</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_25_A1</targetReference>
            </connector>
            <label>59 - Street and Online Date change and contact is not null</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision30</name>
        <label>myDecision30</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision36</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_31</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_31</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_31_A1</targetReference>
            </connector>
            <label>59 - Street and Online Date change and contact is null</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>6.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision36</name>
        <label>myDecision36</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision42</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_37</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_37</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_37_A1</targetReference>
            </connector>
            <label>59 - Street Date change and contact is not null</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>7.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision42</name>
        <label>myDecision42</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_43</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_43</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_43_A1</targetReference>
            </connector>
            <label>59 - Street Date change and contact is null</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision6</name>
        <label>myDecision6</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision12</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_7</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_7_A1</targetReference>
            </connector>
            <label>Street and Online Date change and contact is null</label>
        </rules>
    </decisions>
    <description>Chatter post on street date change</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>PRIORVALUE([Release__c].Online_Consumer_Solicitation_Date__c) </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_10_myRule_7_A1_6767008786</name>
        <dataType>Date</dataType>
        <expression>PRIORVALUE({!myVariable_current.Online_Consumer_Solicitation_Date__c})</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>PRIORVALUE([Release__c].Street_Date__c ) </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_11_myRule_7_A1_8537828602</name>
        <dataType>Date</dataType>
        <expression>PRIORVALUE({!myVariable_current.Street_Date__c} )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[Release__c].Online_Consumer_Solicitation_Date__c </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_14_myRule_13_A3_2511149134</name>
        <dataType>Date</dataType>
        <expression>{!myVariable_current.Online_Consumer_Solicitation_Date__c}</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[Release__c].Street_Date__c </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_15_myRule_13_A3_6088533528</name>
        <dataType>Date</dataType>
        <expression>{!myVariable_current.Street_Date__c}</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[Release__c].Online_Consumer_Solicitation_Date__c </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_16_myRule_13_A1_3825177764</name>
        <dataType>Date</dataType>
        <expression>{!myVariable_current.Online_Consumer_Solicitation_Date__c}</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>PRIORVALUE([Release__c].Street_Date__c ) </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_17_myRule_13_A1_2468827911</name>
        <dataType>Date</dataType>
        <expression>PRIORVALUE({!myVariable_current.Street_Date__c} )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[Release__c].Online_Consumer_Solicitation_Date__c </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_20_myRule_19_A3_7253823953</name>
        <dataType>Date</dataType>
        <expression>{!myVariable_current.Online_Consumer_Solicitation_Date__c}</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[Release__c].Street_Date__c </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_21_myRule_19_A3_9127628604</name>
        <dataType>Date</dataType>
        <expression>{!myVariable_current.Street_Date__c}</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[Release__c].Online_Consumer_Solicitation_Date__c </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_22_myRule_19_A1_5670978737</name>
        <dataType>Date</dataType>
        <expression>{!myVariable_current.Online_Consumer_Solicitation_Date__c}</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>PRIORVALUE([Release__c].Street_Date__c ) </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_23_myRule_19_A1_8957723723</name>
        <dataType>Date</dataType>
        <expression>PRIORVALUE({!myVariable_current.Street_Date__c} )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[Release__c].Online_Consumer_Solicitation_Date__c </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_26_myRule_25_A3_5606851530</name>
        <dataType>Date</dataType>
        <expression>{!myVariable_current.Online_Consumer_Solicitation_Date__c}</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[Release__c].Street_Date__c </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_27_myRule_25_A3_8615833833</name>
        <dataType>Date</dataType>
        <expression>{!myVariable_current.Street_Date__c}</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>PRIORVALUE([Release__c].Online_Consumer_Solicitation_Date__c)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_28_myRule_25_A1_2382673125</name>
        <dataType>Date</dataType>
        <expression>PRIORVALUE({!myVariable_current.Online_Consumer_Solicitation_Date__c})</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>PRIORVALUE([Release__c].Street_Date__c) </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_29_myRule_25_A1_0144527662</name>
        <dataType>Date</dataType>
        <expression>PRIORVALUE({!myVariable_current.Street_Date__c})</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[Release__c].Online_Consumer_Solicitation_Date__c </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_2_myRule_1_A3_3835796087</name>
        <dataType>Date</dataType>
        <expression>{!myVariable_current.Online_Consumer_Solicitation_Date__c}</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[Release__c].Online_Consumer_Solicitation_Date__c </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_32_myRule_31_A3_4367255640</name>
        <dataType>Date</dataType>
        <expression>{!myVariable_current.Online_Consumer_Solicitation_Date__c}</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[Release__c].Street_Date__c </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_33_myRule_31_A3_9528520616</name>
        <dataType>Date</dataType>
        <expression>{!myVariable_current.Street_Date__c}</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>PRIORVALUE([Release__c].Online_Consumer_Solicitation_Date__c ) </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_34_myRule_31_A1_2059862242</name>
        <dataType>Date</dataType>
        <expression>PRIORVALUE({!myVariable_current.Online_Consumer_Solicitation_Date__c} )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>PRIORVALUE([Release__c].Street_Date__c ) </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_35_myRule_31_A1_9552584635</name>
        <dataType>Date</dataType>
        <expression>PRIORVALUE({!myVariable_current.Street_Date__c} )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[Release__c].Online_Consumer_Solicitation_Date__c </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_38_myRule_37_A3_0646838409</name>
        <dataType>Date</dataType>
        <expression>{!myVariable_current.Online_Consumer_Solicitation_Date__c}</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[Release__c].Street_Date__c </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_39_myRule_37_A3_7425401432</name>
        <dataType>Date</dataType>
        <expression>{!myVariable_current.Street_Date__c}</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[Release__c].Street_Date__c </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_3_myRule_1_A3_1841562587</name>
        <dataType>Date</dataType>
        <expression>{!myVariable_current.Street_Date__c}</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[Release__c].Online_Consumer_Solicitation_Date__c </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_40_myRule_37_A1_8489772169</name>
        <dataType>Date</dataType>
        <expression>{!myVariable_current.Online_Consumer_Solicitation_Date__c}</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>PRIORVALUE([Release__c].Street_Date__c ) </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_41_myRule_37_A1_2110817461</name>
        <dataType>Date</dataType>
        <expression>PRIORVALUE({!myVariable_current.Street_Date__c} )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[Release__c].Online_Consumer_Solicitation_Date__c </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_44_myRule_43_A3_5526266637</name>
        <dataType>Date</dataType>
        <expression>{!myVariable_current.Online_Consumer_Solicitation_Date__c}</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[Release__c].Street_Date__c </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_45_myRule_43_A3_5963909825</name>
        <dataType>Date</dataType>
        <expression>{!myVariable_current.Street_Date__c}</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[Release__c].Online_Consumer_Solicitation_Date__c </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_46_myRule_43_A1_8677705097</name>
        <dataType>Date</dataType>
        <expression>{!myVariable_current.Online_Consumer_Solicitation_Date__c}</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>PRIORVALUE([Release__c].Street_Date__c ) </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_47_myRule_43_A1_2184134650</name>
        <dataType>Date</dataType>
        <expression>PRIORVALUE({!myVariable_current.Street_Date__c} )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>PRIORVALUE([Release__c].Online_Consumer_Solicitation_Date__c ) </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_4_myRule_1_A1_5197432434</name>
        <dataType>Date</dataType>
        <expression>PRIORVALUE({!myVariable_current.Online_Consumer_Solicitation_Date__c} )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>PRIORVALUE([Release__c].Street_Date__c ) </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_5_myRule_1_A1_6787463334</name>
        <dataType>Date</dataType>
        <expression>PRIORVALUE({!myVariable_current.Street_Date__c} )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[Release__c].Online_Consumer_Solicitation_Date__c </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_8_myRule_7_A3_1663763469</name>
        <dataType>Date</dataType>
        <expression>{!myVariable_current.Online_Consumer_Solicitation_Date__c}</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[Release__c].Street_Date__c </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_9_myRule_7_A3_0269510291</name>
        <dataType>Date</dataType>
        <expression>{!myVariable_current.Street_Date__c}</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue> ISCHANGED([Release__c].Street_Date__c) &amp;&amp; [Release__c].RecordType.Name &lt;&gt; &#39;Competitive&#39; &amp;&amp; ISCHANGED([Release__c].Online_Consumer_Solicitation_Date__c ) &amp;&amp; (ISBLANK([Release__c].Marketing_Contact__c ) &lt;&gt;  true)  &amp;&amp;  (ISPICKVAL([Release__c].Label_Code__c ,&#39;20 - Alliance Films&#39;) || ISPICKVAL([Release__c].Label_Code__c , &#39;24 - PURE FLIX&#39;) || ISPICKVAL([Release__c].Label_Code__c , &#39;25 - Amazon Content Services&#39;) || ISPICKVAL([Release__c].Label_Code__c ,&#39;26 - WTA&#39;) || ISPICKVAL([Release__c].Label_Code__c ,&#39;33 - Moonstone Entertainment&#39;) || ISPICKVAL([Release__c].Label_Code__c , &#39;34 - Film Arcade&#39;) || ISPICKVAL([Release__c].Label_Code__c , &#39;36 - NEON RATED LLC&#39;) || ISPICKVAL([Release__c].Label_Code__c ,&#39;44 - GKIDS&#39;) || ISPICKVAL([Release__c].Label_Code__c , &#39;45 - PICTUREHOUSE&#39;) || ISPICKVAL([Release__c].Label_Code__c , &#39;46 - DREAMWORKS ANIMATION&#39;) || ISPICKVAL([Release__c].Label_Code__c , &#39;55 - Open Road Films&#39;) || ISPICKVAL([Release__c].Label_Code__c ,&#39;57 - BLEECKER STREET&#39;) || ISPICKVAL([Release__c].Label_Code__c , &#39;58 - HiT Entertainment&#39;) || ISPICKVAL([Release__c].Label_Code__c , &#39;61 - Universal Pictures&#39;) || ISPICKVAL([Release__c].Label_Code__c , &#39;62 - Focus&#39;) || ISPICKVAL([Release__c].Label_Code__c , &#39;63 - Family Home Entertainment&#39;) || ISPICKVAL([Release__c].Label_Code__c , &#39;64 - STX FINANCING LLC&#39;) || ISPICKVAL([Release__c].Label_Code__c ,&#39;91 - AVIRON PICTURES&#39;) || ISPICKVAL([Release__c].Label_Code__c , &#39;94 - BROAD GREEN&#39;))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>ISCHANGED({!myVariable_current.Street_Date__c}) &amp;&amp; {!myVariable_current.RecordType.Name} &lt;&gt; &#39;Competitive&#39; &amp;&amp; ISCHANGED({!myVariable_current.Online_Consumer_Solicitation_Date__c} ) &amp;&amp; (ISBLANK({!myVariable_current.Marketing_Contact__c} ) &lt;&gt;  true)  &amp;&amp;  (ISPICKVAL({!myVariable_current.Label_Code__c} ,&#39;20 - Alliance Films&#39;) || ISPICKVAL({!myVariable_current.Label_Code__c} , &#39;24 - PURE FLIX&#39;) || ISPICKVAL({!myVariable_current.Label_Code__c} , &#39;25 - Amazon Content Services&#39;) || ISPICKVAL({!myVariable_current.Label_Code__c} ,&#39;26 - WTA&#39;) || ISPICKVAL({!myVariable_current.Label_Code__c} ,&#39;33 - Moonstone Entertainment&#39;) || ISPICKVAL({!myVariable_current.Label_Code__c} , &#39;34 - Film Arcade&#39;) || ISPICKVAL({!myVariable_current.Label_Code__c} , &#39;36 - NEON RATED LLC&#39;) || ISPICKVAL({!myVariable_current.Label_Code__c} ,&#39;44 - GKIDS&#39;) || ISPICKVAL({!myVariable_current.Label_Code__c} , &#39;45 - PICTUREHOUSE&#39;) || ISPICKVAL({!myVariable_current.Label_Code__c} , &#39;46 - DREAMWORKS ANIMATION&#39;) || ISPICKVAL({!myVariable_current.Label_Code__c} , &#39;55 - Open Road Films&#39;) || ISPICKVAL({!myVariable_current.Label_Code__c} ,&#39;57 - BLEECKER STREET&#39;) || ISPICKVAL({!myVariable_current.Label_Code__c} , &#39;58 - HiT Entertainment&#39;) || ISPICKVAL({!myVariable_current.Label_Code__c} , &#39;61 - Universal Pictures&#39;) || ISPICKVAL({!myVariable_current.Label_Code__c} , &#39;62 - Focus&#39;) || ISPICKVAL({!myVariable_current.Label_Code__c} , &#39;63 - Family Home Entertainment&#39;) || ISPICKVAL({!myVariable_current.Label_Code__c} , &#39;64 - STX FINANCING LLC&#39;) || ISPICKVAL({!myVariable_current.Label_Code__c} ,&#39;91 - AVIRON PICTURES&#39;) || ISPICKVAL({!myVariable_current.Label_Code__c} , &#39;94 - BROAD GREEN&#39;))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>ISCHANGED([Release__c].Street_Date__c) &amp;&amp;[Release__c].RecordType.Name &lt;&gt; &#39;Competitive&#39;&amp;&amp; (ISCHANGED([Release__c].Online_Consumer_Solicitation_Date__c )&lt;&gt; true) &amp;&amp; (ISBLANK([Release__c].Marketing_Contact__c ) &lt;&gt;  true)  &amp;&amp;  (ISPICKVAL([Release__c].Label_Code__c ,&#39;20 - Alliance Films&#39;) || ISPICKVAL([Release__c].Label_Code__c , &#39;24 - PURE FLIX&#39;) || ISPICKVAL([Release__c].Label_Code__c , &#39;25 - Amazon Content Services&#39;) || ISPICKVAL([Release__c].Label_Code__c ,&#39;26 - WTA&#39;) || ISPICKVAL([Release__c].Label_Code__c ,&#39;33 - Moonstone Entertainment&#39;) || ISPICKVAL([Release__c].Label_Code__c , &#39;34 - Film Arcade&#39;) || ISPICKVAL([Release__c].Label_Code__c , &#39;36 - NEON RATED LLC&#39;) || ISPICKVAL([Release__c].Label_Code__c ,&#39;44 - GKIDS&#39;) || ISPICKVAL([Release__c].Label_Code__c , &#39;45 - PICTUREHOUSE&#39;) || ISPICKVAL([Release__c].Label_Code__c , &#39;46 - DREAMWORKS ANIMATION&#39;) || ISPICKVAL([Release__c].Label_Code__c , &#39;55 - Open Road Films&#39;) || ISPICKVAL([Release__c].Label_Code__c ,&#39;57 - BLEECKER STREET&#39;) || ISPICKVAL([Release__c].Label_Code__c , &#39;58 - HiT Entertainment&#39;) || ISPICKVAL([Release__c].Label_Code__c , &#39;61 - Universal Pictures&#39;) || ISPICKVAL([Release__c].Label_Code__c , &#39;62 - Focus&#39;) || ISPICKVAL([Release__c].Label_Code__c , &#39;63 - Family Home Entertainment&#39;) || ISPICKVAL([Release__c].Label_Code__c , &#39;64 - STX FINANCING LLC&#39;) || ISPICKVAL([Release__c].Label_Code__c ,&#39;91 - AVIRON PICTURES&#39;) || ISPICKVAL([Release__c].Label_Code__c , &#39;94 - BROAD GREEN&#39;))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_13</name>
        <dataType>Boolean</dataType>
        <expression>ISCHANGED({!myVariable_current.Street_Date__c}) &amp;&amp;{!myVariable_current.RecordType.Name} &lt;&gt; &#39;Competitive&#39;&amp;&amp; (ISCHANGED({!myVariable_current.Online_Consumer_Solicitation_Date__c} )&lt;&gt; true) &amp;&amp; (ISBLANK({!myVariable_current.Marketing_Contact__c} ) &lt;&gt;  true)  &amp;&amp;  (ISPICKVAL({!myVariable_current.Label_Code__c} ,&#39;20 - Alliance Films&#39;) || ISPICKVAL({!myVariable_current.Label_Code__c} , &#39;24 - PURE FLIX&#39;) || ISPICKVAL({!myVariable_current.Label_Code__c} , &#39;25 - Amazon Content Services&#39;) || ISPICKVAL({!myVariable_current.Label_Code__c} ,&#39;26 - WTA&#39;) || ISPICKVAL({!myVariable_current.Label_Code__c} ,&#39;33 - Moonstone Entertainment&#39;) || ISPICKVAL({!myVariable_current.Label_Code__c} , &#39;34 - Film Arcade&#39;) || ISPICKVAL({!myVariable_current.Label_Code__c} , &#39;36 - NEON RATED LLC&#39;) || ISPICKVAL({!myVariable_current.Label_Code__c} ,&#39;44 - GKIDS&#39;) || ISPICKVAL({!myVariable_current.Label_Code__c} , &#39;45 - PICTUREHOUSE&#39;) || ISPICKVAL({!myVariable_current.Label_Code__c} , &#39;46 - DREAMWORKS ANIMATION&#39;) || ISPICKVAL({!myVariable_current.Label_Code__c} , &#39;55 - Open Road Films&#39;) || ISPICKVAL({!myVariable_current.Label_Code__c} ,&#39;57 - BLEECKER STREET&#39;) || ISPICKVAL({!myVariable_current.Label_Code__c} , &#39;58 - HiT Entertainment&#39;) || ISPICKVAL({!myVariable_current.Label_Code__c} , &#39;61 - Universal Pictures&#39;) || ISPICKVAL({!myVariable_current.Label_Code__c} , &#39;62 - Focus&#39;) || ISPICKVAL({!myVariable_current.Label_Code__c} , &#39;63 - Family Home Entertainment&#39;) || ISPICKVAL({!myVariable_current.Label_Code__c} , &#39;64 - STX FINANCING LLC&#39;) || ISPICKVAL({!myVariable_current.Label_Code__c} ,&#39;91 - AVIRON PICTURES&#39;) || ISPICKVAL({!myVariable_current.Label_Code__c} , &#39;94 - BROAD GREEN&#39;))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>ISCHANGED([Release__c].Street_Date__c) &amp;&amp;[Release__c].RecordType.Name &lt;&gt; &#39;Competitive&#39;&amp;&amp; (ISCHANGED([Release__c].Online_Consumer_Solicitation_Date__c )&lt;&gt; true) &amp;&amp; (ISBLANK([Release__c].Marketing_Contact__c ) = true)  &amp;&amp;  (ISPICKVAL([Release__c].Label_Code__c ,&#39;20 - Alliance Films&#39;) || ISPICKVAL([Release__c].Label_Code__c , &#39;24 - PURE FLIX&#39;) || ISPICKVAL([Release__c].Label_Code__c , &#39;25 - Amazon Content Services&#39;) || ISPICKVAL([Release__c].Label_Code__c ,&#39;26 - WTA&#39;) || ISPICKVAL([Release__c].Label_Code__c ,&#39;33 - Moonstone Entertainment&#39;) || ISPICKVAL([Release__c].Label_Code__c , &#39;34 - Film Arcade&#39;) || ISPICKVAL([Release__c].Label_Code__c , &#39;36 - NEON RATED LLC&#39;) || ISPICKVAL([Release__c].Label_Code__c ,&#39;44 - GKIDS&#39;) || ISPICKVAL([Release__c].Label_Code__c , &#39;45 - PICTUREHOUSE&#39;) || ISPICKVAL([Release__c].Label_Code__c , &#39;46 - DREAMWORKS ANIMATION&#39;) || ISPICKVAL([Release__c].Label_Code__c , &#39;55 - Open Road Films&#39;) || ISPICKVAL([Release__c].Label_Code__c ,&#39;57 - BLEECKER STREET&#39;) || ISPICKVAL([Release__c].Label_Code__c , &#39;58 - HiT Entertainment&#39;) || ISPICKVAL([Release__c].Label_Code__c , &#39;61 - Universal Pictures&#39;) || ISPICKVAL([Release__c].Label_Code__c , &#39;62 - Focus&#39;) || ISPICKVAL([Release__c].Label_Code__c , &#39;63 - Family Home Entertainment&#39;) || ISPICKVAL([Release__c].Label_Code__c , &#39;64 - STX FINANCING LLC&#39;) || ISPICKVAL([Release__c].Label_Code__c ,&#39;91 - AVIRON PICTURES&#39;) || ISPICKVAL([Release__c].Label_Code__c , &#39;94 - BROAD GREEN&#39;))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_19</name>
        <dataType>Boolean</dataType>
        <expression>ISCHANGED({!myVariable_current.Street_Date__c}) &amp;&amp;{!myVariable_current.RecordType.Name} &lt;&gt; &#39;Competitive&#39;&amp;&amp; (ISCHANGED({!myVariable_current.Online_Consumer_Solicitation_Date__c} )&lt;&gt; true) &amp;&amp; (ISBLANK({!myVariable_current.Marketing_Contact__c} ) = true)  &amp;&amp;  (ISPICKVAL({!myVariable_current.Label_Code__c} ,&#39;20 - Alliance Films&#39;) || ISPICKVAL({!myVariable_current.Label_Code__c} , &#39;24 - PURE FLIX&#39;) || ISPICKVAL({!myVariable_current.Label_Code__c} , &#39;25 - Amazon Content Services&#39;) || ISPICKVAL({!myVariable_current.Label_Code__c} ,&#39;26 - WTA&#39;) || ISPICKVAL({!myVariable_current.Label_Code__c} ,&#39;33 - Moonstone Entertainment&#39;) || ISPICKVAL({!myVariable_current.Label_Code__c} , &#39;34 - Film Arcade&#39;) || ISPICKVAL({!myVariable_current.Label_Code__c} , &#39;36 - NEON RATED LLC&#39;) || ISPICKVAL({!myVariable_current.Label_Code__c} ,&#39;44 - GKIDS&#39;) || ISPICKVAL({!myVariable_current.Label_Code__c} , &#39;45 - PICTUREHOUSE&#39;) || ISPICKVAL({!myVariable_current.Label_Code__c} , &#39;46 - DREAMWORKS ANIMATION&#39;) || ISPICKVAL({!myVariable_current.Label_Code__c} , &#39;55 - Open Road Films&#39;) || ISPICKVAL({!myVariable_current.Label_Code__c} ,&#39;57 - BLEECKER STREET&#39;) || ISPICKVAL({!myVariable_current.Label_Code__c} , &#39;58 - HiT Entertainment&#39;) || ISPICKVAL({!myVariable_current.Label_Code__c} , &#39;61 - Universal Pictures&#39;) || ISPICKVAL({!myVariable_current.Label_Code__c} , &#39;62 - Focus&#39;) || ISPICKVAL({!myVariable_current.Label_Code__c} , &#39;63 - Family Home Entertainment&#39;) || ISPICKVAL({!myVariable_current.Label_Code__c} , &#39;64 - STX FINANCING LLC&#39;) || ISPICKVAL({!myVariable_current.Label_Code__c} ,&#39;91 - AVIRON PICTURES&#39;) || ISPICKVAL({!myVariable_current.Label_Code__c} , &#39;94 - BROAD GREEN&#39;))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>ISCHANGED([Release__c].Street_Date__c) &amp;&amp; [Release__c].RecordType.Name &lt;&gt; &#39;Competitive&#39; &amp;&amp; ISCHANGED([Release__c].Online_Consumer_Solicitation_Date__c ) &amp;&amp; (ISBLANK([Release__c].Marketing_Contact__c ) &lt;&gt;  true)  &amp;&amp;  ISPICKVAL([Release__c].Label_Code__c ,&#39;59 - Paramount&#39;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_25</name>
        <dataType>Boolean</dataType>
        <expression>ISCHANGED({!myVariable_current.Street_Date__c}) &amp;&amp; {!myVariable_current.RecordType.Name} &lt;&gt; &#39;Competitive&#39; &amp;&amp; ISCHANGED({!myVariable_current.Online_Consumer_Solicitation_Date__c} ) &amp;&amp; (ISBLANK({!myVariable_current.Marketing_Contact__c} ) &lt;&gt;  true)  &amp;&amp;  ISPICKVAL({!myVariable_current.Label_Code__c} ,&#39;59 - Paramount&#39;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>ISCHANGED([Release__c].Street_Date__c) &amp;&amp;[Release__c].RecordType.Name &lt;&gt; &#39;Competitive&#39;&amp;&amp; ISCHANGED([Release__c].Online_Consumer_Solicitation_Date__c ) &amp;&amp; (ISBLANK([Release__c].Marketing_Contact__c ) = true) &amp;&amp;  ISPICKVAL([Release__c].Label_Code__c ,&#39;59 - Paramount&#39;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_31</name>
        <dataType>Boolean</dataType>
        <expression>ISCHANGED({!myVariable_current.Street_Date__c}) &amp;&amp;{!myVariable_current.RecordType.Name} &lt;&gt; &#39;Competitive&#39;&amp;&amp; ISCHANGED({!myVariable_current.Online_Consumer_Solicitation_Date__c} ) &amp;&amp; (ISBLANK({!myVariable_current.Marketing_Contact__c} ) = true) &amp;&amp;  ISPICKVAL({!myVariable_current.Label_Code__c} ,&#39;59 - Paramount&#39;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>ISCHANGED([Release__c].Street_Date__c) &amp;&amp;[Release__c].RecordType.Name &lt;&gt; &#39;Competitive&#39;&amp;&amp; (ISCHANGED([Release__c].Online_Consumer_Solicitation_Date__c )&lt;&gt; true) &amp;&amp; (ISBLANK([Release__c].Marketing_Contact__c ) &lt;&gt;  true) &amp;&amp;  ISPICKVAL([Release__c].Label_Code__c ,&#39;59 - Paramount&#39;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_37</name>
        <dataType>Boolean</dataType>
        <expression>ISCHANGED({!myVariable_current.Street_Date__c}) &amp;&amp;{!myVariable_current.RecordType.Name} &lt;&gt; &#39;Competitive&#39;&amp;&amp; (ISCHANGED({!myVariable_current.Online_Consumer_Solicitation_Date__c} )&lt;&gt; true) &amp;&amp; (ISBLANK({!myVariable_current.Marketing_Contact__c} ) &lt;&gt;  true) &amp;&amp;  ISPICKVAL({!myVariable_current.Label_Code__c} ,&#39;59 - Paramount&#39;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>ISCHANGED([Release__c].Street_Date__c) &amp;&amp;[Release__c].RecordType.Name &lt;&gt; &#39;Competitive&#39;&amp;&amp; (ISCHANGED([Release__c].Online_Consumer_Solicitation_Date__c )&lt;&gt; true) &amp;&amp; (ISBLANK([Release__c].Marketing_Contact__c ) = true) &amp;&amp;  ISPICKVAL([Release__c].Label_Code__c ,&#39;59 - Paramount&#39;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_43</name>
        <dataType>Boolean</dataType>
        <expression>ISCHANGED({!myVariable_current.Street_Date__c}) &amp;&amp;{!myVariable_current.RecordType.Name} &lt;&gt; &#39;Competitive&#39;&amp;&amp; (ISCHANGED({!myVariable_current.Online_Consumer_Solicitation_Date__c} )&lt;&gt; true) &amp;&amp; (ISBLANK({!myVariable_current.Marketing_Contact__c} ) = true) &amp;&amp;  ISPICKVAL({!myVariable_current.Label_Code__c} ,&#39;59 - Paramount&#39;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue> ISCHANGED([Release__c].Street_Date__c) &amp;&amp;[Release__c].RecordType.Name &lt;&gt; &#39;Competitive&#39;&amp;&amp; ISCHANGED([Release__c].Online_Consumer_Solicitation_Date__c ) &amp;&amp; (ISBLANK([Release__c].Marketing_Contact__c ) = true)  &amp;&amp;  (ISPICKVAL([Release__c].Label_Code__c ,&#39;20 - Alliance Films&#39;) || ISPICKVAL([Release__c].Label_Code__c , &#39;24 - PURE FLIX&#39;) || ISPICKVAL([Release__c].Label_Code__c , &#39;25 - Amazon Content Services&#39;) || ISPICKVAL([Release__c].Label_Code__c ,&#39;26 - WTA&#39;) || ISPICKVAL([Release__c].Label_Code__c ,&#39;33 - Moonstone Entertainment&#39;) || ISPICKVAL([Release__c].Label_Code__c , &#39;34 - Film Arcade&#39;) || ISPICKVAL([Release__c].Label_Code__c , &#39;36 - NEON RATED LLC&#39;) || ISPICKVAL([Release__c].Label_Code__c ,&#39;44 - GKIDS&#39;) || ISPICKVAL([Release__c].Label_Code__c , &#39;45 - PICTUREHOUSE&#39;) || ISPICKVAL([Release__c].Label_Code__c , &#39;46 - DREAMWORKS ANIMATION&#39;) || ISPICKVAL([Release__c].Label_Code__c , &#39;55 - Open Road Films&#39;) || ISPICKVAL([Release__c].Label_Code__c ,&#39;57 - BLEECKER STREET&#39;) || ISPICKVAL([Release__c].Label_Code__c , &#39;58 - HiT Entertainment&#39;) || ISPICKVAL([Release__c].Label_Code__c , &#39;61 - Universal Pictures&#39;) || ISPICKVAL([Release__c].Label_Code__c , &#39;62 - Focus&#39;) || ISPICKVAL([Release__c].Label_Code__c , &#39;63 - Family Home Entertainment&#39;) || ISPICKVAL([Release__c].Label_Code__c , &#39;64 - STX FINANCING LLC&#39;) || ISPICKVAL([Release__c].Label_Code__c ,&#39;91 - AVIRON PICTURES&#39;) || ISPICKVAL([Release__c].Label_Code__c , &#39;94 - BROAD GREEN&#39;))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_7</name>
        <dataType>Boolean</dataType>
        <expression>ISCHANGED({!myVariable_current.Street_Date__c}) &amp;&amp;{!myVariable_current.RecordType.Name} &lt;&gt; &#39;Competitive&#39;&amp;&amp; ISCHANGED({!myVariable_current.Online_Consumer_Solicitation_Date__c} ) &amp;&amp; (ISBLANK({!myVariable_current.Marketing_Contact__c} ) = true)  &amp;&amp;  (ISPICKVAL({!myVariable_current.Label_Code__c} ,&#39;20 - Alliance Films&#39;) || ISPICKVAL({!myVariable_current.Label_Code__c} , &#39;24 - PURE FLIX&#39;) || ISPICKVAL({!myVariable_current.Label_Code__c} , &#39;25 - Amazon Content Services&#39;) || ISPICKVAL({!myVariable_current.Label_Code__c} ,&#39;26 - WTA&#39;) || ISPICKVAL({!myVariable_current.Label_Code__c} ,&#39;33 - Moonstone Entertainment&#39;) || ISPICKVAL({!myVariable_current.Label_Code__c} , &#39;34 - Film Arcade&#39;) || ISPICKVAL({!myVariable_current.Label_Code__c} , &#39;36 - NEON RATED LLC&#39;) || ISPICKVAL({!myVariable_current.Label_Code__c} ,&#39;44 - GKIDS&#39;) || ISPICKVAL({!myVariable_current.Label_Code__c} , &#39;45 - PICTUREHOUSE&#39;) || ISPICKVAL({!myVariable_current.Label_Code__c} , &#39;46 - DREAMWORKS ANIMATION&#39;) || ISPICKVAL({!myVariable_current.Label_Code__c} , &#39;55 - Open Road Films&#39;) || ISPICKVAL({!myVariable_current.Label_Code__c} ,&#39;57 - BLEECKER STREET&#39;) || ISPICKVAL({!myVariable_current.Label_Code__c} , &#39;58 - HiT Entertainment&#39;) || ISPICKVAL({!myVariable_current.Label_Code__c} , &#39;61 - Universal Pictures&#39;) || ISPICKVAL({!myVariable_current.Label_Code__c} , &#39;62 - Focus&#39;) || ISPICKVAL({!myVariable_current.Label_Code__c} , &#39;63 - Family Home Entertainment&#39;) || ISPICKVAL({!myVariable_current.Label_Code__c} , &#39;64 - STX FINANCING LLC&#39;) || ISPICKVAL({!myVariable_current.Label_Code__c} ,&#39;91 - AVIRON PICTURES&#39;) || ISPICKVAL({!myVariable_current.Label_Code__c} , &#39;94 - BROAD GREEN&#39;))</expression>
    </formulas>
    <interviewLabel>Chatter_Post-11_InterviewLabel</interviewLabel>
    <label>Chatter Post</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Release__c</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Release__c]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_13_A1</name>
        <label>Update previous dates</label>
        <locationX>1300</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myRule_13_A2</targetReference>
        </connector>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Prev	 Online/Consumer Solicitation Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Prev_Online_Consumer_Solicitation_Date_c__c</field>
            <value>
                <elementReference>formula_16_myRule_13_A1_3825177764</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Previous Street Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Previous_Street_Date__c</field>
            <value>
                <elementReference>formula_17_myRule_13_A1_2468827911</elementReference>
            </value>
        </inputAssignments>
        <object>Release__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Release__c]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_13_A3</name>
        <label>Update Previous Dates after chatter</label>
        <locationX>1300</locationX>
        <locationY>400</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Prev	 Online/Consumer Solicitation Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Prev_Online_Consumer_Solicitation_Date_c__c</field>
            <value>
                <elementReference>formula_14_myRule_13_A3_2511149134</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Previous Street Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Previous_Street_Date__c</field>
            <value>
                <elementReference>formula_15_myRule_13_A3_6088533528</elementReference>
            </value>
        </inputAssignments>
        <object>Release__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Release__c]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_19_A1</name>
        <label>Update previous dates</label>
        <locationX>1900</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myRule_19_A2</targetReference>
        </connector>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Prev	 Online/Consumer Solicitation Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Prev_Online_Consumer_Solicitation_Date_c__c</field>
            <value>
                <elementReference>formula_22_myRule_19_A1_5670978737</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Previous Street Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Previous_Street_Date__c</field>
            <value>
                <elementReference>formula_23_myRule_19_A1_8957723723</elementReference>
            </value>
        </inputAssignments>
        <object>Release__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Release__c]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_19_A3</name>
        <label>Update Previous Dates after chatter</label>
        <locationX>1900</locationX>
        <locationY>400</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Prev	 Online/Consumer Solicitation Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Prev_Online_Consumer_Solicitation_Date_c__c</field>
            <value>
                <elementReference>formula_20_myRule_19_A3_7253823953</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Previous Street Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Previous_Street_Date__c</field>
            <value>
                <elementReference>formula_21_myRule_19_A3_9127628604</elementReference>
            </value>
        </inputAssignments>
        <object>Release__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Release__c]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Update Previous Street Date</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myRule_1_A2</targetReference>
        </connector>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Prev	 Online/Consumer Solicitation Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Prev_Online_Consumer_Solicitation_Date_c__c</field>
            <value>
                <elementReference>formula_4_myRule_1_A1_5197432434</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Previous Street Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Previous_Street_Date__c</field>
            <value>
                <elementReference>formula_5_myRule_1_A1_6787463334</elementReference>
            </value>
        </inputAssignments>
        <object>Release__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Release__c]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A3</name>
        <label>Update Previous Dates after chatter</label>
        <locationX>100</locationX>
        <locationY>400</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Prev	 Online/Consumer Solicitation Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Prev_Online_Consumer_Solicitation_Date_c__c</field>
            <value>
                <elementReference>formula_2_myRule_1_A3_3835796087</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Previous Street Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Previous_Street_Date__c</field>
            <value>
                <elementReference>formula_3_myRule_1_A3_1841562587</elementReference>
            </value>
        </inputAssignments>
        <object>Release__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Release__c]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_25_A1</name>
        <label>Update Previous Street Date</label>
        <locationX>2500</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myRule_25_A2</targetReference>
        </connector>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Prev	 Online/Consumer Solicitation Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Prev_Online_Consumer_Solicitation_Date_c__c</field>
            <value>
                <elementReference>formula_28_myRule_25_A1_2382673125</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Previous Street Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Previous_Street_Date__c</field>
            <value>
                <elementReference>formula_29_myRule_25_A1_0144527662</elementReference>
            </value>
        </inputAssignments>
        <object>Release__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Release__c]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_25_A3</name>
        <label>Update Previous Dates after chatter</label>
        <locationX>2500</locationX>
        <locationY>400</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Prev	 Online/Consumer Solicitation Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Prev_Online_Consumer_Solicitation_Date_c__c</field>
            <value>
                <elementReference>formula_26_myRule_25_A3_5606851530</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Previous Street Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Previous_Street_Date__c</field>
            <value>
                <elementReference>formula_27_myRule_25_A3_8615833833</elementReference>
            </value>
        </inputAssignments>
        <object>Release__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Release__c]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_31_A1</name>
        <label>Update previous dates</label>
        <locationX>3100</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myRule_31_A2</targetReference>
        </connector>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Prev	 Online/Consumer Solicitation Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Prev_Online_Consumer_Solicitation_Date_c__c</field>
            <value>
                <elementReference>formula_34_myRule_31_A1_2059862242</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Previous Street Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Previous_Street_Date__c</field>
            <value>
                <elementReference>formula_35_myRule_31_A1_9552584635</elementReference>
            </value>
        </inputAssignments>
        <object>Release__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Release__c]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_31_A3</name>
        <label>Update Previous Dates after chatter</label>
        <locationX>3100</locationX>
        <locationY>400</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Prev	 Online/Consumer Solicitation Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Prev_Online_Consumer_Solicitation_Date_c__c</field>
            <value>
                <elementReference>formula_32_myRule_31_A3_4367255640</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Previous Street Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Previous_Street_Date__c</field>
            <value>
                <elementReference>formula_33_myRule_31_A3_9528520616</elementReference>
            </value>
        </inputAssignments>
        <object>Release__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Release__c]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_37_A1</name>
        <label>Update previous dates</label>
        <locationX>3700</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myRule_37_A2</targetReference>
        </connector>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Prev	 Online/Consumer Solicitation Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Prev_Online_Consumer_Solicitation_Date_c__c</field>
            <value>
                <elementReference>formula_40_myRule_37_A1_8489772169</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Previous Street Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Previous_Street_Date__c</field>
            <value>
                <elementReference>formula_41_myRule_37_A1_2110817461</elementReference>
            </value>
        </inputAssignments>
        <object>Release__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Release__c]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_37_A3</name>
        <label>Update Previous Dates after chatter</label>
        <locationX>3700</locationX>
        <locationY>400</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Prev	 Online/Consumer Solicitation Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Prev_Online_Consumer_Solicitation_Date_c__c</field>
            <value>
                <elementReference>formula_38_myRule_37_A3_0646838409</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Previous Street Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Previous_Street_Date__c</field>
            <value>
                <elementReference>formula_39_myRule_37_A3_7425401432</elementReference>
            </value>
        </inputAssignments>
        <object>Release__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Release__c]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_43_A1</name>
        <label>Update previous dates</label>
        <locationX>4300</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myRule_43_A2</targetReference>
        </connector>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Prev	 Online/Consumer Solicitation Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Prev_Online_Consumer_Solicitation_Date_c__c</field>
            <value>
                <elementReference>formula_46_myRule_43_A1_8677705097</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Previous Street Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Previous_Street_Date__c</field>
            <value>
                <elementReference>formula_47_myRule_43_A1_2184134650</elementReference>
            </value>
        </inputAssignments>
        <object>Release__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Release__c]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_43_A3</name>
        <label>Update Previous Dates after chatter</label>
        <locationX>4300</locationX>
        <locationY>400</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Prev	 Online/Consumer Solicitation Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Prev_Online_Consumer_Solicitation_Date_c__c</field>
            <value>
                <elementReference>formula_44_myRule_43_A3_5526266637</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Previous Street Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Previous_Street_Date__c</field>
            <value>
                <elementReference>formula_45_myRule_43_A3_5963909825</elementReference>
            </value>
        </inputAssignments>
        <object>Release__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Release__c]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_7_A1</name>
        <label>Update previous dates</label>
        <locationX>700</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myRule_7_A2</targetReference>
        </connector>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Prev	 Online/Consumer Solicitation Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Prev_Online_Consumer_Solicitation_Date_c__c</field>
            <value>
                <elementReference>formula_10_myRule_7_A1_6767008786</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Previous Street Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Previous_Street_Date__c</field>
            <value>
                <elementReference>formula_11_myRule_7_A1_8537828602</elementReference>
            </value>
        </inputAssignments>
        <object>Release__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Release__c]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_7_A3</name>
        <label>Update Previous Dates after chatter</label>
        <locationX>700</locationX>
        <locationY>400</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Prev	 Online/Consumer Solicitation Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Prev_Online_Consumer_Solicitation_Date_c__c</field>
            <value>
                <elementReference>formula_8_myRule_7_A3_1663763469</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Previous Street Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Previous_Street_Date__c</field>
            <value>
                <elementReference>formula_9_myRule_7_A3_0269510291</elementReference>
            </value>
        </inputAssignments>
        <object>Release__c</object>
    </recordUpdates>
    <startElementReference>myVariable_waitStartTimeAssignment</startElementReference>
    <status>Active</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Release__c</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Release__c</objectType>
    </variables>
    <variables>
        <name>myVariable_waitStartTimeVariable</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
</Flow>
