force-app/main/default/flows/CIRF_Merge.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Super_CIRF_Merge_Apex</name>
        <label>Super CIRF Merge Apex</label>
        <locationX>272</locationX>
        <locationY>864</locationY>
        <actionName>SuperCIRFMergeHelper</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Thank_You</targetReference>
        </connector>
        <inputParameters>
            <name>parmList</name>
            <value>
                <elementReference>SelectedCIRFs</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>UpdatedMaterialsName</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <assignments>
        <name>Add_Super_CIRF_ID_to_The_LIst</name>
        <label>Add Super CIRF ID to The LIst</label>
        <locationX>275</locationX>
        <locationY>766</locationY>
        <assignmentItems>
            <assignToReference>SelectedCIRFs</assignToReference>
            <operator>AddAtStart</operator>
            <value>
                <elementReference>SuperCIRFID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Super_CIRF_Merge_Apex</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddTheIDToTheList</name>
        <label>AddTheIDToTheList</label>
        <locationX>827</locationX>
        <locationY>444</locationY>
        <assignmentItems>
            <assignToReference>SelectedCIRFs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Single_CIRF_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SMERGEDCIRFs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ChildHeader</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Reset_The_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CreateListOfVariables</name>
        <label>CreateListOfVariables</label>
        <locationX>436</locationX>
        <locationY>318</locationY>
        <assignmentItems>
            <assignToReference>CIRFIDs</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Checkbox_of_Available_CIRFs</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdatedMaterialsName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Updated Materials:</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Are_there_any_CIRFs_Left</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CreateListOfVariables_0</name>
        <label>CreateListOfVariables</label>
        <locationX>225</locationX>
        <locationY>534</locationY>
        <assignmentItems>
            <assignToReference>CIRFIDs</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Checkbox_of_Available_CIRFs_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdatedMaterialsName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Updated Materials:</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Are_there_any_CIRFs_Left</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_The_List</name>
        <label>Reset The List</label>
        <locationX>647</locationX>
        <locationY>485</locationY>
        <assignmentItems>
            <assignToReference>CIRFIDs</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Remaining_CIRF_IDs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Are_there_any_CIRFs_Left</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Are_there_any_CIRFs_Left</name>
        <label>Are there any CIRFs Left?</label>
        <locationX>437</locationX>
        <locationY>438</locationY>
        <defaultConnector>
            <targetReference>Do_we_need_to_Create_A_Super_CIRF</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Something_Left</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Counter</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_the_Primary_CIRF_Set</targetReference>
            </connector>
            <label>Something Left</label>
        </rules>
    </decisions>
    <decisions>
        <name>Do_we_need_to_Create_A_Super_CIRF</name>
        <label>Do we need to Create A Super CIRF?</label>
        <locationX>441</locationX>
        <locationY>640</locationY>
        <defaultConnector>
            <targetReference>Add_Super_CIRF_ID_to_The_LIst</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>We_Do</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SuperCIRFID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Confirm_the_Header</targetReference>
            </connector>
            <label>We Do</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_the_Primary_CIRF_Set</name>
        <label>Is the Primary CIRF Set?</label>
        <locationX>821</locationX>
        <locationY>285</locationY>
        <defaultConnector>
            <targetReference>Find_Primary_CIRF</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>It_is_set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PrimaryCIRF</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddTheIDToTheList</targetReference>
            </connector>
            <label>It is set!</label>
        </rules>
    </decisions>
    <decisions>
        <name>Were_we_passed_a_Super_CIRF</name>
        <label>Were we passed a Super CIRF?</label>
        <locationX>227</locationX>
        <locationY>25</locationY>
        <defaultConnector>
            <targetReference>Smerge_Start_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>We_were</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SuperCIRFID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Current_Super_CIRF</targetReference>
            </connector>
            <label>We were</label>
        </rules>
    </decisions>
    <description>Bug fix for Merging from the CIRF Header Related List</description>
    <dynamicChoiceSets>
        <name>AvailableCIRFs</name>
        <dataType>String</dataType>
        <displayField>Header_Details__c</displayField>
        <filters>
            <field>CIRF_Name__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Contains</elementReference>
            </value>
        </filters>
        <filters>
            <field>CIRF_Start_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>Start_Date</elementReference>
            </value>
        </filters>
        <filters>
            <field>CIRF_Start_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>End_Date</elementReference>
            </value>
        </filters>
        <filters>
            <field>CIRF_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </filters>
        <filters>
            <field>CIRF_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <filters>
            <field>CIRF_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>SuperCIRFID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Retailer__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Super_CIRF__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>CIRF_Header__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CIRFAccounts</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UPHERetailerRecordType</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Direct Retailer</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>AccountID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MoreAvailableCIRFs</name>
        <dataType>String</dataType>
        <displayField>Header_Details__c</displayField>
        <filters>
            <field>CIRF_Name__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Contains_0</elementReference>
            </value>
        </filters>
        <filters>
            <field>CIRF_Start_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>Start_Date_0</elementReference>
            </value>
        </filters>
        <filters>
            <field>CIRF_Start_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>End_Date_0</elementReference>
            </value>
        </filters>
        <filters>
            <field>CIRF_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </filters>
        <filters>
            <field>CIRF_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <filters>
            <field>CIRF_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>SuperCIRFID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Retailer__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Super_CIRF__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>CIRF_Header__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RequestTypes</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Request_Type__c</picklistField>
        <picklistObject>CIRF_Header__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>Counter</name>
        <dataType>Number</dataType>
        <expression>CEILING({!Length}/20)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Length</name>
        <dataType>Number</dataType>
        <expression>Len({!CIRFIDs})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Remaining_CIRF_IDs</name>
        <dataType>String</dataType>
        <expression>Trim(Right({!CIRFIDs},{!Length}-20))</expression>
    </formulas>
    <formulas>
        <description>link to the report to export the cirf corrugate</description>
        <name>ReportLink</name>
        <dataType>String</dataType>
        <expression>Hyperlink(&#39;https://uphe--cirf.lightning.force.com/lightning/r/Report/00OM0000000mJdIMAU/view?fv0=&#39; &amp; {!SuperCIRFID} ,&quot;Export all Merged Corrugates&quot;)</expression>
    </formulas>
    <formulas>
        <name>Single_CIRF_ID</name>
        <dataType>String</dataType>
        <expression>Left({!CIRFIDs},18)</expression>
    </formulas>
    <formulas>
        <name>UPHERetailerRecordType</name>
        <dataType>String</dataType>
        <expression>{!$Label.Account_UPHE_Retailer_Record_Id}</expression>
    </formulas>
    <interviewLabel>CIRF Merge {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CIRF Merge</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_The_Header</name>
        <label>Create The Header</label>
        <locationX>796</locationX>
        <locationY>684</locationY>
        <assignRecordIdToReference>SuperCIRFID</assignRecordIdToReference>
        <connector>
            <targetReference>UpdateHeaderNumber</targetReference>
        </connector>
        <inputAssignments>
            <field>CIRF_End_Date__c</field>
            <value>
                <elementReference>Promo_End_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CIRF_In_Store__c</field>
            <value>
                <elementReference>In_Store_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CIRF_Name__c</field>
            <value>
                <elementReference>Request_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CIRF_Start_Date__c</field>
            <value>
                <elementReference>Promo_Start_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Super_CIRF__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Request_Type__c</field>
            <value>
                <elementReference>SCIRF_Request_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Retailer__c</field>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Studio__c</field>
            <value>
                <stringValue>Cross Studio</stringValue>
            </value>
        </inputAssignments>
        <object>CIRF_Header__c</object>
    </recordCreates>
    <recordLookups>
        <name>Find_Current_Super_CIRF</name>
        <label>Find Current Super CIRF</label>
        <locationX>222</locationX>
        <locationY>125</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_Existing_Children</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SuperCIRFID</elementReference>
            </value>
        </filters>
        <object>CIRF_Header__c</object>
        <outputAssignments>
            <assignToReference>HeaderNumber</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>AccountID</assignToReference>
            <field>Retailer__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_Existing_Children</name>
        <label>Find Existing Children</label>
        <locationX>223</locationX>
        <locationY>240</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Smerge_Start_Screen_0</targetReference>
        </connector>
        <filters>
            <field>CIRF_Header__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SuperCIRFID</elementReference>
            </value>
        </filters>
        <object>CIRF_Material__c</object>
        <outputReference>CIRFMatsToUpdate</outputReference>
        <queriedFields>Material_Number__c</queriedFields>
        <queriedFields>Units_to_Order__c</queriedFields>
        <queriedFields>Replen_Units__c</queriedFields>
        <queriedFields>Direct_Retail_Price__c</queriedFields>
        <queriedFields>Suggested_Retail_Price__c</queriedFields>
        <queriedFields>Promo_Cost__c</queriedFields>
        <queriedFields>Account_Retail_Price__c</queriedFields>
        <queriedFields>Material_Name__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Find_Primary_CIRF</name>
        <label>Find Primary CIRF</label>
        <locationX>1001</locationX>
        <locationY>372</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AddTheIDToTheList</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Single_CIRF_ID</elementReference>
            </value>
        </filters>
        <object>CIRF_Header__c</object>
        <outputReference>PrimaryCIRF</outputReference>
        <queriedFields>CIRF_Name__c</queriedFields>
        <queriedFields>CIRF_Start_Date__c</queriedFields>
        <queriedFields>CIRF_End_Date__c</queriedFields>
        <queriedFields>CIRF_In_Store__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>UpdateHeaderNumber</name>
        <label>UpdateHeaderNumber</label>
        <locationX>649</locationX>
        <locationY>749</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Super_CIRF_ID_to_The_LIst</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SuperCIRFID</elementReference>
            </value>
        </filters>
        <object>CIRF_Header__c</object>
        <outputAssignments>
            <assignToReference>HeaderNumber</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Confirm_the_Header</name>
        <label>Confirm the Header</label>
        <locationX>647</locationX>
        <locationY>630</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_The_Header</targetReference>
        </connector>
        <fields>
            <name>Request_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>PrimaryCIRF.CIRF_Name__c</elementReference>
            </defaultValue>
            <fieldText>Request Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Promo_Start_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>PrimaryCIRF.CIRF_Start_Date__c</elementReference>
            </defaultValue>
            <fieldText>Promo Start Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Promo_End_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>PrimaryCIRF.CIRF_End_Date__c</elementReference>
            </defaultValue>
            <fieldText>Promo End Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>In_Store_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>PrimaryCIRF.CIRF_In_Store__c</elementReference>
            </defaultValue>
            <fieldText>In Store Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_CIRFs_to_Smerge</name>
        <label>Select CIRFs to Smerge</label>
        <locationX>436</locationX>
        <locationY>170</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CreateListOfVariables</targetReference>
        </connector>
        <fields>
            <name>Checkbox_of_Available_CIRFs</name>
            <choiceReferences>AvailableCIRFs</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Checkbox of Available CIRFs</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_CIRFs_to_Smerge_0</name>
        <label>Select CIRFs to Smerge</label>
        <locationX>223</locationX>
        <locationY>436</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CreateListOfVariables_0</targetReference>
        </connector>
        <fields>
            <name>Checkbox_of_Available_CIRFs_0</name>
            <choiceReferences>MoreAvailableCIRFs</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Checkbox of Available CIRFs</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Smerge_Start_Screen</name>
        <label>Smerge Start Screen</label>
        <locationX>438</locationX>
        <locationY>26</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Select_CIRFs_to_Smerge</targetReference>
        </connector>
        <fields>
            <name>Retailer</name>
            <choiceReferences>CIRFAccounts</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Retailer</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Start_Date</name>
            <dataType>Date</dataType>
            <fieldText>Starts After</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>End_Date</name>
            <dataType>Date</dataType>
            <fieldText>Starts Before</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Contains</name>
            <dataType>String</dataType>
            <fieldText>Contains</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Smerge_Start_Screen_0</name>
        <label>Smerge Start Screen</label>
        <locationX>224</locationX>
        <locationY>338</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Select_CIRFs_to_Smerge_0</targetReference>
        </connector>
        <fields>
            <name>Start_Date_0</name>
            <dataType>Date</dataType>
            <fieldText>Starts After</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>End_Date_0</name>
            <dataType>Date</dataType>
            <fieldText>Starts Before</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Contains_0</name>
            <dataType>String</dataType>
            <fieldText>Contains</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Thank_You</name>
        <label>Thank You!</label>
        <locationX>440</locationX>
        <locationY>848</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ThankYouText</name>
            <fieldText>Thank you for using the CIRF Merger!

We&#39;ve updated {!HeaderNumber}

As a result:

{!UpdatedMaterialsName}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Welcome_to_the_CIRF_Merge</name>
        <label>Welcome to the CIRF Merge!</label>
        <locationX>61</locationX>
        <locationY>23</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Were_we_passed_a_Super_CIRF</targetReference>
        </connector>
        <fields>
            <name>WelcomeText</name>
            <fieldText>Click next if you would like to Merge some CIRFs!</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Welcome_to_the_CIRF_Merge</startElementReference>
    <status>Active</status>
    <variables>
        <description>ID of the Account Selected</description>
        <name>AccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AllCIRFMats</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ChildHeader</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CIRF_Header__c</objectType>
    </variables>
    <variables>
        <name>CIRFIDs</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CIRFMatMatched</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CIRFMatsToAdd</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CIRF_Material__c</objectType>
    </variables>
    <variables>
        <name>CIRFMatsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CIRF_Material__c</objectType>
    </variables>
    <variables>
        <name>CurrentCIRFHeader</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CIRF_Header__c</objectType>
    </variables>
    <variables>
        <name>CurrentCIRFID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CurrentCIRFMat</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CIRF_Material__c</objectType>
    </variables>
    <variables>
        <name>CurrentHeadersCIRFMats</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CIRF_Material__c</objectType>
    </variables>
    <variables>
        <name>ExistingCIRFMat</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CIRF_Material__c</objectType>
    </variables>
    <variables>
        <name>FinalCIRFMatsToAdd</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CIRF_Material__c</objectType>
    </variables>
    <variables>
        <name>HeaderNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PrimaryCIRF</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CIRF_Header__c</objectType>
    </variables>
    <variables>
        <name>SCIRF_Request_Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Joint Corrugate</stringValue>
        </value>
    </variables>
    <variables>
        <name>SelectedCIRFs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SMERGEDCIRFs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CIRF_Header__c</objectType>
    </variables>
    <variables>
        <name>SuperCIRFHeader</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CIRF_Header__c</objectType>
    </variables>
    <variables>
        <name>SuperCIRFID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UpdateableCIRFMat</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CIRF_Material__c</objectType>
    </variables>
    <variables>
        <name>UpdatedMaterialsName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
