force-app/main/default/flows/GBS_279_Update_Factory_status_by_Action_Status.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>IsApprovalReady</name>
        <label>IsApprovalReady</label>
        <locationX>295</locationX>
        <locationY>340</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Approve</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsApprovalStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewActionStatus</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateFactoryStatus</targetReference>
            </connector>
            <label>Approve</label>
        </rules>
        <rules>
            <name>ApprovalFalse</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsApprovalStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewActionStatus</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IsCurrentStatusApprovable</targetReference>
            </connector>
            <label>ApprovalFalse</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsCurrentStatusApprovable</name>
        <label>IsCurrentStatusApprovable</label>
        <locationX>503</locationX>
        <locationY>417</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>IsUpdatable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsOldStatusisApprovable</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewActionStatus</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateNotApprovableStatus</targetReference>
            </connector>
            <label>IsUpdatable</label>
        </rules>
    </decisions>
    <formulas>
        <name>IsApprovalStatus</name>
        <dataType>Boolean</dataType>
        <expression>IF ( {!NewActionStatus} = &quot;NBCU Audit - Conditionally Approved&quot; || {!NewActionStatus} = &quot;NBCU Audit - Officially Approved&quot; ||

{!NewActionStatus} = &quot;Waiver Review - Approved&quot; || {!NewActionStatus} = &quot;Waiver Review - Approved (Spot Check Passed)&quot; , true,false)</expression>
    </formulas>
    <formulas>
        <name>IsOldStatusisApprovable</name>
        <dataType>Boolean</dataType>
        <expression>IF ( {!CurrentStatus} = &quot;NBCU Audit - Conditionally Approved&quot; || {!CurrentStatus} = &quot;NBCU Audit - Officially Approved&quot; ||

{!CurrentStatus} = &quot;Waiver Review - Approved&quot; || {!CurrentStatus} = &quot;Waiver Review - Approved (Spot Check Passed)&quot; , true,false)</expression>
    </formulas>
    <interviewLabel>GBS-279 Update Factory status by Action Status {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GBS-279 Update Factory status by Action Status</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>FactoryLookup</name>
        <label>FactoryLookup</label>
        <locationX>297</locationX>
        <locationY>62</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LookupStatus</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FactoryId</elementReference>
            </value>
        </filters>
        <object>Factory__c</object>
        <outputAssignments>
            <assignToReference>CurrentStatus</assignToReference>
            <field>Factory_Status__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>LookupStatus</name>
        <label>LookupStatus</label>
        <locationX>293</locationX>
        <locationY>214</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsApprovalReady</targetReference>
        </connector>
        <filters>
            <field>Action_Status_del__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ActionStatus</elementReference>
            </value>
        </filters>
        <object>FactoryActiontoStatus__c</object>
        <outputAssignments>
            <assignToReference>NewActionStatus</assignToReference>
            <field>Factory_Status__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>UpdateFactoryStatus</name>
        <label>UpdateFactoryStatus</label>
        <locationX>119</locationX>
        <locationY>453</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FactoryId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Factory_Status__c</field>
            <value>
                <elementReference>NewActionStatus</elementReference>
            </value>
        </inputAssignments>
        <object>Factory__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateNotApprovableStatus</name>
        <label>UpdateNotApprovableStatus</label>
        <locationX>509</locationX>
        <locationY>523</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FactoryId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Factory_Status__c</field>
            <value>
                <elementReference>NewActionStatus</elementReference>
            </value>
        </inputAssignments>
        <object>Factory__c</object>
    </recordUpdates>
    <startElementReference>FactoryLookup</startElementReference>
    <status>Active</status>
    <variables>
        <name>ActionStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CurrentStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue/>
        </value>
    </variables>
    <variables>
        <name>CustomList</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>FactoryActiontoStatus__c</objectType>
    </variables>
    <variables>
        <name>FactoryId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NewActionStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
