force-app/main/default/flows/GBS_Assign_Task_to_Reassign_Primary_Licensee.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Task_to_Reassign_Primary_Licensee</name>
        <label>Task to Reassign Primary Licensee</label>
        <locationX>480</locationX>
        <locationY>564</locationY>
        <actionName>New_GBS_Task</actionName>
        <actionType>quickAction</actionType>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>AssignedUser.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhatId</name>
            <value>
                <elementReference>Workflow.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>Licensee No Longer Using - Update Primary Licensee</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ActivityDate</name>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Type</name>
            <value>
                <stringValue>Licensee Management</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <name>Is_Current_Workflow_with_Licensee_found</name>
        <label>Is Current Workflow with Licensee found?</label>
        <locationX>473</locationX>
        <locationY>351</locationY>
        <defaultConnectorLabel>End</defaultConnectorLabel>
        <rules>
            <name>End</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Workflow</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>End</label>
        </rules>
        <rules>
            <name>Create_Task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Workflow</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assigned_User</targetReference>
            </connector>
            <label>Create Task</label>
        </rules>
    </decisions>
    <interviewLabel>GBS - Assign Task to Reassign Primary Licensee {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GBS - Assign Task to Reassign Primary Licensee</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Assigned_User</name>
        <label>Assigned User</label>
        <locationX>473</locationX>
        <locationY>454</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Task_to_Reassign_Primary_Licensee</targetReference>
        </connector>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AssigneeFirstName</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AssigneeLastName</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>AssignedUser</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_LMS_Details</name>
        <label>Get LMS Details</label>
        <locationX>471</locationX>
        <locationY>179</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_There_a_Current_Workflow_using_the_Licensee</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LMSId</elementReference>
            </value>
        </filters>
        <object>LMS__c</object>
        <outputReference>LMS</outputReference>
        <queriedFields>Factory__c</queriedFields>
        <queriedFields>Licensee__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Is_There_a_Current_Workflow_using_the_Licensee</name>
        <label>Is There a Current Workflow using the Licensee</label>
        <locationX>477</locationX>
        <locationY>268</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Current_Workflow_with_Licensee_found</targetReference>
        </connector>
        <filters>
            <field>Factory__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LMS.Factory__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>GBS_Current_Workflow__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Licensee__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LMS.Licensee__c</elementReference>
            </value>
        </filters>
        <object>Workflow__c</object>
        <outputReference>Workflow</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <startElementReference>Get_LMS_Details</startElementReference>
    <status>Active</status>
    <variables>
        <name>AssignedUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>AssigneeFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Tori</stringValue>
        </value>
    </variables>
    <variables>
        <name>AssigneeLastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Carroll</stringValue>
        </value>
    </variables>
    <variables>
        <name>LMS</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>LMS__c</objectType>
    </variables>
    <variables>
        <name>LMSId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Workflow</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Workflow__c</objectType>
    </variables>
</Flow>
