force-app/main/default/flows/Mark_the_territory_checkbox_when_respective_Ask_Price_is_added.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>myVariable_waitStartTimeAssignment</name>
        <label>myVariable_waitStartTimeAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>myVariable_waitStartTimeVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myDecision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Check if Ask Price is entered</label>
        </rules>
    </decisions>
    <description>Mark the territory checkbox when respective Ask Price is added</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(NOT(ISBLANK([Acquisition_Deal__c].Ask_Price_GAS__c)) ,true ,IF([Acquisition_Deal__c].GAS__c=true,true,false))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_10_myRule_1_A1_GAS_c</name>
        <dataType>Boolean</dataType>
        <expression>IF(NOT(ISBLANK({!myVariable_current.Ask_Price_GAS__c})) ,true ,IF({!myVariable_current.GAS__c}=true,true,false))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(NOT(ISBLANK([Acquisition_Deal__c].Ask_Price_India__c)) ,true ,IF([Acquisition_Deal__c].India__c=true,true,false))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_11_myRule_1_A1_India_c</name>
        <dataType>Boolean</dataType>
        <expression>IF(NOT(ISBLANK({!myVariable_current.Ask_Price_India__c})) ,true ,IF({!myVariable_current.India__c}=true,true,false))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(NOT(ISBLANK([Acquisition_Deal__c].Ask_Price_Italy__c)) ,true ,IF([Acquisition_Deal__c].Italy__c=true,true,false))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_12_myRule_1_A1_Italy_c</name>
        <dataType>Boolean</dataType>
        <expression>IF(NOT(ISBLANK({!myVariable_current.Ask_Price_Italy__c})) ,true ,IF({!myVariable_current.Italy__c}=true,true,false))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(NOT(ISBLANK([Acquisition_Deal__c].Ask_Price_Japan__c)) ,true ,IF([Acquisition_Deal__c].Japan__c=true,true,false))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_13_myRule_1_A1_Japan_c</name>
        <dataType>Boolean</dataType>
        <expression>IF(NOT(ISBLANK({!myVariable_current.Ask_Price_Japan__c})) ,true ,IF({!myVariable_current.Japan__c}=true,true,false))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(NOT(ISBLANK([Acquisition_Deal__c].Ask_Price_Mexico__c)) ,true ,IF([Acquisition_Deal__c].Mexico__c=true,true,false))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_14_myRule_1_A1_Mexico_c</name>
        <dataType>Boolean</dataType>
        <expression>IF(NOT(ISBLANK({!myVariable_current.Ask_Price_Mexico__c})) ,true ,IF({!myVariable_current.Mexico__c}=true,true,false))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(NOT(ISBLANK([Acquisition_Deal__c].Ask_Price_Middle_East__c)) ,true ,IF([Acquisition_Deal__c].Middle_East__c=true,true,false))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_15_myRule_1_A1_Middle_East_c</name>
        <dataType>Boolean</dataType>
        <expression>IF(NOT(ISBLANK({!myVariable_current.Ask_Price_Middle_East__c})) ,true ,IF({!myVariable_current.Middle_East__c}=true,true,false))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(NOT(ISBLANK([Acquisition_Deal__c].Ask_Price_Portugal__c)) ,true ,IF([Acquisition_Deal__c].Portugal__c=true,true,false))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_16_myRule_1_A1_Portugal_c</name>
        <dataType>Boolean</dataType>
        <expression>IF(NOT(ISBLANK({!myVariable_current.Ask_Price_Portugal__c})) ,true ,IF({!myVariable_current.Portugal__c}=true,true,false))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(NOT(ISBLANK([Acquisition_Deal__c].Ask_Price_Rest_of_Africa_East_and_West__c)) ,true ,IF([Acquisition_Deal__c].Rest_of_Africa_East_and_West__c =true,true,false))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_17_myRule_1_A1_Rest_of_Africa_East_and_West_c</name>
        <dataType>Boolean</dataType>
        <expression>IF(NOT(ISBLANK({!myVariable_current.Ask_Price_Rest_of_Africa_East_and_West__c})) ,true ,IF({!myVariable_current.Rest_of_Africa_East_and_West__c} =true,true,false))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(NOT(ISBLANK([Acquisition_Deal__c].Ask_Price_RestofAsiaexcl_IndiaChinaJapan__c)) ,true ,IF([Acquisition_Deal__c].Rest_of_Asia_excl_India_China_Japan__c =true,true,false))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_18_myRule_1_A1_Rest_of_Asia_excl_India_China_Japan_c</name>
        <dataType>Boolean</dataType>
        <expression>IF(NOT(ISBLANK({!myVariable_current.Ask_Price_RestofAsiaexcl_IndiaChinaJapan__c})) ,true ,IF({!myVariable_current.Rest_of_Asia_excl_India_China_Japan__c} =true,true,false))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(NOT(ISBLANK([Acquisition_Deal__c].Ask_Price_RestofLATAM_excl_Brazil_Mexico__c)) ,true ,IF([Acquisition_Deal__c].Rest_of_LATAM_excl_Brazil_and_Mexico__c =true,true,false))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_19_myRule_1_A1_Rest_of_LATAM_excl_Brazil_and_Mexico_c</name>
        <dataType>Boolean</dataType>
        <expression>IF(NOT(ISBLANK({!myVariable_current.Ask_Price_RestofLATAM_excl_Brazil_Mexico__c})) ,true ,IF({!myVariable_current.Rest_of_LATAM_excl_Brazil_and_Mexico__c} =true,true,false))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(NOT(ISBLANK([Acquisition_Deal__c].Ask_Price_Russia_CIS__c)) ,true ,IF([Acquisition_Deal__c].Russia_CIS__c =true,true,false))
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_20_myRule_1_A1_Russia_CIS_c</name>
        <dataType>Boolean</dataType>
        <expression>IF(NOT(ISBLANK({!myVariable_current.Ask_Price_Russia_CIS__c})) ,true ,IF({!myVariable_current.Russia_CIS__c} =true,true,false))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(NOT(ISBLANK([Acquisition_Deal__c].Ask_Price_Russia__c)) ,true ,IF([Acquisition_Deal__c].Russia__c=true,true,false))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_21_myRule_1_A1_Russia_c</name>
        <dataType>Boolean</dataType>
        <expression>IF(NOT(ISBLANK({!myVariable_current.Ask_Price_Russia__c})) ,true ,IF({!myVariable_current.Russia__c}=true,true,false))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(NOT(ISBLANK([Acquisition_Deal__c].Ask_Price_Scandinavia__c)) ,true ,IF([Acquisition_Deal__c].Scandinavia__c=true,true,false))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_22_myRule_1_A1_Scandinavia_c</name>
        <dataType>Boolean</dataType>
        <expression>IF(NOT(ISBLANK({!myVariable_current.Ask_Price_Scandinavia__c})) ,true ,IF({!myVariable_current.Scandinavia__c}=true,true,false))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(NOT(ISBLANK([Acquisition_Deal__c].Ask_Price_South_Africa__c)) ,true ,IF([Acquisition_Deal__c].South_Africa__c=true,true,false))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_23_myRule_1_A1_South_Africa_c</name>
        <dataType>Boolean</dataType>
        <expression>IF(NOT(ISBLANK({!myVariable_current.Ask_Price_South_Africa__c})) ,true ,IF({!myVariable_current.South_Africa__c}=true,true,false))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(NOT(ISBLANK([Acquisition_Deal__c].Ask_Price_South_Korea__c)) ,true ,IF([Acquisition_Deal__c].South_Korea__c=true,true,false))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_24_myRule_1_A1_South_Korea_c</name>
        <dataType>Boolean</dataType>
        <expression>IF(NOT(ISBLANK({!myVariable_current.Ask_Price_South_Korea__c})) ,true ,IF({!myVariable_current.South_Korea__c}=true,true,false))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(NOT(ISBLANK([Acquisition_Deal__c].Ask_Price_Spain__c)) ,true ,IF([Acquisition_Deal__c].Spain__c=true,true,false))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_25_myRule_1_A1_Spain_c</name>
        <dataType>Boolean</dataType>
        <expression>IF(NOT(ISBLANK({!myVariable_current.Ask_Price_Spain__c})) ,true ,IF({!myVariable_current.Spain__c}=true,true,false))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(NOT(ISBLANK([Acquisition_Deal__c].Ask_Price_UK_Eire__c)) ,true ,IF([Acquisition_Deal__c].UK_Eire__c=true,true,false))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_26_myRule_1_A1_UK_Eire_c</name>
        <dataType>Boolean</dataType>
        <expression>IF(NOT(ISBLANK({!myVariable_current.Ask_Price_UK_Eire__c})) ,true ,IF({!myVariable_current.UK_Eire__c}=true,true,false))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(NOT(ISBLANK([Acquisition_Deal__c].Ask_Price_US__c)) ,true ,IF([Acquisition_Deal__c].US__c=true,true,false))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_27_myRule_1_A1_US_c</name>
        <dataType>Boolean</dataType>
        <expression>IF(NOT(ISBLANK({!myVariable_current.Ask_Price_US__c})) ,true ,IF({!myVariable_current.US__c}=true,true,false))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(NOT(ISBLANK([Acquisition_Deal__c].Ask_Price_Worldwide__c)) ,true ,IF([Acquisition_Deal__c].Worldwide__c=true,true,false))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_28_myRule_1_A1_Worldwide_c</name>
        <dataType>Boolean</dataType>
        <expression>IF(NOT(ISBLANK({!myVariable_current.Ask_Price_Worldwide__c})) ,true ,IF({!myVariable_current.Worldwide__c}=true,true,false))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(NOT(ISBLANK([Acquisition_Deal__c].Ask_Price_Austrailasia__c)) ,true ,IF([Acquisition_Deal__c].Austrailasia__c=true,true,false))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_2_myRule_1_A1_Austrailasia_c</name>
        <dataType>Boolean</dataType>
        <expression>IF(NOT(ISBLANK({!myVariable_current.Ask_Price_Austrailasia__c})) ,true ,IF({!myVariable_current.Austrailasia__c}=true,true,false))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(NOT(ISBLANK([Acquisition_Deal__c].Ask_Price_Benelux__c)) ,true ,IF([Acquisition_Deal__c].Benelux__c=true,true,false))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_3_myRule_1_A1_Benelux_c</name>
        <dataType>Boolean</dataType>
        <expression>IF(NOT(ISBLANK({!myVariable_current.Ask_Price_Benelux__c})) ,true ,IF({!myVariable_current.Benelux__c}=true,true,false))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(NOT(ISBLANK([Acquisition_Deal__c].Ask_Price_Brazil__c)) ,true ,IF([Acquisition_Deal__c].Brazil__c=true,true,false))
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_4_myRule_1_A1_Brazil_c</name>
        <dataType>Boolean</dataType>
        <expression>IF(NOT(ISBLANK({!myVariable_current.Ask_Price_Brazil__c})) ,true ,IF({!myVariable_current.Brazil__c}=true,true,false))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(NOT(ISBLANK([Acquisition_Deal__c].Ask_Price_Canada__c)) ,true ,IF([Acquisition_Deal__c].Canada__c=true,true,false))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_5_myRule_1_A1_Canada_c</name>
        <dataType>Boolean</dataType>
        <expression>IF(NOT(ISBLANK({!myVariable_current.Ask_Price_Canada__c})) ,true ,IF({!myVariable_current.Canada__c}=true,true,false))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(NOT(ISBLANK([Acquisition_Deal__c].Ask_Price_Caribbean_Basin__c)) ,true ,IF([Acquisition_Deal__c].Caribbean_Basin__c=true,true,false))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_6_myRule_1_A1_Caribbean_Basin_c</name>
        <dataType>Boolean</dataType>
        <expression>IF(NOT(ISBLANK({!myVariable_current.Ask_Price_Caribbean_Basin__c})) ,true ,IF({!myVariable_current.Caribbean_Basin__c}=true,true,false))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(NOT(ISBLANK([Acquisition_Deal__c].Ask_Price_China__c)) ,true ,IF([Acquisition_Deal__c].China__c=true,true,false))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_7_myRule_1_A1_China_c</name>
        <dataType>Boolean</dataType>
        <expression>IF(NOT(ISBLANK({!myVariable_current.Ask_Price_China__c})) ,true ,IF({!myVariable_current.China__c}=true,true,false))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(NOT(ISBLANK([Acquisition_Deal__c].Ask_Price_Eastern_Europe_Baltics__c)) ,true ,IF([Acquisition_Deal__c].Eastern_Europe_Baltics__c=true,true,false))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_8_myRule_1_A1_Eastern_Europe_Baltics_c</name>
        <dataType>Boolean</dataType>
        <expression>IF(NOT(ISBLANK({!myVariable_current.Ask_Price_Eastern_Europe_Baltics__c})) ,true ,IF({!myVariable_current.Eastern_Europe_Baltics__c}=true,true,false))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(NOT(ISBLANK([Acquisition_Deal__c].Ask_Price_France__c)) ,true ,IF([Acquisition_Deal__c].France__c=true,true,false))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_9_myRule_1_A1_France_c</name>
        <dataType>Boolean</dataType>
        <expression>IF(NOT(ISBLANK({!myVariable_current.Ask_Price_France__c})) ,true ,IF({!myVariable_current.France__c}=true,true,false))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>(NOT(ISBLANK([Acquisition_Deal__c].Ask_Price_Worldwide__c)) || 
NOT(ISBLANK([Acquisition_Deal__c].Ask_Price_Austrailasia__c)) || 
NOT(ISBLANK([Acquisition_Deal__c].Ask_Price_Benelux__c)) || NOT(ISBLANK([Acquisition_Deal__c].Ask_Price_Brazil__c)) || NOT(ISBLANK([Acquisition_Deal__c].Ask_Price_Canada__c)) || 
NOT(ISBLANK([Acquisition_Deal__c].Ask_Price_Caribbean_Basin__c)) || 
NOT(ISBLANK([Acquisition_Deal__c].Ask_Price_China__c)) || 
NOT(ISBLANK([Acquisition_Deal__c].Ask_Price_Eastern_Europe_Baltics__c)) || 
NOT(ISBLANK([Acquisition_Deal__c].Ask_Price_France__c)) || 
NOT(ISBLANK([Acquisition_Deal__c].Ask_Price_GAS__c)) || 
NOT(ISBLANK([Acquisition_Deal__c].Ask_Price_India__c)) || 
NOT(ISBLANK([Acquisition_Deal__c].Ask_Price_Italy__c)) || 
NOT(ISBLANK([Acquisition_Deal__c].Ask_Price_Japan__c)) || 
NOT(ISBLANK([Acquisition_Deal__c].Ask_Price_Mexico__c)) || 
NOT(ISBLANK([Acquisition_Deal__c].Ask_Price_Middle_East__c)) || 
NOT(ISBLANK([Acquisition_Deal__c].Ask_Price_Russia__c)) || 
NOT(ISBLANK([Acquisition_Deal__c].Ask_Price_South_Africa__c)) || 
NOT(ISBLANK([Acquisition_Deal__c].Ask_Price_South_Korea__c)) || 
NOT(ISBLANK([Acquisition_Deal__c].Ask_Price_Scandinavia__c)) || 
NOT(ISBLANK([Acquisition_Deal__c].Ask_Price_Spain__c)) || 
NOT(ISBLANK([Acquisition_Deal__c].Ask_Price_Portugal__c)) || NOT(ISBLANK([Acquisition_Deal__c].Ask_Price_Russia_CIS__c)) || NOT(ISBLANK([Acquisition_Deal__c].Ask_Price_UK_Eire__c)) || NOT(ISBLANK([Acquisition_Deal__c].Ask_Price_US__c)) || NOT(ISBLANK([Acquisition_Deal__c].Ask_Price_Rest_of_Africa_East_and_West__c)) || NOT(ISBLANK([Acquisition_Deal__c].Ask_Price_RestofAsiaexcl_IndiaChinaJapan__c)) || 
NOT(ISBLANK([Acquisition_Deal__c].Ask_Price_RestofLATAM_excl_Brazil_Mexico__c) ))
&amp;&amp; 
(NOT([Acquisition_Deal__c].On_Hold__c) 
&amp;&amp;
NOT([Acquisition_Deal__c].Dead__c ))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>(NOT(ISBLANK({!myVariable_current.Ask_Price_Worldwide__c})) || 
NOT(ISBLANK({!myVariable_current.Ask_Price_Austrailasia__c})) || 
NOT(ISBLANK({!myVariable_current.Ask_Price_Benelux__c})) || NOT(ISBLANK({!myVariable_current.Ask_Price_Brazil__c})) || NOT(ISBLANK({!myVariable_current.Ask_Price_Canada__c})) || 
NOT(ISBLANK({!myVariable_current.Ask_Price_Caribbean_Basin__c})) || 
NOT(ISBLANK({!myVariable_current.Ask_Price_China__c})) || 
NOT(ISBLANK({!myVariable_current.Ask_Price_Eastern_Europe_Baltics__c})) || 
NOT(ISBLANK({!myVariable_current.Ask_Price_France__c})) || 
NOT(ISBLANK({!myVariable_current.Ask_Price_GAS__c})) || 
NOT(ISBLANK({!myVariable_current.Ask_Price_India__c})) || 
NOT(ISBLANK({!myVariable_current.Ask_Price_Italy__c})) || 
NOT(ISBLANK({!myVariable_current.Ask_Price_Japan__c})) || 
NOT(ISBLANK({!myVariable_current.Ask_Price_Mexico__c})) || 
NOT(ISBLANK({!myVariable_current.Ask_Price_Middle_East__c})) || 
NOT(ISBLANK({!myVariable_current.Ask_Price_Russia__c})) || 
NOT(ISBLANK({!myVariable_current.Ask_Price_South_Africa__c})) || 
NOT(ISBLANK({!myVariable_current.Ask_Price_South_Korea__c})) || 
NOT(ISBLANK({!myVariable_current.Ask_Price_Scandinavia__c})) || 
NOT(ISBLANK({!myVariable_current.Ask_Price_Spain__c})) || 
NOT(ISBLANK({!myVariable_current.Ask_Price_Portugal__c})) || NOT(ISBLANK({!myVariable_current.Ask_Price_Russia_CIS__c})) || NOT(ISBLANK({!myVariable_current.Ask_Price_UK_Eire__c})) || NOT(ISBLANK({!myVariable_current.Ask_Price_US__c})) || NOT(ISBLANK({!myVariable_current.Ask_Price_Rest_of_Africa_East_and_West__c})) || NOT(ISBLANK({!myVariable_current.Ask_Price_RestofAsiaexcl_IndiaChinaJapan__c})) || 
NOT(ISBLANK({!myVariable_current.Ask_Price_RestofLATAM_excl_Brazil_Mexico__c}) ))
&amp;&amp; 
(NOT({!myVariable_current.On_Hold__c}) 
&amp;&amp;
NOT({!myVariable_current.Dead__c} ))</expression>
    </formulas>
    <interviewLabel>Mark_the_territory_checkbox_when_respective_Ask_Price_is_added-6_Acquisition_Deal__c</interviewLabel>
    <label>Mark the territory checkbox when respective Ask Price is added</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Acquisition_Deal__c</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Acquisition_Deal__c]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Update Territory Check boxes</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Australasia</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Austrailasia__c</field>
            <value>
                <elementReference>formula_2_myRule_1_A1_Austrailasia_c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Benelux</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Benelux__c</field>
            <value>
                <elementReference>formula_3_myRule_1_A1_Benelux_c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Brazil</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Brazil__c</field>
            <value>
                <elementReference>formula_4_myRule_1_A1_Brazil_c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Canada</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Canada__c</field>
            <value>
                <elementReference>formula_5_myRule_1_A1_Canada_c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Caribbean Basin</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Caribbean_Basin__c</field>
            <value>
                <elementReference>formula_6_myRule_1_A1_Caribbean_Basin_c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>China</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>China__c</field>
            <value>
                <elementReference>formula_7_myRule_1_A1_China_c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Eastern Europe &amp; Baltics</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Eastern_Europe_Baltics__c</field>
            <value>
                <elementReference>formula_8_myRule_1_A1_Eastern_Europe_Baltics_c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>France</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>France__c</field>
            <value>
                <elementReference>formula_9_myRule_1_A1_France_c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>GAS</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>GAS__c</field>
            <value>
                <elementReference>formula_10_myRule_1_A1_GAS_c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>India</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>India__c</field>
            <value>
                <elementReference>formula_11_myRule_1_A1_India_c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Italy</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Italy__c</field>
            <value>
                <elementReference>formula_12_myRule_1_A1_Italy_c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Japan</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Japan__c</field>
            <value>
                <elementReference>formula_13_myRule_1_A1_Japan_c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Mexico</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Mexico__c</field>
            <value>
                <elementReference>formula_14_myRule_1_A1_Mexico_c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Middle East</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Middle_East__c</field>
            <value>
                <elementReference>formula_15_myRule_1_A1_Middle_East_c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Portugal</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Portugal__c</field>
            <value>
                <elementReference>formula_16_myRule_1_A1_Portugal_c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Rest of Africa (East and West)</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Rest_of_Africa_East_and_West__c</field>
            <value>
                <elementReference>formula_17_myRule_1_A1_Rest_of_Africa_East_and_West_c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Rest of Asia(excl India, China &amp; Japan)</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Rest_of_Asia_excl_India_China_Japan__c</field>
            <value>
                <elementReference>formula_18_myRule_1_A1_Rest_of_Asia_excl_India_China_Japan_c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Rest of LATAM(excl Brazil and Mexico)</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Rest_of_LATAM_excl_Brazil_and_Mexico__c</field>
            <value>
                <elementReference>formula_19_myRule_1_A1_Rest_of_LATAM_excl_Brazil_and_Mexico_c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Russia &amp; CIS</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Russia_CIS__c</field>
            <value>
                <elementReference>formula_20_myRule_1_A1_Russia_CIS_c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Russia</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Russia__c</field>
            <value>
                <elementReference>formula_21_myRule_1_A1_Russia_c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Scandinavia</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Scandinavia__c</field>
            <value>
                <elementReference>formula_22_myRule_1_A1_Scandinavia_c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>South Africa</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>South_Africa__c</field>
            <value>
                <elementReference>formula_23_myRule_1_A1_South_Africa_c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>South Korea</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>South_Korea__c</field>
            <value>
                <elementReference>formula_24_myRule_1_A1_South_Korea_c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Spain</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Spain__c</field>
            <value>
                <elementReference>formula_25_myRule_1_A1_Spain_c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>UK &amp; Eire</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>UK_Eire__c</field>
            <value>
                <elementReference>formula_26_myRule_1_A1_UK_Eire_c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>US</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>US__c</field>
            <value>
                <elementReference>formula_27_myRule_1_A1_US_c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Worldwide</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Worldwide__c</field>
            <value>
                <elementReference>formula_28_myRule_1_A1_Worldwide_c</elementReference>
            </value>
        </inputAssignments>
        <object>Acquisition_Deal__c</object>
    </recordUpdates>
    <startElementReference>myVariable_waitStartTimeAssignment</startElementReference>
    <status>Active</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Acquisition_Deal__c</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Acquisition_Deal__c</objectType>
    </variables>
    <variables>
        <name>myVariable_waitStartTimeVariable</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
</Flow>
