force-app/main/default/flows/Price_Protection_Lookup_Meta_Data.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Mapping_Found</name>
        <label>Mapping Found?</label>
        <locationX>408</locationX>
        <locationY>57</locationY>
        <defaultConnector>
            <targetReference>Update_Default_Path</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ApprovalFlow</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Nothing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_Approval_Path</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>This Flow will lookup Meta Data mapping and fetch the Approval Flow to execute</description>
    <interviewLabel>Price Protection - Lookup Meta Data {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Price Protection - Lookup Meta Data</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Search_Meta_Data</name>
        <label>Search Meta Data</label>
        <locationX>233</locationX>
        <locationY>54</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Mapping_Found</targetReference>
        </connector>
        <filters>
            <field>Sold_To_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SoldToCode</elementReference>
            </value>
        </filters>
        <filters>
            <field>Studio_Partner__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>StudioPartner</elementReference>
            </value>
        </filters>
        <object>Price_Protection_Approval_Flow_Mapping__mdt</object>
        <outputAssignments>
            <assignToReference>ApprovalFlow</assignToReference>
            <field>Approval_Flow__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case_Approval_Path</name>
        <label>Update Case Approval Path</label>
        <locationX>406</locationX>
        <locationY>161</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Price_Protection_Approval_Flow__c</field>
            <value>
                <elementReference>ApprovalFlow</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Default_Path</name>
        <label>Update Default Path</label>
        <locationX>567</locationX>
        <locationY>56</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Price_Protection_Approval_Flow__c</field>
            <value>
                <stringValue>UPHE</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <startElementReference>Search_Meta_Data</startElementReference>
    <status>Active</status>
    <variables>
        <name>ApprovalFlow</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Nothing</stringValue>
        </value>
    </variables>
    <variables>
        <name>RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SoldToCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>StudioPartner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
