force-app/main/default/flows/SendBlastEmail.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_CAR_Team</name>
        <label>Add CAR Team</label>
        <locationX>407</locationX>
        <locationY>277</locationY>
        <assignmentItems>
            <assignToReference>ActualFieldsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CurrentCARTeamMember</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ForEveryCARTeamMember</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Blast_to_True</name>
        <label>Set Blast to True</label>
        <locationX>630</locationX>
        <locationY>281</locationY>
        <assignmentItems>
            <assignToReference>CurrentCARTeamMember.Blast_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_CAR_Team</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_this_the_CAR_Creator_Or_Owner</name>
        <label>Is this the CAR Creator Or Owner?</label>
        <locationX>587</locationX>
        <locationY>163</locationY>
        <defaultConnector>
            <targetReference>ForEveryCARTeamMember</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Creator_or_Creative</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentCARTeamMember.Team_Member__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>CreativeOwner</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentCARTeamMember.Team_Member__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>RequestedBy</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Blast_to_True</targetReference>
            </connector>
            <label>Creator or Creative</label>
        </rules>
    </decisions>
    <description>This flow queries all the car team members on a passed CAR and sets the Email Blast field to true</description>
    <interviewLabel>SendBlastEmail {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SendBlastEmail</label>
    <loops>
        <name>ForEveryCARTeamMember</name>
        <label>ForEveryCARTeamMember</label>
        <locationX>210</locationX>
        <locationY>148</locationY>
        <assignNextValueToReference>CurrentCARTeamMember</assignNextValueToReference>
        <collectionReference>CARTeamsToEmail</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_this_the_CAR_Creator_Or_Owner</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>SetBlastToTrue</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>CARTeamsToUpdate</name>
        <label>CARTeamsToUpdate</label>
        <locationX>186</locationX>
        <locationY>33</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_CAR_Details</targetReference>
        </connector>
        <filters>
            <field>CAR__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CAR</elementReference>
            </value>
        </filters>
        <object>CAR_Team__c</object>
        <outputReference>CARTeamsToEmail</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Blast_Email__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Team_Member__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Find_CAR_Details</name>
        <label>Find CAR Details</label>
        <locationX>427</locationX>
        <locationY>85</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ForEveryCARTeamMember</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CAR</elementReference>
            </value>
        </filters>
        <object>CAR__c</object>
        <outputAssignments>
            <assignToReference>CreativeOwner</assignToReference>
            <field>Creative_Owner__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RequestedBy</assignToReference>
            <field>Requested_By__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>SetBlastToTrue</name>
        <label>SetBlastToTrue</label>
        <locationX>195</locationX>
        <locationY>290</locationY>
        <inputReference>ActualFieldsToUpdate</inputReference>
    </recordUpdates>
    <startElementReference>CARTeamsToUpdate</startElementReference>
    <status>Active</status>
    <variables>
        <name>ActualFieldsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CAR_Team__c</objectType>
    </variables>
    <variables>
        <name>CAR</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CARTeamsToEmail</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CAR_Team__c</objectType>
    </variables>
    <variables>
        <name>CreativeOwner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CurrentCARTeamMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CAR_Team__c</objectType>
    </variables>
    <variables>
        <name>RequestedBy</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
