force-app/main/default/flows/Subflow_Acquisition_Deal_Clone_Related_Objects_Records.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Clone_Comps_A</name>
        <label>Clone Comps A</label>
        <locationX>675</locationX>
        <locationY>358</locationY>
        <actionName>FlowCloneRecord</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Clone_Risk_Compliance_A</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Message_0</targetReference>
        </faultConnector>
        <inputParameters>
            <name>toBeClonedRecordIds</name>
            <value>
                <elementReference>inputCopyFromAcquisitionDeal.Comps_Approved__c</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>comps.Id</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Clone_Comps_W</name>
        <label>Clone Comps W</label>
        <locationX>136</locationX>
        <locationY>366</locationY>
        <actionName>FlowCloneRecord</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Clone_Risk_Compliance_W</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Message_0</targetReference>
        </faultConnector>
        <inputParameters>
            <name>toBeClonedRecordIds</name>
            <value>
                <elementReference>inputCopyFromAcquisitionDeal.Comps__c</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>comps.Id</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Clone_Financials_A</name>
        <label>Clone Financials A</label>
        <locationX>672</locationX>
        <locationY>278</locationY>
        <actionName>FlowCloneRecord</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Clone_Comps_A</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Message_0</targetReference>
        </faultConnector>
        <inputParameters>
            <name>toBeClonedRecordIds</name>
            <value>
                <elementReference>inputCopyFromAcquisitionDeal.Financials_Approved__c</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>financials.Id</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Clone_Financials_W</name>
        <label>Clone Financials W</label>
        <locationX>135</locationX>
        <locationY>280</locationY>
        <actionName>FlowCloneRecord</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Clone_Comps_W</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Message_0</targetReference>
        </faultConnector>
        <inputParameters>
            <name>toBeClonedRecordIds</name>
            <value>
                <elementReference>inputCopyFromAcquisitionDeal.Financials__c</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>financials.Id</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Clone_Primary_Terms_A</name>
        <label>Clone Primary Terms A</label>
        <locationX>671</locationX>
        <locationY>182</locationY>
        <actionName>FlowCloneRecord</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Clone_Financials_A</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Message_0</targetReference>
        </faultConnector>
        <inputParameters>
            <name>toBeClonedRecordIds</name>
            <value>
                <elementReference>inputCopyFromAcquisitionDeal.Primary_Term_Approved__c</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>primaryTerm.Id</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Clone_Primary_Terms_W</name>
        <label>Clone Primary Terms W</label>
        <locationX>138</locationX>
        <locationY>192</locationY>
        <actionName>FlowCloneRecord</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Clone_Financials_W</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Message_0</targetReference>
        </faultConnector>
        <inputParameters>
            <name>toBeClonedRecordIds</name>
            <value>
                <elementReference>inputCopyFromAcquisitionDeal.Primary_Term__c</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>primaryTerm.Id</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Clone_Risk_Compliance_A</name>
        <label>Clone Risk &amp; Compliance A</label>
        <locationX>677</locationX>
        <locationY>450</locationY>
        <actionName>FlowCloneRecord</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_Re_Approval_chceckbox_for_long_text_fields</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Message_0</targetReference>
        </faultConnector>
        <inputParameters>
            <name>toBeClonedRecordIds</name>
            <value>
                <elementReference>inputCopyFromAcquisitionDeal.Risk_Compliance_Approved__c</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>riskAndComplaince.Id</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Clone_Risk_Compliance_W</name>
        <label>Clone Risk &amp; Compliance W</label>
        <locationX>136</locationX>
        <locationY>457</locationY>
        <actionName>FlowCloneRecord</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_Re_Approval_chceckbox_for_long_text_fields</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Message_0</targetReference>
        </faultConnector>
        <inputParameters>
            <name>toBeClonedRecordIds</name>
            <value>
                <elementReference>inputCopyFromAcquisitionDeal.Risk_Compliance__c</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>riskAndComplaince.Id</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Clone_Title_A</name>
        <label>Clone Title A</label>
        <locationX>670</locationX>
        <locationY>93</locationY>
        <actionName>FlowCloneRecord</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Clone_Primary_Terms_A</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Message_0</targetReference>
        </faultConnector>
        <inputParameters>
            <name>toBeClonedRecordIds</name>
            <value>
                <elementReference>inputCopyFromAcquisitionDeal.Title_Approved__c</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>title.Id</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Clone_Title_W</name>
        <label>Clone Title W</label>
        <locationX>138</locationX>
        <locationY>104</locationY>
        <actionName>FlowCloneRecord</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Clone_Primary_Terms_W</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Message_0</targetReference>
        </faultConnector>
        <inputParameters>
            <name>toBeClonedRecordIds</name>
            <value>
                <elementReference>inputCopyFromAcquisitionDeal.Title_Context__c</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>title.Id</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Error_Message</name>
        <label>Error Message</label>
        <locationX>12</locationX>
        <locationY>874</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>inputCopyFromAcquisitionDeal.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>chatterErrorMessage</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Error_Message_0</name>
        <label>Error Message</label>
        <locationX>387</locationX>
        <locationY>271</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>inputCopyFromAcquisitionDeal.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>chatterErrorMessage</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Unrecognised_Entry</name>
        <label>Unrecognised Entry</label>
        <locationX>858</locationX>
        <locationY>9</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>inputCopyFromAcquisitionDeal.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>chatterMessageUnrecogisedEntry</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <description>In case it is sopied from another Deal - then the Deal Id must be updated.</description>
        <name>Assign_Correct_Acquisition_Deal_IDs</name>
        <label>Assign Correct Acquisition Deal IDs</label>
        <locationX>348</locationX>
        <locationY>618</locationY>
        <assignmentItems>
            <assignToReference>title.LAQ_Acquisition_Deal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputCopyToAcquisitionDeal.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>primaryTerm.Acquisition_Deal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputCopyToAcquisitionDeal.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>financials.Acquisition_Deal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputCopyToAcquisitionDeal.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>comps.Acquisition_Deal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputCopyToAcquisitionDeal.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>riskAndComplaince.Acquisition_Deal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputCopyToAcquisitionDeal.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Reset_Signed_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Re_Approval_chceckbox_for_long_text_fields</name>
        <label>Assign Re-Approval chceckbox for long text fields</label>
        <locationX>401</locationX>
        <locationY>524</locationY>
        <assignmentItems>
            <assignToReference>primaryTerm.Re_Approval_Req_for_Long_Text_Fields__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Record_Types_and_Other_Values_to_Cloned_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Record_Types_and_Other_Values_to_Cloned_Records</name>
        <label>Assign Record Types and Other Values to Cloned Records</label>
        <locationX>475</locationX>
        <locationY>620</locationY>
        <assignmentItems>
            <assignToReference>title.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>titleRecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>primaryTerm.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>primaryTermRecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>financials.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>financialsRecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>riskAndComplaince.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>riskComplianceRecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>title.LAQ_Date_Approved__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>title.LAQ_Title_Approval_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>primaryTerm.Date_Approved__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>primaryTerm.Primary_Term_Approval_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>financials.Date_Approved__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>financials.Financials_Approval_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>comps.Date_Approved__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>comps.Comps_Approval_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>riskAndComplaince.Date_Approved__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>riskAndComplaince.Risk_Compliance_Approval_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>title.LAQ_Board_Pack_Version__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newBoardPackVersion</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>primaryTerm.Board_Pack_Version__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newBoardPackVersion</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>financials.Board_Pack_Version__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newBoardPackVersion</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>comps.Board_Pack_Version__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newBoardPackVersion</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>riskAndComplaince.Board_Pack_Version__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newBoardPackVersion</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Correct_Acquisition_Deal_IDs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Supporting_Objects_to_Acquisition_Deal</name>
        <label>Assign Supporting Objects to Acquisition Deal</label>
        <locationX>726</locationX>
        <locationY>888</locationY>
        <assignmentItems>
            <assignToReference>inputCopyToAcquisitionDeal.Primary_Term__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>primaryTerm.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inputCopyToAcquisitionDeal.Title_Context__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>title.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inputCopyToAcquisitionDeal.Financials__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>financials.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inputCopyToAcquisitionDeal.Comps__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>comps.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inputCopyToAcquisitionDeal.Risk_Compliance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>riskAndComplaince.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inputCopyToAcquisitionDeal.Board_Pack_Version__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newBoardPackVersion</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inputCopyToAcquisitionDeal.Re_Approval_Verified_for_Primary_Terms__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inputCopyToAcquisitionDeal.Re_Approval_Req_for_Primary_Terms__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Reset_Signed_Status</name>
        <label>Reset &quot;Signed&quot; Status</label>
        <locationX>220</locationX>
        <locationY>616</locationY>
        <assignmentItems>
            <assignToReference>title.LAQ_Signed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>primaryTerm.Signed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>financials.Signed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>comps.Signed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>riskAndComplaince.Signed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Title</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Which_Version_To_Copy</name>
        <label>Which Version To Copy?</label>
        <locationX>384</locationX>
        <locationY>9</locationY>
        <defaultConnector>
            <targetReference>Unrecognised_Entry</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Recognised</defaultConnectorLabel>
        <rules>
            <name>Working</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inputVersionToCopyFrom</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Working</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clone_Title_W</targetReference>
            </connector>
            <label>Working</label>
        </rules>
        <rules>
            <name>Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inputVersionToCopyFrom</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clone_Title_A</targetReference>
            </connector>
            <label>Approved</label>
        </rules>
    </decisions>
    <description>Clone Approved or Working set of related records.
Input Parameters: Acquisition Deal Object and text string: &quot;Working&quot; or &quot;Approved&quot;.</description>
    <formulas>
        <name>chatterErrorMessage</name>
        <dataType>String</dataType>
        <expression>{!$Label.FlowErrorMessage}</expression>
    </formulas>
    <formulas>
        <name>chatterMessageUnrecogisedEntry</name>
        <dataType>String</dataType>
        <expression>{!$Label.Flow_Acquisition_Deal_Unrecognised_Entry_Copy_From}</expression>
    </formulas>
    <formulas>
        <name>chatterSuccessMessage</name>
        <dataType>String</dataType>
        <expression>{!$Label.FlowAcquisitionDealNewBoardPackSuccess}</expression>
    </formulas>
    <formulas>
        <name>compsCloneParams</name>
        <dataType>String</dataType>
        <expression>{!inputCopyFromAcquisitionDeal.Comps_Approved__c} &amp; &quot;, Comps__r&quot;</expression>
    </formulas>
    <formulas>
        <name>financialsCloneParams</name>
        <dataType>String</dataType>
        <expression>{!inputCopyFromAcquisitionDeal.Financials_Approved__c} &amp; &quot;, Financials__r&quot;</expression>
    </formulas>
    <formulas>
        <name>financialsRecordTypeId</name>
        <dataType>String</dataType>
        <expression>{!$Label.RecordTypeId_Master_Financials}</expression>
    </formulas>
    <formulas>
        <description>FALSE it the cloned PrimaryTerm record is Approved (no need for re-approval)
TRUE otherwise</description>
        <name>isPrimaryTermNotApproved</name>
        <dataType>Boolean</dataType>
        <expression>ISPICKVAL ({!primaryTerm.Primary_Term_Approval_Status__c}, &quot;Approved&quot;)</expression>
    </formulas>
    <formulas>
        <name>newBoardPackVersion</name>
        <dataType>Number</dataType>
        <expression>{!inputCopyToAcquisitionDeal.Board_Pack_Version__c} + 1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>primaryTermRecordTypeId</name>
        <dataType>String</dataType>
        <expression>{!$Label.RecordTypeId_Master_Primary_Terms}</expression>
    </formulas>
    <formulas>
        <name>primaryTermsCloneParams</name>
        <dataType>String</dataType>
        <expression>{!inputCopyFromAcquisitionDeal.Primary_Term_Approved__c} &amp; &quot;, Primary_Term__r&quot;</expression>
    </formulas>
    <formulas>
        <name>riskComplianceCloneParams</name>
        <dataType>String</dataType>
        <expression>{!inputCopyFromAcquisitionDeal.Risk_Compliance_Approved__c} &amp; &quot;, Risk_Compliance__r&quot;</expression>
    </formulas>
    <formulas>
        <name>riskComplianceRecordTypeId</name>
        <dataType>String</dataType>
        <expression>{!$Label.RecordTypeId_Master_Risk_Compliance}</expression>
    </formulas>
    <formulas>
        <name>titleCloneParams</name>
        <dataType>String</dataType>
        <expression>{!inputCopyFromAcquisitionDeal.Title_Approved__c} &amp; &quot;, Title__r&quot;</expression>
    </formulas>
    <formulas>
        <name>titleRecordTypeId</name>
        <dataType>String</dataType>
        <expression>{!$Label.RecordTypeId_Master_Title}</expression>
    </formulas>
    <interviewLabel>Subflow Acquisition Deal Clone Related Objects Records {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Subflow Acquisition Deal Clone Related Objects Records</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Don&#39;t need to Fast Lookup in the subflow, but leave it for reference what is needed, in case of.</description>
        <name>Fetch_Current_Acquisition_Deal_record</name>
        <label>Fetch Current Acquisition Deal record</label>
        <locationX>10</locationX>
        <locationY>9</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <faultConnector>
            <targetReference>Error_Message</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputCopyFromAcquisitionDeal.Id</elementReference>
            </value>
        </filters>
        <object>Acquisition_Deal__c</object>
        <outputReference>inputCopyFromAcquisitionDeal</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Title_Context__c</queriedFields>
        <queriedFields>Primary_Term__c</queriedFields>
        <queriedFields>Financials__c</queriedFields>
        <queriedFields>Comps__c</queriedFields>
        <queriedFields>Risk_Compliance__c</queriedFields>
        <queriedFields>Board_Pack_Version__c</queriedFields>
        <queriedFields>Title_Approved__c</queriedFields>
        <queriedFields>Primary_Term_Approved__c</queriedFields>
        <queriedFields>Financials_Approved__c</queriedFields>
        <queriedFields>Comps_Approved__c</queriedFields>
        <queriedFields>Risk_Compliance_Approved__c</queriedFields>
        <queriedFields>Acquisition_Deal_Stage__c</queriedFields>
        <queriedFields>Re_Approval_Verified_for_Primary_Terms__c</queriedFields>
        <queriedFields>Re_Approval_Req_for_Primary_Terms__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Comps</name>
        <label>Update Comps</label>
        <locationX>603</locationX>
        <locationY>743</locationY>
        <connector>
            <targetReference>Update_Risk_Compliance</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Message</targetReference>
        </faultConnector>
        <inputReference>comps</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Financials</name>
        <label>Update Financials</label>
        <locationX>472</locationX>
        <locationY>741</locationY>
        <connector>
            <targetReference>Update_Comps</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Message</targetReference>
        </faultConnector>
        <inputReference>financials</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Primary_Terms</name>
        <label>Update Primary Terms</label>
        <locationX>346</locationX>
        <locationY>739</locationY>
        <connector>
            <targetReference>Update_Financials</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Message</targetReference>
        </faultConnector>
        <inputReference>primaryTerm</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Risk_Compliance</name>
        <label>Update Risk &amp; Compliance</label>
        <locationX>728</locationX>
        <locationY>743</locationY>
        <connector>
            <targetReference>Assign_Supporting_Objects_to_Acquisition_Deal</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Message</targetReference>
        </faultConnector>
        <inputReference>riskAndComplaince</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Title</name>
        <label>Update Title</label>
        <locationX>217</locationX>
        <locationY>735</locationY>
        <connector>
            <targetReference>Update_Primary_Terms</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Message</targetReference>
        </faultConnector>
        <inputReference>title</inputReference>
    </recordUpdates>
    <startElementReference>Which_Version_To_Copy</startElementReference>
    <status>Active</status>
    <variables>
        <name>comps</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Comps__c</objectType>
    </variables>
    <variables>
        <name>financials</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Financials__c</objectType>
    </variables>
    <variables>
        <name>inputCopyFromAcquisitionDeal</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Acquisition_Deal__c</objectType>
    </variables>
    <variables>
        <name>inputCopyToAcquisitionDeal</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Acquisition_Deal__c</objectType>
    </variables>
    <variables>
        <description>indicates which version will be cloned. Available options:
 - Working 
 - Approved</description>
        <name>inputVersionToCopyFrom</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>primaryTerm</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Primary_Terms__c</objectType>
    </variables>
    <variables>
        <name>riskAndComplaince</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Risk_Compliance__c</objectType>
    </variables>
    <variables>
        <name>title</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Title__c</objectType>
    </variables>
    <variables>
        <name>titleId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
