force-app/main/default/flows/TSA_Submit_to_SAP_Screen_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Set_Status_to_Submitted</name>
        <label>Set Status to Submitted</label>
        <locationX>411</locationX>
        <locationY>678</locationY>
        <assignmentItems>
            <assignToReference>updBatchRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RequestDetail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updBatchRecord.TSA_SAP_Submission_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updBatchRecord.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Submitted to SAP</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updBatchRecord.TSA_SAP_Integration_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>N</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updBatchList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>updBatchRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Batch_records</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>EXP_CONST_Active</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Active</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_Request_Status</name>
        <label>Check Request Status</label>
        <locationX>182</locationX>
        <locationY>147</locationY>
        <defaultConnector>
            <targetReference>Get_TSA_App_Settings</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Not_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Request_Header</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DisplayError1</targetReference>
            </connector>
            <label>Not Found</label>
        </rules>
        <rules>
            <name>Invalid_Status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Request_Header.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Draft</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Invalid_Request_Status</targetReference>
            </connector>
            <label>Invalid Status</label>
        </rules>
        <rules>
            <name>No_Transaction</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Request_Header.TSA_Batch_Count__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Transaction_Error_Screen</targetReference>
            </connector>
            <label>No Transaction</label>
        </rules>
    </decisions>
    <decisions>
        <name>TSA_App_Status_Active</name>
        <label>TSA App Status = Active</label>
        <locationX>52</locationX>
        <locationY>404</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Active_Status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EXP_Lock_Start_Date</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_TSA_Request_Header_Status</targetReference>
            </connector>
            <label>Active Status</label>
        </rules>
        <rules>
            <name>Inactive_Status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AppSetting</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Display_Inactive_Message</targetReference>
            </connector>
            <label>Inactive Status</label>
        </rules>
    </decisions>
    <formulas>
        <name>Inactive_Msg</name>
        <dataType>String</dataType>
        <expression>&#39;ERROR:  TSA Submission Request to SAP failed!  TSA application is currently on lock down from &#39;  + {!EXP_Lock_Start_Date} + &#39; to &#39; + {!EXP_Lock_End_Date} +   &#39;.  Please try again later.&#39;</expression>
    </formulas>
    <interviewLabel>TSA - Submit to SAP Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TSA - Submit to SAP Screen Flow</label>
    <loops>
        <name>Loop_through_Batch_records</name>
        <label>Loop through Batch records</label>
        <locationX>406</locationX>
        <locationY>624</locationY>
        <assignNextValueToReference>RequestDetail</assignNextValueToReference>
        <collectionReference>RequestDetailList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Status_to_Submitted</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Batch_Status</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Batch_records</name>
        <label>Get Batch records</label>
        <locationX>60</locationX>
        <locationY>625</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Batch_records</targetReference>
        </connector>
        <filters>
            <field>Request_Header__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EXP_Request_Header_Id</elementReference>
            </value>
        </filters>
        <object>Request_Detail__c</object>
        <outputReference>RequestDetailList</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>TSA_SAP_Integration_Status__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Request_Header</name>
        <label>Get Request Header</label>
        <locationX>195</locationX>
        <locationY>22</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Request_Status</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EXP_Request_Header_Id</elementReference>
            </value>
        </filters>
        <object>Request_Header__c</object>
        <outputAssignments>
            <assignToReference>Request_Header.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Request_Header.Status__c</assignToReference>
            <field>Status__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Request_Header.TSA_Batch_Count__c</assignToReference>
            <field>TSA_Batch_Count__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_TSA_App_Settings</name>
        <label>Get TSA App Settings</label>
        <locationX>66</locationX>
        <locationY>254</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>TSA_App_Status_Active</targetReference>
        </connector>
        <filters>
            <field>Schedule_Lock_End__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Schedule_Lock_Start__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <object>TSA_App_Settings__c</object>
        <outputAssignments>
            <assignToReference>AppSetting.App_Status__c</assignToReference>
            <field>App_Status__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>AppSetting.Schedule_Lock_End__c</assignToReference>
            <field>Schedule_Lock_End__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>AppSetting.Schedule_Lock_Start__c</assignToReference>
            <field>Schedule_Lock_Start__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Batch_Status</name>
        <label>Update Batch Status</label>
        <locationX>590</locationX>
        <locationY>554</locationY>
        <connector>
            <targetReference>Display_Success_Message</targetReference>
        </connector>
        <inputReference>updBatchList</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_TSA_Request_Header_Status</name>
        <label>Update TSA Request Header Status</label>
        <locationX>60</locationX>
        <locationY>501</locationY>
        <connector>
            <targetReference>Get_Batch_records</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EXP_Request_Header_Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </inputAssignments>
        <object>Request_Header__c</object>
    </recordUpdates>
    <screens>
        <name>Display_Inactive_Message</name>
        <label>Display Inactive Message</label>
        <locationX>631</locationX>
        <locationY>400</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Inactive</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;{!Inactive_Msg}&lt;/B&gt;&lt;FONT STYLE=&quot;font-size:12px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Display_Success_Message</name>
        <label>Display Success Message</label>
        <locationX>786</locationX>
        <locationY>551</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ActiveMsgDisplay</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;{!EXP_Success_Msg}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>DisplayError1</name>
        <label>TSA Request Not Found</label>
        <locationX>607</locationX>
        <locationY>27</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>HeaderNotFoundError</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;ERROR:  TSA Record not found&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Invalid_Request_Status</name>
        <label>Invalid TSA Request Status</label>
        <locationX>602</locationX>
        <locationY>151</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>InvalidTSARequestStatusError</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;ERROR:  Submission to SAP failed - TSA Request Status not equal &amp;quot;Draft&amp;quot;&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Transaction_Error_Screen</name>
        <label>No Material Error Screen</label>
        <locationX>605</locationX>
        <locationY>277</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>No_Transaction_Error_Msg</name>
            <fieldText>&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#FF0000&quot; &gt;&lt;b&gt;ERROR:  Submission to SAP failed -- No Material records found&lt;/b&gt;&lt;/font&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Get_Request_Header</startElementReference>
    <status>Active</status>
    <variables>
        <name>AppSetting</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TSA_App_Settings__c</objectType>
    </variables>
    <variables>
        <description>Message to indicates submission failure</description>
        <name>EXP_Inactive_Sub_Msg1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>TSA Submission Request to SAP failed!  TSA application is currently on lock down</stringValue>
        </value>
    </variables>
    <variables>
        <name>EXP_Lock_End_Date</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>AppSetting.Schedule_Lock_End__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>EXP_Lock_Start_Date</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>AppSetting.Schedule_Lock_Start__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>EXP_Request_Header_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EXP_Submit_to_SAP_Status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Submitted to SAP</stringValue>
        </value>
    </variables>
    <variables>
        <name>EXP_Success_Msg</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Success:  TSA Submission to SAP request has been completed!</stringValue>
        </value>
    </variables>
    <variables>
        <name>EXP_TSA_App_Status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Request_Header</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Request_Header__c</objectType>
    </variables>
    <variables>
        <name>RequestDetail</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Request_Detail__c</objectType>
    </variables>
    <variables>
        <name>RequestDetailList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Request_Detail__c</objectType>
    </variables>
    <variables>
        <name>updBatchList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Request_Detail__c</objectType>
    </variables>
    <variables>
        <name>updBatchRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Request_Detail__c</objectType>
    </variables>
</Flow>
