force-app/main/default/flows/Update_address_fileds_from_address_to_vendor.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <interviewLabel>Update address fileds from address to vendor {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update address fileds from address to vendor</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Fetch_the_shipping_address_records</name>
        <label>Fetch the shipping address records</label>
        <locationX>235</locationX>
        <locationY>58</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Vendor_details</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UPDATED_VENDOR_ADDRESS_ID.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Vendor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Vendor</elementReference>
            </value>
        </filters>
        <object>Shipping_Address__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Vendor__c</queriedFields>
        <queriedFields>Address_Line_1__c</queriedFields>
        <queriedFields>Address_line_2__c</queriedFields>
        <queriedFields>Country__c</queriedFields>
        <queriedFields>City__c</queriedFields>
        <queriedFields>Zip__c</queriedFields>
        <queriedFields>State__c</queriedFields>
        <queriedFields>Primary__c</queriedFields>
        <queriedFields>Current__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Vendor_details</name>
        <label>Vendor details</label>
        <locationX>441</locationX>
        <locationY>58</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_address_fields_of_vendor</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Vendor</elementReference>
            </value>
        </filters>
        <object>Vendor__c</object>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_address_fields_of_vendor</name>
        <label>Update address fields of vendor</label>
        <locationX>667</locationX>
        <locationY>58</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Vendor</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Address__c</field>
            <value>
                <elementReference>Fetch_the_shipping_address_records.Address_Line_1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City__c</field>
            <value>
                <elementReference>Fetch_the_shipping_address_records.City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Zip__c</field>
            <value>
                <elementReference>Fetch_the_shipping_address_records.Zip__c</elementReference>
            </value>
        </inputAssignments>
        <object>Vendor__c</object>
    </recordUpdates>
    <startElementReference>Fetch_the_shipping_address_records</startElementReference>
    <status>Active</status>
    <variables>
        <name>UPDATED_VENDOR_ADDRESS_ID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Shipping_Address__c</objectType>
    </variables>
    <variables>
        <name>Vendor</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
