force-app/main/default/flows/Update_territories_on_Acquisition_Deal_when_Primary_Terms_Speculative_Deals_a.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>myVariable_waitStartTimeAssignment</name>
        <label>myVariable_waitStartTimeAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>myVariable_waitStartTimeVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myDecision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Check if an Acquisition Deal is attached</label>
        </rules>
    </decisions>
    <description>Update territories on Acquisition Deal when Primary Terms Speculative Deals are updated</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF([Primary_Terms__c].Acquisition_Deal__c.Worldwide__c, &#39;worldwide;&#39;, &#39;&#39;)  &amp; 
IF([Primary_Terms__c].Acquisition_Deal__c.Austrailasia__c, &#39;Australasia;&#39;, &#39;&#39;)  &amp;
IF([Primary_Terms__c].Acquisition_Deal__c.Benelux__c, &#39;Benelux;&#39;, &#39;&#39;)  &amp;
IF([Primary_Terms__c].Acquisition_Deal__c.Brazil__c, &#39;Brazil;&#39;, &#39;&#39;)  &amp;
IF([Primary_Terms__c].Acquisition_Deal__c.Canada__c, &#39;Canada;&#39;, &#39;&#39;)  &amp;
IF([Primary_Terms__c].Acquisition_Deal__c.Caribbean_Basin__c, &#39;Caribbean Basin;&#39;, &#39;&#39;)  &amp;
IF([Primary_Terms__c].Acquisition_Deal__c.China__c, &#39;China;&#39;, &#39;&#39;)  &amp;
IF([Primary_Terms__c].Acquisition_Deal__c.Eastern_Europe_Baltics__c, &#39;Eastern Europe &amp; Baltics;&#39;, &#39;&#39;)  &amp;
IF([Primary_Terms__c].Acquisition_Deal__c.France__c, &#39;France;&#39;, &#39;&#39;)  &amp;
IF([Primary_Terms__c].Acquisition_Deal__c.GAS__c, &#39;GAS;&#39;, &#39;&#39;)  &amp;
IF([Primary_Terms__c].Acquisition_Deal__c.India__c, &#39;India;&#39;, &#39;&#39;)  &amp;
IF([Primary_Terms__c].Acquisition_Deal__c.Italy__c, &#39;Italy;&#39;, &#39;&#39;)  &amp;
IF([Primary_Terms__c].Acquisition_Deal__c.Japan__c, &#39;Japan;&#39;, &#39;&#39;)  &amp;
IF([Primary_Terms__c].Acquisition_Deal__c.Mexico__c, &#39;Mexico;&#39;, &#39;&#39;)  &amp;
IF([Primary_Terms__c].Acquisition_Deal__c.Middle_East__c, &#39;Middle East;&#39;, &#39;&#39;)  &amp;
IF([Primary_Terms__c].Acquisition_Deal__c.South_Africa__c, &#39;South Africa;&#39;, &#39;&#39;)  &amp;
IF([Primary_Terms__c].Acquisition_Deal__c.South_Korea__c, &#39;South Korea;&#39;, &#39;&#39;)  &amp;
IF([Primary_Terms__c].Acquisition_Deal__c.Scandinavia__c, &#39;Scandinavia;&#39;, &#39;&#39;)  &amp;
IF([Primary_Terms__c].Acquisition_Deal__c.Spain__c, &#39;Spain;&#39;, &#39;&#39;)  &amp;
IF([Primary_Terms__c].Acquisition_Deal__c.Portugal__c, &#39;Portugal;&#39;, &#39;&#39;)  &amp;
IF([Primary_Terms__c].Acquisition_Deal__c.Rest_of_Africa_East_and_West__c, &#39;Rest of Africa (East and West);&#39;, &#39;&#39;)  &amp;
IF([Primary_Terms__c].Acquisition_Deal__c.Rest_of_Asia_excl_India_China_Japan__c, &#39;Rest of Asia (not India, China and Japan);&#39;, &#39;&#39;)  &amp;
IF([Primary_Terms__c].Acquisition_Deal__c.Rest_of_LATAM_excl_Brazil_and_Mexico__c, &#39;Rest of Latin America (not Brazil and Mexico);&#39;, &#39;&#39;)  &amp;
IF([Primary_Terms__c].Acquisition_Deal__c.Russia_CIS__c, &#39;Russia &amp; CIS;&#39;, &#39;&#39;)  &amp;
IF([Primary_Terms__c].Acquisition_Deal__c.UK_Eire__c, &#39;UK &amp; Eire;&#39;, &#39;&#39;)  &amp;
IF([Primary_Terms__c].Acquisition_Deal__c.US__c, &#39;US;&#39;, &#39;&#39;)  </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_2_myRule_1_A1_Acquisition_Territories_c</name>
        <dataType>String</dataType>
        <expression>IF({!myVariable_current.Acquisition_Deal__c.Worldwide__c}, &#39;worldwide;&#39;, &#39;&#39;)  &amp; 
IF({!myVariable_current.Acquisition_Deal__c.Austrailasia__c}, &#39;Australasia;&#39;, &#39;&#39;)  &amp;
IF({!myVariable_current.Acquisition_Deal__c.Benelux__c}, &#39;Benelux;&#39;, &#39;&#39;)  &amp;
IF({!myVariable_current.Acquisition_Deal__c.Brazil__c}, &#39;Brazil;&#39;, &#39;&#39;)  &amp;
IF({!myVariable_current.Acquisition_Deal__c.Canada__c}, &#39;Canada;&#39;, &#39;&#39;)  &amp;
IF({!myVariable_current.Acquisition_Deal__c.Caribbean_Basin__c}, &#39;Caribbean Basin;&#39;, &#39;&#39;)  &amp;
IF({!myVariable_current.Acquisition_Deal__c.China__c}, &#39;China;&#39;, &#39;&#39;)  &amp;
IF({!myVariable_current.Acquisition_Deal__c.Eastern_Europe_Baltics__c}, &#39;Eastern Europe &amp; Baltics;&#39;, &#39;&#39;)  &amp;
IF({!myVariable_current.Acquisition_Deal__c.France__c}, &#39;France;&#39;, &#39;&#39;)  &amp;
IF({!myVariable_current.Acquisition_Deal__c.GAS__c}, &#39;GAS;&#39;, &#39;&#39;)  &amp;
IF({!myVariable_current.Acquisition_Deal__c.India__c}, &#39;India;&#39;, &#39;&#39;)  &amp;
IF({!myVariable_current.Acquisition_Deal__c.Italy__c}, &#39;Italy;&#39;, &#39;&#39;)  &amp;
IF({!myVariable_current.Acquisition_Deal__c.Japan__c}, &#39;Japan;&#39;, &#39;&#39;)  &amp;
IF({!myVariable_current.Acquisition_Deal__c.Mexico__c}, &#39;Mexico;&#39;, &#39;&#39;)  &amp;
IF({!myVariable_current.Acquisition_Deal__c.Middle_East__c}, &#39;Middle East;&#39;, &#39;&#39;)  &amp;
IF({!myVariable_current.Acquisition_Deal__c.South_Africa__c}, &#39;South Africa;&#39;, &#39;&#39;)  &amp;
IF({!myVariable_current.Acquisition_Deal__c.South_Korea__c}, &#39;South Korea;&#39;, &#39;&#39;)  &amp;
IF({!myVariable_current.Acquisition_Deal__c.Scandinavia__c}, &#39;Scandinavia;&#39;, &#39;&#39;)  &amp;
IF({!myVariable_current.Acquisition_Deal__c.Spain__c}, &#39;Spain;&#39;, &#39;&#39;)  &amp;
IF({!myVariable_current.Acquisition_Deal__c.Portugal__c}, &#39;Portugal;&#39;, &#39;&#39;)  &amp;
IF({!myVariable_current.Acquisition_Deal__c.Rest_of_Africa_East_and_West__c}, &#39;Rest of Africa (East and West);&#39;, &#39;&#39;)  &amp;
IF({!myVariable_current.Acquisition_Deal__c.Rest_of_Asia_excl_India_China_Japan__c}, &#39;Rest of Asia (not India, China and Japan);&#39;, &#39;&#39;)  &amp;
IF({!myVariable_current.Acquisition_Deal__c.Rest_of_LATAM_excl_Brazil_and_Mexico__c}, &#39;Rest of Latin America (not Brazil and Mexico);&#39;, &#39;&#39;)  &amp;
IF({!myVariable_current.Acquisition_Deal__c.Russia_CIS__c}, &#39;Russia &amp; CIS;&#39;, &#39;&#39;)  &amp;
IF({!myVariable_current.Acquisition_Deal__c.UK_Eire__c}, &#39;UK &amp; Eire;&#39;, &#39;&#39;)  &amp;
IF({!myVariable_current.Acquisition_Deal__c.US__c}, &#39;US;&#39;, &#39;&#39;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>(ISNEW()) &amp;&amp; NOT(ISNULL([Primary_Terms__c].Acquisition_Deal__c) ) &amp;&amp; ( ISPICKVAL([Primary_Terms__c].Acquisition_Deal__c.Acquisition_Deal_Stage__c, &quot;Speculative&quot;)  )
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>(ISNEW()) &amp;&amp; NOT(ISNULL({!myVariable_current.Acquisition_Deal__c}) ) &amp;&amp; ( ISPICKVAL({!myVariable_current.Acquisition_Deal__c.Acquisition_Deal_Stage__c}, &quot;Speculative&quot;)  )</expression>
    </formulas>
    <interviewLabel>Update_territories_on_Acquisition_Deal_when_Primary_Terms_Speculative_Deals_a-2_Primary_Terms__c</interviewLabel>
    <label>Update territories on Acquisition Deal when Primary Terms Speculative Deals are updated</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Primary_Terms__c</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Primary_Terms__c]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Update Acquisition Territory</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>MultiPicklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>+ Acquisition Territories</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Acquisition_Territories__c</field>
            <value>
                <elementReference>formula_2_myRule_1_A1_Acquisition_Territories_c</elementReference>
            </value>
        </inputAssignments>
        <object>Primary_Terms__c</object>
    </recordUpdates>
    <startElementReference>myVariable_waitStartTimeAssignment</startElementReference>
    <status>Active</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Primary_Terms__c</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Primary_Terms__c</objectType>
    </variables>
    <variables>
        <name>myVariable_waitStartTimeVariable</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
</Flow>
